<div class="row">
    <div class="col-md-12">

        <h2>
            <div class="alert alert-primary">
                Project / Study Metadata
            </div>
        </h2>

        <div id="project-metadata-entry">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>
            <div class="alert alert-primary">
                Subject Metadata
            </div>
        </h2>

        <div id="subject-metadata-entry">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>
            <div class="alert alert-primary">
                BioMaterial Processing Metadata
            </div>
        </h2>

        <div id="bp-metadata-entry">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>
            <div class="alert alert-primary">
                Sample Metadata
            </div>
        </h2>

        <div id="sample-metadata-entry">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h2>
            <div class="alert alert-primary">
                Sample Groups
            </div>
        </h2>

        <div id="sample-groups-entry">
        </div>

    </div>
</div>
