<form id="sample-groups-form" class="form-horizontal">
  <div class="row">
    <div class="col-md-12">
      {{#if sampleGroups}}
        {{#each sampleGroups}}
        <div class="form-group">
          <div class="col-md-1">
              <img src="../images/rodentia-icons_emblem-minus-300px.png" style="width:35px;height:35px;" class="removeSampleGroup center-block" data-tuple="{{@index}}">
          </div>
          <label for="sample-groups-name" class="col-md-1 control-label">Name:</label>
          <div class="col-md-2">
            <input type="text" class="form-control sampleGroup" id="sample-groups-name" placeholder="Group Name" value="{{this.value.name}}" data-tuple="{{@index}}">
          </div>
          <label for="sample-groups-description" class="col-md-2 control-label">Description:</label>
          <div class="col-md-6">
            <input type="text" class="form-control sampleGroup" id="sample-groups-description" placeholder="Group Description" value="{{this.value.description}}" data-tuple="{{@index}}">
          </div>
        </div>

        <div class="form-group">
          <label for="sample-groups-category" class="col-md-2 control-label">Category Field:</label>
          <div class="col-md-2">
              <select class="form-control sampleGroup" id="sample-groups-category" data-tuple="{{@index}}">
                  <option></option>
                  <optgroup label="Subject Fields">
                  {{#each ../subjectColumnNames}}
                  <option {{ifCondSelected this.value ../this.value.category}} value="{{this.value}}">{{this.name}}</option>
                  {{/each}}
                  </optgroup>
                  <optgroup label="Sample Fields">
                  {{#each ../sampleColumnNames}}
                  <option {{ifCondSelected this.value ../this.value.category}} value="{{this.value}}">{{this.name}}</option>
                  {{/each}}
                  </optgroup>
              </select>
          </div>
          <label for="sample-groups-logical" class="col-md-2 control-label">Logical:</label>
          <div class="col-md-2">
              <select class="form-control sampleGroup" id="sample-groups-logical_field" data-tuple="{{@index}}">
                  <option></option>
                  <optgroup label="Subject Fields">
                  {{#each ../subjectColumnNames}}
                  <option {{ifCondSelected this.value ../this.value.logical_field}} value="{{this.value}}">{{this.name}}</option>
                  {{/each}}
                  </optgroup>
                  <optgroup label="Sample Fields">
                  {{#each ../sampleColumnNames}}
                  <option {{ifCondSelected this.value ../this.value.logical_field}} value="{{this.value}}">{{this.name}}</option>
                  {{/each}}
                  </optgroup>
              </select>
          </div>
          <div class="col-md-2">
              <select class="form-control sampleGroup" id="sample-groups-logical_operator" data-tuple="{{@index}}">
                <option></option>
                <option value="=" {{ifCondSelected this.value.logical_operator "="}}>=</option>
                <option value="!=" {{ifCondSelected this.value.logical_operator "!="}}>!=</option>
                <option value=">" {{ifCondSelected this.value.logical_operator ">"}}>></option>
                <option value=">=" {{ifCondSelected this.value.logical_operator ">="}}>>=</option>
                <option value="<" {{ifCondSelected this.value.logical_operator "<"}}><</option>
                <option value="<=" {{ifCondSelected this.value.logical_operator "<="}}><=</option>
                <option value="contains" {{ifCondSelected this.value.logical_operator "contains"}}>contains</option>
              </select>
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control sampleGroup" id="sample-groups-logical_value" placeholder="Value" value="{{this.value.logical_value}}" data-tuple="{{@index}}">
          </div>
        </div>

        <div class="form-group">
          <label for="sample-groups-sample" class="col-md-2 control-label">Samples:</label>
          <div class="col-md-4">
              <select id="sample-groups-{{@index}}-samples" data-tuple="{{@index}}" multiple="multiple">
                  {{#each ../workSamples}}
                  <option value="{{this.uuid}}">{{this.value.Name}}</option>
                  {{/each}}
              </select>
          </div>
          <label for="sample-groups-uuid" class="col-md-2 control-label">VDJServer UUID:</label>
          <div class="col-md-4">
            <input type="text" class="form-control" id="sample-groups-uuid" readonly value="{{this.uuid}}">
          </div>
        </div>

        <div class="form-group">
        </div>
        {{/each}}
      {{else}}
        <div class="alert alert-danger">
            No Sample Groups defined. Create new entries or Import using the Action menu below.
        </div>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-2">
        <div class="btn-group">
            <button
                id="metadata-action-button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
            >
                Metadata Actions
                <i class="fa fa-caret-down"></i>
            </button>

            <ul
                class="dropdown-menu"
                role="menu"
            >
                <li class="metadata-actions">
                    <a
                        class="metadata-add-entry"
                        id="addSampleGroup"
                        data-bypass=true
                    >
                        Add Sample Group Entry
                    </a>
                </li>

                <li class="metadata-actions disabled">
                    <a
                        class="download-multiple-files"
                        id="importFromFile"
                        data-bypass=true
                    >
                        Import from File
                    </a>
                </li>

                <li class="metadata-actions disabled">
                    <a
                        class="download-multiple-files"
                        id="importToFile"
                        data-bypass=true
                    >
                        Export to File
                    </a>
                </li>
            </ul>

        </div>
      </div>
      <div class="col-md-3">
        <button id="save-sample-groups" type="submit" class="btn btn-success">Save Sample Groups</button>
      </div>
      <div class="col-md-3">
        <button id="revert-sample-groups-modal" class="btn btn-warning">Revert Changes</button>
      </div>
    </div>
  </div>
  </div>
</form>


<div>
    <div class="modal fade" id="revert-groups" tabindex="-1" role="dialog" aria-labelledby="revert-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="revert-modal-label">Revert Sample Groups Changes</h4>
                </div>
                <form id="revert-metadata-form" role="form">
                    <div class="modal-body">
                        Are you sure that you want to throw away your changes?
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="button" class="btn btn-danger" id="revert-metadata" value="Revert">
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
