<dl class="dl-horizontal">
    <dt>Username</dt>
    <dd>{{username}}</dd>

    <dt>Token</dt>
    <dd>{{token}}</dd>

    <dt>Created</dt>
    <dd>{{created_date}}</dd>

    <dt>Expires</dt>
    <dd class="expires">{{expires_date}}</dd>

    <dt>Remaining uses</dt>
    <dd>{{remaining_uses}}</dd>

    <dt>Actions</dt>
    <dd>
        <a class="btn btn-info btn-renew">Renew</a>
        <a class="btn btn-info btn-validate">Validate</a>
        {{#canDelete}}
            <a class="btn btn-danger btn-delete">Delete</a>
        {{/canDelete}}
        <p><small>Renewing a token extend the token expiry two hours from the time it was renewed.</small></p>
    </dd>
</dl>