<tr>
    <td>
        Discard Reads Without Barcodes?
    </td>
    <td>
        {{#if options.required}}
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-required"
                type="checkbox"
                checked
            >
        {{else}}
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-required"
                type="checkbox"
            >
        {{/if}}
    </td>
</tr>
<tr>
    <td>
        Maximum Number of Mismatches
    </td>
    <td>
        <input
            class="job-form-item"
            name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-maximum-mismatches"
            type="number"
            value="{{options.max_mismatches}}"
            step="1"
            min="0"
            pattern="\d+"
        >
    </td>
</tr>
<tr>
    <td>
        Trim Barcode
    </td>
    <td>
        {{#if options.custom_trim}}
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-custom-trim"
                type="checkbox"
                checked
            >
        {{else}}
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-custom-trim"
                type="checkbox"
            >
        {{/if}}
    </td>
</tr>
