// colors
$green: #00a0af;
$white: #ffffff;
$black: #333333;
$grey: #949494;
$lightGrey: #cccccc;

// bootstrap
$iconSpritePath:          '../components/sass-bootstrap/img/glyphicons-halflings.png';
$iconWhiteSpritePath:     '../components/sass-bootstrap/img/glyphicons-halflings-white.png';

// font-awesome
$fontAwesomePath:   'fonts';

// compass
$default-border-radius: 4px;
