<div class="alert alert-info">
    <i class="fa fa-user"></i> Create a new VDJ account.
</div>

<form method="post" class="form-horizontal" role="form">
    <div class="form-group" id="username-container">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Username" name="username" id="username" class="form-control">
        </div>
    </div>
    <div class="form-group" id="email-container">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" placeholder="Email" name="email" id="email" class="form-control">
        </div>
    </div>
    <div class="form-group" id="password-container">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" placeholder="Password" name="password" id="password" class="form-control">
        </div>
    </div>
    <div class="form-group" id="passwordCheck-container">
        <label for="password" class="col-sm-2 control-label">Password Check</label>
        <div class="col-sm-10">
            <input type="password" placeholder="Password Check" name="passwordCheck" id="passwordCheck" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <input type="submit" value="Log In" class="btn btn-success btn-block">
        </div>
    </div>
</form>
