<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Create a new VDJ account.
</div>

<form method="post">
    <fieldset>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email" id="email">
    </fieldset>
    <input type="submit" value="Create New Account" class="btn btn-success">
</form>
