<div class="container">
    <div class="col-md-12">
        <div class="public-view">
            <div class="alert alert-info">
                <i class="fa fa-lock"></i> Choose a new password.
            </div>

            <form method="post" class="form-horizontal" role="form">
                <div class="form-group" id="uuid-container">
                    <label for="uuid" class="col-sm-2 control-label">Reset key</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="uuid" id="uuid" value="{{uuid}}">
                        <p class="form-control-static text-muted">{{uuid}}</p>
                    </div>
                </div>

                <div class="form-group" id="username-container">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input autofocus type="text" placeholder="Verify your username" name="username" id="username" class="form-control" value="{{username}}">
                    </div>
                </div>

                <div class="form-group" id="newPassword-container">
                    <label for="newPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" placeholder="Choose a new password" name="newPassword" id="newPassword" class="form-control">
                    </div>
                </div>

                <div class="form-group" id="passwordCheck-container">
                    <label for="password" class="col-sm-2 control-label">Verify</label>
                    <div class="col-sm-10">
                        <input type="password" placeholder="Verify new password" name="passwordCheck" id="passwordCheck" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="submit" value="Reset password" class="btn btn-success btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
