{{> vdjpipe-base-view-top}}

<div class="row row-with-spacer">
    <div class="col-md-12">
        Min Length
        &nbsp;
        <input
            class="job-form-item"
            name="{{parameterType}}-min-length"
            type="number"
            value="{{options.min_length}}"
            step="1"
            min="0"
            pattern="\d+"
        >
    </div>
</div>
<div class="row row-with-spacer">
    <div class="col-md-12">
        Max Ambiguous
        &nbsp;
        <input
            class="job-form-item"
            name="{{parameterType}}-max-ambiguous"
            type="number"
            value="{{options.max_ambiguous}}"
            step="1"
            min="0"
            pattern="\d+"
        >
    </div>
</div>

{{> vdjpipe-base-view-bottom}}
