{{> vdjpipe-base-view-top}}

    <div class="row">
        <div class="col-md-12">
            <p>
            Quality statistics includes a length histogram,
            a histogram of the average quality score per read,
            and a box-and-whiskers plot of the quality score distribution at each read position.</p>
            <p>
            Composition statistics includes a histogram of the per-read GC content and a plot of the percentage of each nucleotide and of ambiguous base calls at each read position.
            </p>
        </div>
    </div>

{{> vdjpipe-base-view-bottom}}
