{{> vdjpipe-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-6">

            {{> vdjpipe-paired-reads-direction-limited-fragment}}

            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Output Filename Prefix
                    &nbsp;
                    <input
                        class="job-form-item"
                        name="{{parameterType}}-out-prefix"
                        placeholder="text"
                        type="text"
                        value="{{options.out_prefix}}"
                    >
                </div>
            </div>
        </div>
        <div class="col-md-6">
            This module generates a length histogram, a histogram of the average quality score per read, and a box-and-whiskers plot of the quality score distribution at each read position.
        </div>
    </div>

{{> vdjpipe-base-view-bottom}}
