{{> vdjpipe-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-12">
            Name
            &nbsp;
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-name"
                placeholder="text"
                type="text"
                value="{{options.name}}"
            >
        </div>
    </div>
    <div class="row row-with-spacer">
        <div class="col-md-12">
            Output Path
            &nbsp;
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-out-path"
                placeholder="text"
                type="text"
                value="{{options.out_path}}"
            >
        </div>
    </div>

{{> vdjpipe-base-view-bottom}}
