{{> vdjpipe-base-view-top}}

    <div class="row">
        <div class="col-md-12">
            <p>
            This module saves the processed sequence reads. These are the total reads before any read sequence collapsing is performed.
            </p>
            <p>
            If Barcode Demultiplexing is enabled and Split is enabled then multiple files will be generated based upon the barcode names, otherwise all sequences will be put in a single file.
            </p>
        </div>
    </div>

{{> vdjpipe-base-view-bottom}}
