[submodule "component/airr-standards"]
	path = component/airr-standards
	url = https://github.com/airr-community/airr-standards
[submodule "component/airrvisualizationlibrary"]
	path = component/airrvisualizationlibrary
	url = https://github.com/ireceptorplus-inesctec/airrvisualizationlibrary
