<!--
- Subview for the repertoire summary
- One line with repertoire name and uuid
- Expand/contract button, Edit and other buttons
-->
<div class="col-md-12" id="edit-mode-header">
    Edit Mode Header: {{edit_mode}}
</div>

<!-- Expand/contract button -->
<div class="col-md-1">
    <a class="fa fa-chevron-up rotate" data-toggle="collapse" aria-expanded="false" aria-controls="details" id="show-details"></a>
</div>

<div class="form-group col-md-4 form-inline rep-form-group">
    <label for="repertoire_name">Name: </label>
    {{#unless edit_mode}}
        &nbsp; {{value.repertoire_name}}
    {{/unless}}

    {{#if edit_mode}}
        <input type="text" name="repertoire_name" id="repertoire_name" class="form-control" placeholder="Repertoire Name" value="{{value.repertoire_name}}">
    {{/if}}
</div>

<div class="form-group col-md-5 form-inline rep-form-group">
    <label for="repertoire_uuid">UUID: </label>
    {{#unless edit_mode}}
        &nbsp; {{uuid}}
    {{/unless}}

    {{#if edit_mode}}
        <input type="text" name="repertoire_uuid" id="repertoire_uuid" class="form-control" value="{{uuid}}">
    {{/if}}
</div>

<div class="col-md-2">
    <div class="repertoire-actions">
        {{#unless edit_mode}}
            <button type="button" class="btn btn-warning show" id="edit-repertoire">Edit</button>
        {{/unless}}

        {{#if edit_mode}}
            <input type="button" class="btn btn-success no-display" id="save-repertoire" value="Save">
        {{/if}}

        {{#if edit_mode}}
            <input type="reset" class="btn btn-cancel" id="revert-rep-changes" value="Revert Changes">
        {{/if}}

        <button type="button" class="btn btn-danger" id="copy-repertoire">Copy</button>
    </div>
</div>
