<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Add Nucleic Acid information to a sample by filling out the form below.
</div>

Select a Sample:

<h2>Add Nucleic Acid</h2>
<form>
    <div class="form-group">
      <input type="file" name="uploadNucleic" class="form-control-file" id="uploadNucleic">
      <label for="uploadNucleic" class="btn btn-primary">
        <i class="fa fa-upload"></i>
        Import Nucleic Acid Metadata
      </label>
  </div>
</form>

<form method="post" role="form" id="addNucleic-form" class="needs-validation" name="nucleic" novalidate>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Nucleic Acid Processing ID
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="nucleic-ID" id="nucleic-ID" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid nucleic acid processing ID.
        </div>
    </div>
    <div class="form-group col-md-4">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Cell Processing UUID
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="cell-processing-ID" id="cell-processing-ID" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid cell processing uuid.
        </div>
    </div>
    <div class="form-group col-md-4">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            File Name UUID
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="file-UUID" id="file-UUID" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid File Name UUID.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Template Class
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="template-class" id="template-class" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid template class.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Template Quality
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="template-quality" id="template-quality" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid template quality.
        </div>
    </div>
    <div class="form-group col-md-4">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Template Amount
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="template-amount" id="template-amount" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid template amount.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Library Generation Method
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="library-method" id="library-method" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid library method.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Library Generation Protocol
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="library-protocol" id="library-protocol" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid library protocol.
        </div>
    </div>
    <div class="form-group col-md-2">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Library Generation Kit Version
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="library-kit" id="library-kit" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid library generation kit version.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            PCR Target Locus
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="pcr-locus" id="pcr-locus" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid PCR Target Locus.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Forward PCR Primer Target Location
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="forward-pcr" id="forward-pcr" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid Forward PCR Primer Target Location.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Reverse PCR Primer Target Location
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="reverse-pcr" id="reverse-pcr" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid Reverse PCR Primer Target Location.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Complete Sequences
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="complete-sequences" id="complete-sequences" placeholder"">
        <div class="invalid-feedback">
            Please enter valid complete sequences.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Physical Linkage
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="physical-linkage" id="physical-linkage" placeholder"">
        <div class="invalid-feedback">
            Please enter valid physical linkage.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Total Reads Passing QC Filter
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="reads-QC" id="reads-QC" placeholder"">
        <div class="invalid-feedback">
            Please enter valid Total Reads Passing QC Filter.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Sequencing Platform
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="sequencing-platform" id="sequencing-platform" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid sequencing platform.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Read Length
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="read-length" id="read-length" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid read length.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Sequencing Facility
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="sequencing-facility" id="sequencing-facility" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid sequencing facility.
        </div>
    </div>
    <div class="form-group col-md-3">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Sequencing Run ID
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="sequencing-run" id="sequencing-run" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid sequencing run ID.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Sequencing Run Date
            <!-- Popover -->
        </label>
        <input type="date" class="form-control" name="sequencing-run-date" id="sequencing-run-date" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid sequencing run date.
        </div>
    </div>
    <div class="form-group col-md-8">
        <label>
            <span>
                <!-- Tooltip -->
            </span>
            Sequencing Kit
            <!-- Popover -->
        </label>
        <input type="text" class="form-control" name="sequencing-kit" id="sequencing-kit" placeholder"">
        <div class="invalid-feedback">
            Please enter a valid sequencing kit.
        </div>
    </div>
</form>
<div class="rep-next-actions">
    <button type="button" class="btn btn-warning" id="save-nucleic"><i class="fa fa-save"></i> Save and Finish Later</button>
</div>
