<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Add Cell Processing information to a sample by filling out the form below.
</div>

Select a Sample:

<h2>Add Cell Processing</h2>

<div class="rep-next-actions">
    <button type="button" class="btn btn-warning" id="save-cell"><i class="fa fa-save"></i> Save and Finish Later</button>
    <button type="button" class="btn btn-primary" id="add-nucleic"><i class="fa fa-angle-double-right"></i> Add Nucleic Acid Processing Information</button>
</div>
