<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Add Sample information to the repertoire by filling out the form below.
</div>

Select a repertoire:

<h2>Add Sample</h2>

<div class="rep-next-actions">
    <button type="button" class="btn btn-warning" id="save-sample"><i class="fa fa-save"></i> Save and Finish Later</button>
    <button type="button" class="btn btn-primary" id="add-cell"><i class="fa fa-angle-double-right"></i> Add Cell Processing Information</button>
</div>
