<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Create a new repertoire by filling out the form below.
</div>

<form method="post" role="form" id="repertoire-form" class="needs-validation" name="repertoire" novalidate>
    <h2 class="form-section">Create a Repertoire</h2>
        <div class="form-group">
            <label>
                <span>
                    <!-- Tooltip -->
                </span>
                Repertoire Name

                <!-- Popover -->
            </label>
            <input type="text" class="form-control col-md-5" name="repertoire_name" id="repertoire_name" placeholder="">
            <div class="invalid-feedback">
                Please enter a valid Repertoire Name.
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>
                    <!-- Tooltip -->
                </span>
                Repertoire Description

                <!-- Popover -->
            </label>
            <textarea class="form-control col-md-7" name="repertoire_description" id="repertoire_description" placeholder="" rows="4"></textarea>
            <div class="invalid-feedback">
                Please enter a valid Repertoire Description.
            </div>
        </div>


    <!-- <h2>Subject Metadata</h2>
    <button type="button" class="btn btn-warning" id="add-subject"><i class="fa fa-plus"></i> Add Subject</button>
    <button type="button" class="btn btn-primary" id="subject-Metadata"><i class="fa fa-upload"></i> Import Subject Metadata</button>

    <table class='table'>
        <thead class='thead-light'>
            <tr>
                <th scope='col'>Subject ID</th>
                <th scope='col'>Synthetic</th>
                <th scope='col'>Organism</th>
                <th scope='col'>Sex</th>
                <th scope='col'>Age</th>
                <th scope='col'>Age Event</th>
                <th scope='col'>Ancestry Population</th>
                <th scope='col'>Ethnicity</th>
                <th scope='col'>Race</th>
                <th scope='col'>Strain Name</th>
                <th scope='col'>Linked Subjects</th>
                <th scope='col'>Link Types</th>
            </tr>
            <tbody>
                <tr scope="row">
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject ID" name="subjectID" id="subjectID">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Synthetic" name="synthetic" id="synthetic">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Organism" name="organism" id="organism">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="sex" name="sex" id="sex">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="age" name="age" id="age">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Age Event" name="ageEvent" id="ageEvent">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ancestry Population" name="ancestryPop" id="ancestryPop">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ethnicity" name="ethnicity" id="ethnicity">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Race" name="race" id="race">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Strain Name" name="strainName" id="strainName">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Linked Subjects" name="linkedSubjects" id="linkedSubjects">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Link Types" name="linkTypes" id="linkTypes">
                        </div>
                    </td>
                </tr>
                <!-- Insert another row if "Add Another Subject" button is clicked -->
            <!--</tbody>
        </thead>
    </table> -->
    <div class="rep-next-actions">
        <button type="button" class="btn btn-warning" id="save-repertoire"><i class="fa fa-save"></i> Save and Finish Later</button>

        <button type="button" class="btn btn-primary" id="add-subject"><i class="fa fa-angle-double-right"></i> Add Subject Information</button>
    </div>
</form>
