<div class="alert alert-success">
    <i class="fa fa-check"></i> You have successfully created a project!
</div>

<h1>Project Name</h1>
<p>Project Description</p>

<div class="row">
    <div class="col-md-6">
        <p>Project Type:</p>
        <p>NCBI: {{value.ncbi_bioproject}}</p>
        <p>Funding Agency: {{value.grant_agency}}</p>
        <p>Grants: {{value.grants}}</p>
        <p>Publications: {{value.publications}}p>
    </div>
    <div class="col-md-6">
        <p>Project Contact:</p>
        <p>Principal Investigator:</p>
    </div>
</div>

<p>You have no repertoire defined. Create the repertoires you want to analyze.</p>

<button class="btn btn-create btn-block" type="submit">Create a Repertoire</button>

<button class="btn btn-upload btn-block" type="submit">Upload Metadata</button>
