<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Create a new VDJServer project.
</div>

<form method="post" role="form">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Project Name" name="name" id="name">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Funding Agency" name="fundingAgency" id="funding">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <textarea class="form-control" placeholder="Project Description" name="projDesc" id="description" rows="3"></textarea>
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Grants" name="grants" id="grants">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <select class="custom-select mr-sm-2" id ="inlineFormCustomSelect">
                <option selected>Project Type</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="NCBI" name="NCBI" id="NCBI">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Publications" name="publications" id="publications">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Principal Investigator (PI)" name="PI" id="PI">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Project Contact" name="projectContact" id="projectContact">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="PI Institution" name="PIinstitution" id="PIinstitution">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Contact Institution" name="contactInst" id="contactInst">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="PI Email" name="PIEmail" id="PIEmail">
        </div>

        <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Contact Email" name="contactEmail" id="contactEmail">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <input type="submit" value="Create a new VDJServer Project" class="btn btn-success btn-block">
        </div>
    </div>

</form>
