<h1>{{value.study_title}}</h1>

<div class="sidebar-content">
    <h2>Files</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Modified</th>
          <th scope="col">Size</th>
          <th scope="col">File Origin</th>
          <th scope="col">Type</th>
          <th scope="col">Tags</th>
          <th scope="col">Read Direction</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">..</th>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
          <td>..</td>
        </tr>
      </tbody>
    </table>
</div>
