<div class="row">
    <div class="col-md-12">

        <div class="about-vdjserver">
          <h4>Project / Study Metadata</h4>
        </div>

        <div id="project-metadata-entry">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="about-vdjserver">
          <h4>Subject Metadata</h4>
        </div>

        <div id="subject-metadata-entry">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="about-vdjserver">
          <h4>Sample Metadata</h4>
        </div>

        <div id="sample-metadata-entry">
        </div>

    </div>
</div>
