<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="import-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="import-modal-label">Import Subject Table</h4>
            </div>
            <form method="post" class="form-horizontal" id="import-form" role="form">
                <div class="modal-body">
                    <div class="container-fluid">
                    <div class="form-group">
                    <div class="row">
                        <label for="file-upload-from-computer-file-browser" class="control-label col-md-2">Choose File:</label>
                        {{#if tsvFiles}}
                        <div class="col-md-4">
                            <select class="form-control import-form-item" id="file-import-name">
                                {{#each tsvFiles}}
                                <option value="{{this.uuid}}">{{this.value.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{else}}
                        <div class="col-md-10">
                            <div class="alert alert-danger">
                                No Applicable Files. Upload a TSV file containing the subject table. Export from the Subjects page to download template.
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="row">
                        <label for="data-operation" class="control-label col-md-2">Operation:</label>
                        <div class="col-md-4">
                            <select class="form-control import-form-item" id="data-operation">
                              <option value="replace">Delete Existing Metadata and Replace</option>
                              <option value="merge">Merge/Append to Existing Metadata</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    </div>

                </div>
            </form>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4">
                        <div id="import-processing-view" class="text-center"></div>
                    </div>
                </div>

                <div class="text-center">
                    <input
                        id="submit-import"
                        class="btn btn-success"
                        type="button"
                        value="Import File"
                        data-dismiss="modal"
                        {{#unless tsvFiles}}disabled{{/unless}}
                    >

                    <button
                        id="import-exit"
                        class="btn btn-cancel"
                        type="button"
                        data-dismiss="modal"
                    >
                        Cancel
                    </button>

                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
