            <div class="row">
                <div class="col-md-6 overview-summary">
                    <h3>Project Summary</h3>
                    <p>{{value.study_description}}</p>
                </div>
                <div class="col-md-6 overview-details">
                    <p><span class="details">Project Type:<span></p>
                    <p><span class="details">NCBI:</span> {{value.ncbi_bioproject}}</p>
                    <p><span class="details">Funding Agency:</span>{{value.grant_agency}}</p>
                    <p><span class="details">Grants:</span> {{value.grants}}</p>
                    <p><span class="details">Publications:</span> {{value.publications}}</p>
                    <p><span class="details">PI Name: {{value.pi_name}}</span></p>
                    <p><span class="details">Contact Name: {{value.contact_name}}</span></p>
                </div>
            </div>
            <div class="project-metadata">
                <button type="button" class="btn btn-info" id="edit-project">
                    Edit Project Metadata
                </button>
            </div>
