<!-- <pre>

{{airr_string}}
</pre> -->

        <form method="POST" role="form" id="editProject-form" class="needs-validation" name="editProject" novalidate>
            <div class="row">
                <div class="col-md-6 overview-summary">
                    Edit Mode: {{edit_mode}}
                    <h3>Project Summary</h3>
                    {{#unless edit_mode}}
                        <p>{{value.study_description}}</p>
                    {{/unless}}

                    {{#if edit_mode}}
                        <textarea class="form-control" name="study_description" id="description" rows="23">{{value.study_description}}</textarea>
                    {{/if}}
                </div>

                <div class="col-md-6 overview-details">
                    <div class="overview-item">
                        <span class="details">Study ID:</span>
                        {{#unless edit_mode}}
                            {{value.study_id}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control col-md-7" name="study_id" id="study_id" value="{{value.study_id}}" required>
                        {{/if}}
                    </div>
                    <div class="overview-item">
                        <span class="details">Study Type:</span>
                        {{#unless edit_mode}}
                            {{#if value.study_type.id}}
                                {{value.study_type.label}} ({{value.study_type.id}})
                            {{/if}}
                        {{/unless}}

                        {{#if edit_mode}}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownStudyType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{#if study_type_id}}
                            {{study_type_label}}
                            {{else}}
                            Choose a Study Type
                            {{/if}}
                            </button>
                            <div class="dropdown-menu" id="study-type-dropdown">
                                <a class="dropdown-item" id="study-type" name="NCIT:C16084" title="Observational Study">Observational Study</a>
                                <a class="dropdown-item" id="study-type" name="NCIT:C93130" title="Animal Study">Animal Study</a>
                                <div class="dropdown-divider"></div>
                                <form class="px-4 py-3">
                                <div class="form-group">
                                  <label for="study-type-search">Search:</label>
                                  <input type="input" class="form-control" id="study-type-search" placeholder="Search Study Type">
                                </div>
                              </form>
                              <label>Results:</label>
                              <div id="study-type-search-results"></div>
                            </div>
                        </div>
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Inclusion/Exclusion Criteria:</span>
                        {{#unless edit_mode}}
                            {{value.inclusion_exclusion_criteria}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <textarea class="form-control" name="inclusion_exclusion_criteria" id="criteria" rows="5" required>{{ value.inclusion_exclusion_criteria }}</textarea>
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Study Keywords:</span>
                        {{#unless edit_mode}}
                            {{value.keywords_study}}
                        {{/unless}}

                        {{#if edit_mode}}

                            {{#each airr_schema.properties.keywords_study.items.enum}}
                                    <div class="form-check custom-control custom-checkbox">
                                      <input class="form-check-input" type="checkbox" name="{{this}}" id="{{this}}" value="{{this}}" {{#contains this ../value.keywords_study}} checked {{/contains}}>
                                      <label class="form-check-label" for="{{@index}}">
                                        {{#with (lookup ../keywords_object this)}} {{this}} {{/with}}
                                      </label>
                                  </div>
                            {{/each}}
                        {{/if}}
                    </div>

                    <hr>

                    <div class="overview-item">
                        <span class="details">Publications:</span>
                        {{#unless edit_mode}}
                            {{value.pub_ids}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control" name="pub_ids" id="publications" required value="{{ value.pub_ids }}">
                        {{/if}}
                    </div>

                    <!-- <div class="overview-item">
                        <span class="details">Funding Agency:</span>
                        {{#unless edit_mode}}
                            {{value.grant_agency}}
                        {{/unless}}
                    </div> -->

                    <div class="overview-item">
                        <span class="details">Grants:</span>
                        {{#unless edit_mode}}
                            {{value.grants}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <textarea class="form-control" name="grants" id="grants" rows="4" required>{{value.grants}}</textarea>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="row overview-footer">
                <div class="col-md-8 overview-summary-details">
                    <div class="overview-item">
                        <span class="details">Lab Name/Principal Investigator (PI): </span>
                        {{#unless edit_mode}}
                            {{value.lab_name}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control col-md-6" name="lab_name" id="lab_name" required value="{{ value.lab_name }}">
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Lab Address:</span>
                        {{#unless edit_mode}}
                            {{value.lab_address}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control col-md-7" name="lab_address" id="lab_address" required value="{{ value.lab_address }}">
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Data Collector Name, Email and Address:</span>
                        {{#unless edit_mode}}
                            {{value.collected_by}}
                        {{/unless}}

                    {{#if edit_mode}}
                        <input type="text" class="form-control" name="collected_by" id="collected_by" required value="{{ value.collected_by }}">
                    {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Data Submitter Name, Email and Address:</span>
                        {{#unless edit_mode}}
                            {{value.submitted_by}}
                        {{/unless}}

                    {{#if edit_mode}}
                        <input type="text" class="form-control" name="submitted_by" id="submitted_by" required value="{{ value.submitted_by }}">
                    {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="project-metadata col-md-12">
                    {{#unless edit_mode}}
                        <button type="button" class="btn btn-edit float-md-right" id="edit-project">
                            Edit Project Metadata
                        </button>
                    {{/unless}}

                    {{#if edit_mode}}
                        <input type="button" class="btn btn-edit float-md-right" id="save-edit-project" value="Save Project">
                    {{/if}}

                    {{#if edit_mode}}
                        <input type="reset" class="btn btn-cancel float-md-right" id="revert-edit-changes" value="Revert Changes">
                    {{/if}}

                    <button type="button" class="btn btn-delete float-md-right" id="archive-project" data-toggle="modal" data-target="#delete-modal">Archive Project</button>

                    <!-- <button type="button" class="btn btn-info float-md-right" id="playground">
                        Handlebar Playground
                    </button> -->
                </div>
            </div>
        </form>

        <!-- Archive Project Modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="project-warning" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="project-warning" class="delete-warning">Delete Warning</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this project?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-delete" id="archive-project-yes">Yes</button>
                    </div>
                </div>
             </div>
        </div>
