    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="overview-tab" data-toggle="pill" href="/project/{{uuid}}" role="tab" aria-controls="overview-tab" aria-selected="true">Project Overview</a>
      <a class="nav-link" id="repertoire-tab" data-toggle="pill" href="/project/{{uuid}}/repertoires" role="tab" aria-controls="repertoire-tab" aria-selected="false">Repertoires</a>
      <a class="nav-link" id="files-tab" data-toggle="pill" href="/project/{{uuid}}/files" role="tab" aria-controls="files-tab" aria-selected="false">Files</a>
      <a class="nav-link" id="analyses-tab" data-toggle="pill" href="#analyses-tab" role="tab" aria-controls="analyses-tab" aria-selected="false">Analyses</a>
    </div>
