<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-headings">
            <thead>
                <tr>
                    <th class="text-center">
                        Sequence Read File
                    </th>
                    <th class="text-center">
                        Associated Quality Score File
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each fastaMetadatas}}
                    {{#ifCond value.fileType 2}}
                        <tr class="text-center">
                            <td>
                                <a class="download-file" href="#" data-bypass=true data-filename="{{value.name}}">{{value.name}}</a>
                            </td>
                            <td>
                                <select
                                    class="quality-score"
                                    data-fastauuid="{{uuid}}"
                                >
                                    <option></option>
                                    {{#each ../../qualMetadatas}}
                                        <option {{ifCondSelected this.uuid ../value.qualityScoreMetadataUuid}}>{{this.value.name}}</option>
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    {{/ifCond}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
