<!--
- Subview for the repertoire summary with subject info
- One line with subject id, sex, age, ...
-->

<div class="col-md-1">
    &nbsp;
</div>

    <div class="form-group col-md-4 form-inline">
        <label for="subject_id">Subject</label>

        <input type="text" name="subject_id" id="subject_id" placeholder="Subject ID" class="form-control-plaintext" value="{{value.subject_id}}" readonly>
    </div>

    <div class="form-group col-md-4 form-inline">
        <label for="age">Age</label>

        <input type="text" name="age" id="age" class="form-control-plaintext" value="{{value.age_unit.label}}" readonly>
    </div>

    <div class="form-group col-md-3 form-inline">
            <label for="sex">Sex</label>
            <input type="text" name="sex" id="sex" class="form-control-plaintext" value="{{value.sex}}" readonly>
    </div>
