<!-- <div id="new-repertoire-entry"></div>
            <div class="replist">
                <h2>Repertoires</h2>
                <p>{{properties.repetoire_id}}</p>
                <p>{{value.study}}</p>
                <p>{{value.subject}}</p>
                <p>{{value.sample}}</p>
                <p>{{value.data_processing}}</p>
                <button type="button" class="btn btn-success" id="create-rep">Create a repertoire</button>
                <button type="button" class="btn btn-success">Copy a repertoire</button>
                <table class="table table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date Created</th>
                            <th scope="col"># of Subjects</th>
                            <th scope="col"># of Samples</th>
                            <th scope="col">Tasks</th>
                        </tr>
                    </thead>
                    <tbody id="project">
                    </tbody>
                </table>
            </div> -->
