<!--
- Summary view for a single repertoire
- Meant to be compact for showing in a list
-->

<!-- Header Row -->
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <form class="form-inline">
            <tr id="repertoire-summary-header"></tr>
            <tr id="repertoire-summary-subject"></tr>
            <tr id="repertoire-summary-sample"></tr>
            <tr id="repertoire-summary-statistics"></tr>
        </form>
    </tbody>
</table>


<!-- <div id="repertoire-summary-header"></div>
<div id="repertoire-summary-subject" class="row"></div>
<div id="repertoire-summary-sample" class="row"></div>
<div id="repertoire-summary-statistics" class="row"></div> -->
