<!--
- Subview for the repertoire expanded view with sample info
-->

<div class="col-md-1">
    &nbsp;
</div>

<div class="col-md-11">
    <!-- <h2>This is the expanded Sample view</h2> -->
    <div id="sample_accordion">
        <div class="card">
            <div class="card-header" id="subject_heading">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#editSample_collapse" aria-expanded="true" aria-controls="editSample_collapse">
                      Sample Metadata
                    </button>
                  </h5>
            </div>
            <div id="editSample_collapse" class="collapse" aria-labelledby="subject_heading" data-parent="#sample_accordion">
                <div class="card-body">
                    <form method="post" role="form" id="addSample-form" class="needs-validation" name="sample" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Sample ID
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control" name="sample_id" id="sample_id" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Sample ID.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Sample Type
                                    <!-- Popover -->
                                </label>
                                <select class="custom-select" id="sample_type" required>
                                    <option value="1">
                                        <!-- Sample Type Option 1 -->
                                    </option>
                                    <option value="2">
                                        <!-- Sample Type Option 2 -->
                                    </option>
                                    <option value="3">
                                        <!-- Sample Type Option 3 -->
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    Please enter a valid Sample Type.
                                </div>
                            </div>

                            <!-- Ontology -->
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Tissue
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control" name="tissue" id="tissue" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid tissue.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Anatomic Site
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control" name="anatomic_site" id="anatomic_site" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Anatomic Site.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Disease State Sample
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control" name="disease_state_sample" id="disease_state_sample" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Disease State Sample.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Collection Time Point Relative
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control" name="collection_time_point_relative" id="collection_time_point_relative" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Collection Time Point Relative.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Collection Time Point Reference
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control" name="collection_time_point_reference" id="collection_time_point_reference" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Collection Time Point Reference.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Biomaterial Provider Name
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control col-md-4" name="biomaterial_provider_name" id="biomaterial_provider_name" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Biomaterial Provider Name.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <span>
                                        <!-- Tooltip -->
                                    </span>
                                    Biomaterial Provider Address
                                    <!-- Popover -->
                                </label>
                                <input type="text" class="form-control col-md-6" name="biomaterial_provider_address" id="biomaterial_provider_address" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please enter a valid Biomaterial Provider Address.
                                </div>
                            </div>
                        </div>

                        <div class="footer-actions">
                            <button type="button" class="btn btn-primary" id="saveEditSample"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
