<!--
- Subview for the repertoire summary
- One line with repertoire name and uuid
- Expand/contract button, Edit and other buttons
-->

<!-- Expand/contract button -->
<div class="col-md-1">
    <a class="fa fa-chevron-up rotate" data-toggle="collapse" aria-expanded="false" aria-controls="details" id="show-details"></a>
</div>

<div class="form-group col-md-4 form-inline">
    <label for="repertoire_name">Name </label>
    {{#unless edit_mode}}
        <span>{{value.repertoire_name}}</span>
    {{/unless}}

    {{#if edit_mode}}
        <input type="text" name="repertoire_name" id="repertoire_name" class="form-control-plaintext" placeholder="Repertoire Name" value="{{value.repertoire_name}}" readonly>
    {{/if}}
</div>

<div class="form-group col-md-5 form-inline">
    <label for="repertoire_uuid">UUID </label>
    <input type="text" name="repertoire_uuid" id="repertoire_uuid" class="form-control-plaintext" value="{{uuid}}" readonly>
</div>

<div class="col-md-2">
    <div class="repertoire-actions">
        <button type="button" class="btn btn-warning show" id="edit-repertoire">Edit</button>
        <button type="button" class="btn btn-success no-display" id="save-repertoire">Save</button>
        <button type="button" class="btn btn-danger" id="copy-repertoire">Copy</button>
    </div>
</div>
