<!--
- single repertoire statistics
- Meant to be compact for showing in a list
- TODO: handlebar-ized with actual values
-->
<p>Statistics Edit Mode: {{edit_mode}}</p>
<div class="col-md-1">
    &nbsp;
</div>

<div class="col-md-2">
    <span class="statistics-number">XX,XXX,XXX</span>
    <span class="statistics-name">raw sequences</span>
</div>

<div class="col-md-3">
    <span class="statistics-number">XX,XXX,XXX</span>
    <span class="statistics-name">filtered, unique sequences</span>
</div>

<div class="col-md-3">
    <span class="statistics-number">XX,XXX,XXX</span>
    <span class="statistics-name">rearrangements</span>
</div>

<div class="col-md-3">
    <span class="statistics-number">XX.X%</span>
    <span class="statistics-name">productive</span>
</div>
