<!--
- Subview for the repertoire summary with subject info
- One line with subject id, sex, age, ...
-->

<div class="col-md-1">
    &nbsp;
</div>

    <div class="form-group col-md-5">
        <label for="subject_id">Subject</label>

        <input type="text" name="subject_id" id="subject_id" placeholder="Subject ID" value="{{value.subject_id}}" readonly>
    </div>

    <div class="form-group col-md-3">
        <label for="age">Age</label>

        <input type="text" name="age" id="age" value="{{value.age_unit.label}}" readonly>
    </div>

    <div class="form-group col-md-3">
            <label for="sex">Sex</label>
            <input type="text" name="sex" id="sex" value="{{value.sex}}" readonly>
    </div>
