<div class="project-detail-controls">
    <div class="row">
        <div class="col-md-12">

            <h4>Project Settings</h4>

            <form id="project-name-form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Project Name</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input class="form-control" type="text" value="{{project.value.name}}" id="project-name">
                            <span class="input-group-btn">
                                <button id="save-project-name" class="btn btn-success" type="button">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
             </form>
             <form id="project-description-form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Project Description</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <textarea class="form-control" id="project-description">{{project.value.description}}</textarea>
                            <span class="input-group-btn">
                                <button id="save-project-description" class="btn btn-success" type="button">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
             </form>
             <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Created</label>
                    <div class="col-md-5">
                        <span class="form-text-align">{{FormatAgaveDate project.created}}</span>
                    </div>
                </div>
             </form>
             <form id="project-delete-form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Project Actions</label>
                <div class="btn-group">
                    <button
                        id="project-action-button"
                        class="btn btn-danger dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        Project Actions
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <ul
                        class="dropdown-menu"
                        role="menu"
                    >
                        <li class="project-actions">
                            <a
                                class="download-multiple-files"
                                href="#"
                                data-bypass=true
                            >
                                Show Archived Jobs
                            </a>
                        </li>

                        <li class="project-actions disabled">
                            <a
                                class="download-multiple-files"
                                href="#"
                                data-bypass=true
                            >
                                Duplicate Project
                            </a>
                        </li>

                        <li class="project-actions disabled">
                            <a
                                class="download-multiple-files"
                                href="#"
                                data-bypass=true
                            >
                                Publish Project
                            </a>
                        </li>

                        <li class="project-actions">
                            <a
                                class="delete-files"
                                href="#"
                                data-bypass=true
                            >
                                Delete Project
                            </a>
                        </li>
                    </ul>

            </form>
            <div>
                <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="delete-modal-label">Delete Project</h4>
                            </div>
                            <form method="post" id="delete-project-form" role="form">
                                <div class="modal-body">
                                    Are you sure that you want to delete the project "{{project.value.name}}?"
                                </div>
                                <div class="modal-footer">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <input type="submit" class="btn btn-danger" id="delete-project" value="Delete Project">
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>

    <div class="row-with-spacer">
        <div class="col-md-12">

            <h4>Project Users</h4>

            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="add-username">Username</label>
                        <input type="text" id="add-username" class="form-control" placeholder="Enter username...">
                </div>
                <button class="btn btn-success" id="add-user">Add user to project</button>
            </form>
        </div>
    </div>

    <div class="row-with-spacer">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#users}}
                        <tr>
                            <td>
                                {{this.username}}
                            </td>
                            <td>
                                {{#ManageUsersShouldDisableDelete this}}
                                    <button class="btn btn-danger remove-user-from-project" data-id="{{username}}" disabled="disabled">Delete</button>
                                {{else}}
                                    <button class="btn btn-danger remove-user-from-project" data-id="{{username}}">Delete</button>
                                {{/ManageUsersShouldDisableDelete}}
                            </td>
                        </tr>
                    {{/users}}
                </tbody>
            </table>
        </div>
    </div>
</div>
