            <h1>{{value.study_title}}</h1>
            <div class="row" id="summary-buttons">
                <div class="card col-md-2 card-link card-active">
                  <div class="card-body nav-link" id="overview-tab">
                    <h5 class="card-title"><i class="fa fa-flask fa-2x"></i><br /> Overview</h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card col-md-2 card-link">
                  <div class="card-body nav-link" id="repertoires-tab">
                    <h5 class="card-title"><i class="fa fa-flask fa-2x"></i><br /> 5 Repertoires</h5>
                    <p class="card-text"></p>
                  </div>
                 </div>

                <div class="card col-md-2 card-link">
                  <div class="card-body nav-link" id="groups-tab">
                    <h5 class="card-title"><i class="fa fa-flask fa-2x"></i><br /> 3 Repertoire Groups</h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card col-md-2 card-link">
                  <div class="card-body nav-link" id="files-tab">
                    <h5 class="card-title"><i class="fa fa-flask fa-2x"></i><br /> 20 Files</h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card col-md-2 card-link">
                  <div class="card-body nav-link" id="analyses-tab">
                    <h5 class="card-title"><i class="fa fa-flask fa-2x"></i><br /> 5 Analyses</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
            </div>
