<div id="navigation"></div>
<div class="container single-project">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h1>Sidebar</h1>
        </div>
        <div class="col-sm-12 col-md-9">
            <h1>{{value.name}}</h1>
            <p>Project Description: {{value.description}}</p>
            <div class="col-md-5">
                <p>Project Type:</p>
                <p>NCBI: {{value.ncbi_bioproject}}</p>
                <p>Funding Agency:{{value.grant_agency}}</p>
                <p>Grants: {{value.grants}}</p>
                <p>Publications: {{value.publications}}</p>
            </div>
            <div class="col-md-4">
                <p>PI Name: {{value.pi_name}}</p>
                <p>Contact Name: {{value.contact_name}}</p>
            </div>
                <button type="button" class="btn btn-info">
                    Edit Project Metadata
                </button>
    <!-- <div class="row">
        <div class="col-sm-9"> -->
            <div class="replist">
                <h2>Repertoires</h2>
                <p>{{properties.repetoire_id}}</p>
                <p>{{value.study}}</p>
                <p>{{value.subject}}</p>
                <p>{{value.sample}}</p>
                <p>{{value.data_processing}}</p>
                <button type="button" class="btn btn-success" id="create-rep">Create a repertoire</button>
                <button type="button" class="btn btn-success">Copy a repertoire</button>
                <table class="table table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date Created</th>
                            <th scope="col"># of Subjects</th>
                            <th scope="col"># of Samples</th>
                            <th scope="col">Tasks</th>
                        </tr>
                    </thead>
                    <tbody id="project">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
