<!--
- Clear intro view (only show project name & cards)
- Show breadcrumbs in green space when going into each page's details
-->

<div class="sidebar-content">
    <h2>Repertoire: [Repertoire Name] </h2>

    Table for Subject with diagnosis object(s)
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Subject</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">..</th>
            </tr>
    </table>

    Table for Sample Processing Objects
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Sample</th>
                <th scope="col">Cell/Tissue</th>
                <th scope="col">Nucleic Acid</th>
                <th scope="col">Sequencing Run</th>
                <th scope="col">Raw Sequence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">..</th>
                <td>..</td>
                <td>..</td>
                <td>..</td>
                <td>..</td>
            </tr>
    </table>


</div>
