<div class="tabs sticky-top steps">
    <ul class="tabs-list">
        <li class="progress-step">
            <span class="step" id="repertoire-step">Repertoire</span>
            <i class="fa fa-chevron-right step"></i>
        </li>
        <li class="progress-step">
            <span class="step" id="subject-step">Subject</span>
            <i class="fa fa-chevron-right step"></i>
        </li>
        <li class="progress-step">
            <span class="step" id="diagnosis-step">Diagnosis</span>
            <i class="fa fa-chevron-right step"></i>
        </li>
        <li class="progress-step">
            <span class="step" id="sample-step">Sample</span>
            <i class="fa fa-chevron-right step"></i>
        </li>
        <li class="progress-step">
            <span class="step" id="cell-step">Cell Processing</span>
            <i class="fa fa-chevron-right step"></i>
        </li>
        <li class="progress-step">
            <span class="step" id="nucleic-step">Nucleic Acid Processing</span>
        </li>
    </ul>
</div>
<div id="project-summary"></div>
<div id="project-detail"></div>
