        <div class="col-sm-12 col-md-9">
            <h1>{{value.study_title}}</h1>
            <p>Project Description: {{value.study_description}}</p>
            <div class="col-md-5">
                <p>Project Type:</p>
                <p>NCBI: {{value.ncbi_bioproject}}</p>
                <p>Funding Agency:{{value.grant_agency}}</p>
                <p>Grants: {{value.grants}}</p>
                <p>Publications: {{value.publications}}</p>
            </div>
            <div class="col-md-4">
                <p>PI Name: {{value.pi_name}}</p>
                <p>Contact Name: {{value.contact_name}}</p>
            </div>
                <button type="button" class="btn btn-info">
                    Edit Project Metadata
                </button>
        </div>
