<div id="navigation"></div>
<div class="container single-project" id="singleproject">
    <div class="row">
        <div class="col-sm-3">
            <h1>Sidebar</h1>
        </div>
        <div class="col-sm-9">
            <h1>Project Summary</h1>
            <h2>{{value.name}}</h2>
            <p>{{value.description}}</p>
            <button type="button" class="btn btn-info">Edit Project Metadata</button>

            <div class="replist">
            <h2>Repertoires</h2>
            <button type="button" class="btn btn-success">Copy a repertoire</button>
            <table class="table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date Created</th>
                        <th scope="col"># of Subjects</th>
                        <th scope="col"># of Samples</th>
                        <th scope="col">Tasks</th>
                    </tr>
                </thead>
                <tbody id="project">
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
