        <td class="no-display select col-md-1">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="user-select">
            </div>
        </td>
        <td class="user-name col-md-6">
            {{value.name}}
            <p class="subtitle">{{value.email}}</p>
        </td>
        <td class="user-status col-md-2">{{value.userStatus}}</td>
        <td class="user-actions col-md-3">
            <button type="button" class="btn btn-delete no-display" id="delete-project-user">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </button>

            <button type="button" class="btn btn-edit no-display" id="edit-project-user">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            </button>
        </td>
