        <tbody>
            <thead>
                <tr>
                    <th scope="col">User Account</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tr class='user-row'>
                <td class='user-name-email'>
                    <select class='form-control col-md-6 userAutoSelect' id='user-name' placeholder='Search username...'>
                </td>
                <td class='user-status'>
                </td>
                <td class='user-actions'>
                    <button type='button' class='btn btn-create' id='add-project-user'><i class='fa fa-plus' aria-hidden='true'></i> Add</button>
                </td>
            </tr>

        </tbody>
