<div id="navigation"></div>
    <div class="container">
        <div id="intro"></div>
        <div id ="projectsView">
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Projects</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Tasks</th>
                </tr>
            </thead>
            <tbody class="table-list" id="projectslist">
            </tbody>
        </table>
        </div>

    </div>
