    <div class="announcement">
        <a target="_blank" href="http://wiki.vdjserver.org/vdjserver/index.php/VDJServer_Release_Announcements">Announcing VDJServer Release 1.1.1</a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" id="nav">
        <a class="navbar-brand" href="/"><img src="./dist/images/logo.png" alt="VDJ Server" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Community Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Feedback</a>
                </li>
            </ul>
        </div>
    </nav>
