    <nav class="navbar navbar-expand-lg navbar-dark" id="nav">
        <a class="navbar-brand" href="/">
            <img src="./dist/images/vdjserver-logo.png" alt="VDJServer" />
            <span class="brand-name">VDJServer</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
               {{#if active_token}}
                <li class="nav-item">
                    <a class="nav-link" href="/project">My Projects<span class="sr-only">(current)</span></a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="/community/">Community Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feedback">Feedback</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!--
                <li class="nav-item">
                    <button type="button" class="btn btn-sm nav-button">
                        <a class="nav-link" href=""><i id=nav-stats" class="fas fa-calculator"></i></a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-sm nav-button">
                        <a class="nav-link" href=""><i id=nav-charts" class="fas fa-chart-area"></i></a>
                    </button>
                </li>
                -->
                <li class="nav-item">
                    <button type="button" class="btn btn-sm nav-button nav-button-inactive" data-bypass=true id="navbar-filter-icon">
                        <a class="nav-link" href="" data-bypass=true><i class="fas fa-search"></i></a>
                    </button>
                </li>
                {{#if active_token}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <h2 class="dropdown-header">{{display_name}}</h2>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/account/profile">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbspUser Profile
                        </a>
                        {{#if admin_account}}
                        <a class="dropdown-item" href="/admin">
                            <i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbspAdmin
                        </a>
                        {{/if}}
                        <a class="dropdown-item" href="/auth/logout">
                            <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>&nbspLogout
                        </a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
