<div class="row">
    <div class="col-md-3">
        <div class="project-details-loading-view"></div>
            {{#if projectDetail}}
                <table class="project-details">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Name:</strong>
                            </td>
                            <td>
                                {{projectDetail.value.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Data:</strong>
                            </td>
                            <td>
                                {{fileListingCount}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Members:</strong>
                            </td>
                            <td>
                                {{userCount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {{/if}}
        </div>
    </div>
</div>

<div class="project-detail-controls">
    <div class="row">
        <div class="col-md-4">
            <button
                id="file-upload"
                class="btn has-tooltip"
                data-toggle="tooltip"
                data-placement="top"
                title="Upload a file"
            >
                <i class="fa fa-upload"></i>

                <input
                    id="file-dialog"
                    class="hidden"
                    name="files[]"
                    type="file"
                    multiple
                />
            </button>

            <div class="btn-group">
                <button
                    id="run-job-button"
                    class="btn btn-primary disabled dropdown-toggle files-selected-button"
                    data-toggle="dropdown"
                >
                    Run Job
                    <i class="fa fa-caret-down"></i>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <!--NOTE: IgBlast has been temporarily disabled until dev is ready -->
                    <!--<li class="file-actions"><a href="#" data-bypass=true class="run-job" data-jobtype="igblast">IgBlast</a></li>-->
                    <li class="file-actions">
                        <a
                            class="run-job has-tooltip"
                            href="#"
                            data-bypass=true
                            data-jobtype="vdjpipe"

                            {{!-- Dropdown --}}
                            data-toggle="tooltip"
                            data-placement="right"
                            title="Run an HPC job using the VDJPipe tool"
                        >
                            VDJPipe
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary disabled dropdown-toggle files-selected-button" id="file-action-button" data-toggle="dropdown">
                    File Actions
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="file-actions"><a href="#" data-bypass=true class="delete-files">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group project-search">
                <input class="form-control" type="text" name="search" id="search-text">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="search-button" type="button">SEARCH</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="file-listing-spacer">
            <ul class="nav nav-tabs nav-justified">
                <li class="file-category active" id="uploaded"><a href="#" data-bypass=true data-id="uploaded">Uploaded Data</a></li>
                <li class="file-category" id="preprocessed"><a href="#" data-bypass=true data-id="preprocessed">Preprocessed</a></li>
                <li class="file-category" id="aligned"><a href="#" data-bypass=true data-id="aligned">Aligned</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="file-staging-errors" class="alert alert-danger hidden"></div>
        <div id="file-staging"></div>
        <div class="file-listings"></div>
    </div>
</div>
