<div class="row">
    <div class="col-md-3">
        <div class="project-details-loading-view"></div>
            {{#if projectDetail}}
                <table class="project-details">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Name:</strong>
                            </td>
                            <td>
                                {{projectDetail.value.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Data:</strong>
                            </td>
                            <td>
                                {{fileListingCount}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Members:</strong>
                            </td>
                            <td>
                                {{userCount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {{/if}}
        </div>
    </div>
</div>

<div class="project-detail-controls">
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button
                        id="file-upload"
                        class="btn btn-success has-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Upload a file"
                    >
                        <i class="fa fa-upload"></i>

                        <input
                            id="file-dialog"
                            class="hidden"
                            name="files[]"
                            type="file"
                            multiple
                        />
                    </button>
                </div>

                <div class="btn-group">
                    <button
                        id="run-job-button"
                        class="btn btn-primary disabled dropdown-toggle files-selected-button"
                        data-toggle="dropdown"
                    >
                        Run Job
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <ul class="dropdown-menu" role="menu">

                        <li class="file-actions">
                            <a
                                class="run-job has-tooltip"
                                href="#"
                                data-bypass=true
                                data-jobtype="vdjpipe"

                                {{!-- Dropdown --}}
                                data-toggle="tooltip"
                                data-placement="right"
                                title="Run an HPC job using the VDJPipe tool"
                            >
                                VDJPipe
                            </a>
                        </li>

                        <li class="file-actions">
                            <a
                                class="run-job"
                                href="#"
                                data-bypass=true
                                data-jobtype="igblast"
                            >
                                IgBlast
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button
                        id="file-action-button"
                        class="btn btn-primary disabled dropdown-toggle files-selected-button"
                        data-toggle="dropdown"
                    >
                        File Actions
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <ul
                        class="dropdown-menu"
                        role="menu"
                    >
                        <li class="file-actions">
                            <a
                                class="download-multiple-files"
                                href="#"
                                data-bypass=true
                            >
                                Download
                            </a>
                        </li>

                        <li class="file-actions">
                            <a
                                class="delete-files"
                                href="#"
                                data-bypass=true
                            >
                                Delete
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group project-search">
                <input
                    id="search-text"
                    class="form-control"
                    name="search"
                    type="text"
                >
                <span class="input-group-btn">
                    <button
                        id="search-button"
                        class="btn btn-default"
                        type="button"
                    >
                        SEARCH
                    </button>
                </span>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="file-staging-errors" class="alert alert-danger hidden"></div>
        <div id="file-staging"></div>
        <div class="file-listings"></div>
    </div>
</div>
