<form id="form-{{fileUniqueIdentifier}}" class="file-transfer form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{file.name}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">File Type</label>
        <div class="col-sm-3">
            <select class="form-control user-selectable file-type" name="file-type">
                {{#each fileTypes}}
                    <option value="{{@index}}" {{ifCondSelected @index 2}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">File Size</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{GetHumanReadableFileSize file.length}}</p>
        </div>
    </div>

    <div class="form-group file-type-tags">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <span class="checkbox-horizontal">
                    <input type="checkbox" name="forward-reads" class="user-selectable">&nbsp;Forward Reads
            </span>
        </div>
        <div class="col-sm-offset-2">
            <div class="col-sm-10">
                <span class="checkbox-horizontal">
                    <input type="checkbox" name="reverse-reads" class="user-selectable">&nbsp;Reverse Reads
                </span>
            </div>
        </div>
        <div class="col-sm-offset-2">
            <div class="col-sm-9">
                <div class="alert alert-info">
                    File types must be set in order to use our processing tools. Types can be set now or after upload.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-5">
            <input class="form-control user-selectable" name="tags" type="text" placeholder="Comma separated tags. Example: single-read, barcode">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Progress</label>
        <div class="col-sm-5">
            <div class="progress file-upload-progress-wrapper">
                <div class="progress-bar progress-striped active {{fileUniqueIdentifier}}">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-2">
            <div id="file-upload-notifications-{{fileUniqueIdentifier}}" class="alert alert-info hidden"></div>
        </div>
    </div>

    <div id="upload-form-controls">
        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-2">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" id="start-upload-button" class="btn btn-primary upload-button user-selectable">
                            Start
                        </button>
                    </div>

                    <div class="btn-group">
                        <button id="cancel-upload-button" class="btn btn-danger upload-button">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
