{{#if singleReadFileListings}}
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-headings project-files">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input id="select-all-files-checkbox" name="select-all-files-checkbox" type="checkbox">
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Last Modified
                        </th>
                        <th class="text-center">
                            Size
                        </th>
                        <th class="text-center">
                            File Origin
                        </th>
                        <th class="text-center">
                            Type
                        </th>
                        <th class="text-center">
                            Tags
                        </th>
                        <th class="text-center">
                            Read Direction
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {{!-- Start Single Reads --}}
                    {{#each singleReadFileListings}}
                        <tr class="text-center">
                            <td>
                                {{#IfJobSelectableFileType value.name value.fileType}}
                                    <input name="file-checkbox" type="checkbox" value="{{uuid}}" class="selected-files">
                                {{else}}
                                    <input name="file-checkbox" type="checkbox" value="{{uuid}}" class="selected-files not-job-selectable">
                                {{/IfJobSelectableFileType}}
                            </td>
                            <td>
                                {{> project-file-list-title this}}

                                {{#if this.qualModel}}
                                    {{> project-file-list-title this.qualModel}}
                                {{/if}}
                            </td>
                            <td>
                                {{> project-file-list-last-modified this}}

                                {{#if this.qualModel}}
                                    {{> project-file-list-last-modified this.qualModel}}
                                {{/if}}
                            </td>
                            <td>
                                {{> project-file-list-size this}}

                                {{#if this.qualModel}}
                                    {{> project-file-list-size this.qualModel}}
                                {{/if}}
                            </td>
                            <td>
                                {{> project-file-list-type this}}

                                {{#if this.qualModel}}
                                    {{> project-file-list-type this.qualModel}}
                                {{/if}}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{#if this.qualModel}}
                                            Single-End Read-Level Data
                                        {{else}}
                                            <select
                                                class="project-file-type"
                                                data-fileuuid="{{uuid}}"
                                            >
                                                {{#each ../../fileTypes}}
                                                <option {{ifCondSelected @index ../value.fileType}} value="{{@index}}">
                                                        {{this}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                        {{/if}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{> project-file-list-tags this}}

                                {{#if this.qualModel}}
                                    {{> project-file-list-tags this.qualModel}}
                                {{/if}}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select
                                            class="project-file-read-direction"
                                            data-fileuuid="{{uuid}}"
                                        >
                                            <option></option>
                                            {{#each ../../readDirections}}
                                                <option {{ifCondSelected this ../value.readDirection}}>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                {{#if this.qualModel}}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select
                                                class="project-file-read-direction"
                                                data-fileuuid="{{this.qualModel.uuid}}"
                                            >
                                                <option></option>
                                                {{#each ../../../readDirections}}
                                                    <option {{ifCondSelected this ../this.qualModel.value.readDirection}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    {{!-- End Single Reads --}}

                    {{!-- Start Paired Reads --}}
                    {{#each pairedReadFileListings}}
                        <tr class="text-center">
                            <td>
                                <input name="file-checkbox" type="checkbox" value="{{this.0.uuid}}" class="selected-files">
                            </td>
                            <td>
                                {{#each this}}
                                    {{> project-file-list-title this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-title this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-last-modified this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-last-modified this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-size this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-size this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-type this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-type this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Paired-End Read-Level Data
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-tags this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-tags this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select
                                                class="project-file-read-direction"
                                                data-fileuuid="{{uuid}}"
                                            >
                                                <option></option>
                                                {{#each ../../../readDirections}}
                                                    <option {{ifCondSelected this ../value.readDirection}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    {{#if this.qualModel}}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <select
                                                    class="project-file-read-direction"
                                                    data-fileuuid="{{this.qualModel.uuid}}"
                                                >
                                                    <option></option>
                                                    {{#each ../../../readDirections}}
                                                        <option {{ifCondSelected this ../this.qualModel.value.readDirection}}>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                        </tr>
                    {{/each}}
                    {{!-- End Paired Reads --}}


                </tbody>
            </table>
        </div>
    </div>
{{else}}
    <div id="file-container" class="row">
        <div id="drag-and-drop-box" class="jumbotron-dashed-box col-md-12">

            <div id="file-drop">
                <span class="background-icon fa fa-upload"></span>

                <h2>Let's Get Started!</h2>

                <p>
                    <h5>
                        VDJServer can process raw reads (e.g. apply quality filtering), conduct germline inference using IgBlast, and provide summary output of repertoire characteristics.
                    </h5>
                </p>
                <p>
                    <h5>
                        To begin this process, upload sequence data in fastq or fasta format. Currently accepted file types are .fastq, .fasta, .fna, .fa, .qual, .gz, .bz2, and .Z.
                    </h5>
                </p>
                <p>
                    <h5>
                        You can also upload your primer sequences and barcode sequences here if you wish to identify and remove them from the raw reads prior to alignment. If you upload a barcode file, VDJserver will separate and analyze your samples for you.
                    </h5>
                </p>
                <p>
                    <h5>
                        You can drag and drop to upload data or just click here
                    </h5>
                </p>
            </div>
        </div>
        <div id="file-staging"></div>
    </div>
{{/if}}

<div id="job-submit"></div>
