{{#if fileListings}}
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-headings">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input id="select-all-files-checkbox" name="select-all-files-checkbox" type="checkbox">
                        </th>
                        <th class="text-center">
                            Title
                        </th>
                        <th class="text-center">
                            Last Modified
                        </th>
                        <th class="text-center">
                            Size
                        </th>
                        <th class="text-center">
                            Type
                        </th>
                        <th class="text-center">
                            Tags
                        </th>
                        <th class="text-center">
                            Read Direction
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each fileListings}}
                        <tr class="text-center">
                            <td>
                                {{#IfJobSelectableFileType value.name value.fileType}}
                                    <input name="file-checkbox" type="checkbox" value="{{uuid}}" class="selected-files">
                                {{/IfJobSelectableFileType}}
                            </td>
                            <td>
                                <a class="download-file" href="#" data-bypass=true data-filename="{{value.name}}">{{value.name}}</a>
                            </td>
                            <td>
                                {{FormatAgaveDate lastUpdated}}
                            </td>
                            <td>
                                {{GetHumanReadableFileSize value.length}}
                            </td>
                            <td>
                                <select
                                    class="project-file-type"
                                    data-fileuuid="{{uuid}}"
                                >
                                    {{#each ../fileTypes}}
                                    <option {{SelectFileType @index ../value.fileType}} value="{{@index}}">
                                            {{this}}
                                        </option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <input
                                    class="project-file-tags"
                                    data-fileuuid="{{uuid}}"
                                    type="text"
                                    value="{{GetTagDisplay value.privateAttributes}}"
                                >
                            </td>
                            <td>
                                <select
                                    class="project-file-read-direction"
                                    data-fileuuid="{{uuid}}"
                                >
                                    <option></option>
                                    {{#each ../readDirections}}
                                        <option {{SelectReadDirection this ../value.privateAttributes}}>{{this}}</option>
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    <div id="file-container" class="row">
        <div id="drag-and-drop-box" class="jumbotron-dashed-box col-md-12">

            <div id="file-drop">
                <span class="background-icon fa fa-upload"></span>

                <h2>Let's Get Started!</h2>
                <p>
                    <div class="">
                        Drag and Drop to Upload Data
                    </div>
                    <div>
                        Or Just Click Here
                    </div>

                    <div>
                        (.fastq, .fasta, .qual, .gz, .csv, .txt, .bz2, .Z)
                    </div>
                </p>
            </div>
        </div>
        <div id="file-staging"></div>
    </div>
{{/if}}

<div id="job-submit"></div>
