<div class="project-detail-controls">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Project Name</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="{{project.value.name}}" id="project-name">
                            <span class="input-group-btn">
                                <button id="save-project-name" class="btn btn-success" type="button">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Delete Project</label>
                    <div class="col-md-5">
                        <button class="btn btn-danger delete-project">Delete Project</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
