<!--
- AirrKB Filter View
-->
<!-- *** add radio buttons for speciess (ALL, HUMAN, MOUSE) -->
<div class="navbar-tool" id="filter-query">
    <form>
        <div class="row" id="receptor-search">
            <div class="col-md-3">
                <div class="section-border">
                    <div class="section-border-label" style="font-size: 1.5em;"><b>Receptor Search</b></div>
                    <!-- RECEPTOR SELECTOR -->
                    <div class="row">
                        <div class="input-group">
                            <div class="col-md-4 label-center-end label-left">
                                <b>Receptor type:</b>
                            </div>
        
                            <div class="col">
                                <select class="selectpicker form-control form-control-filter-query" name="filter-query-chain-selectpicker" id="filter-query-chain-selectpicker">
                                    <option value="alpha-beta" selected>Alpha-Beta T Cell Receptor</option>
                                    <option value="gamma-delta">Gamma-Delta T Cell Receptor</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- SPECIES SELCTOR -->
                    <div class="row row-space">
                        <div class="col-md-4 label-center-end label-left">
                            <b>Host species:</b>
                        </div>
    
                        <div class="col">
                            <select class="selectpicker form-control form-control-filter-query" name="filter-query-species-selectpicker" id="filter-query-species-selectpicker">                                        
                                <option value="any" selected>Any</option>
                                <option value="human">Human</option>
                                <option value="mouse">Mouse</option>
                            </select>
                        </div>
                    </div>


                    <!-- CHAIN SELECTOR -->
                    <div class="row row-space">
                        <div class="col">
                            <div class="section-border">
                                <div class="section-border-label">
                                    <b class="alpha-beta-chain-select">Alpha Chain</b>
                                    <b class="gamma-delta-chain-select" hidden>Gamma Chain</b>
                                </div>

                                <div id="first-chain">
                                    <!-- Include/Exclude null Values -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b>Missing Values:</b>
                                        </div>
                                        <div class="col missing-radio">
                                            <label>
                                                <input type="radio" id="missing-values-1-include" name="missing-values-1" value="true" checked>  Include
                                            </label>
                                        </div>
                                        <div class="col missing-radio">
                                            <label>
                                                <input type="radio" id="missing-values-1-exclude" name="missing-values-1" value="false">  Exclude
                                            </label>
                                        </div>
                                    </div>

                                    <!-- CDR3 Junction -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b>CDR3 Junction:</b>
                                        </div>
                                        <div class="col">
                                            <input type="search" class="form-control alpha-beta-chain-select" id="cdr3-1" aria-describedby="search" placeholder="Ex: CAASANSGTYQRW" value="{{secondary_search_heavy}}">
                                            <input type="search" class="form-control gamma-delta-chain-select" id="cdr3-1" aria-describedby="search" placeholder="Ex: CAASANSGTYQRW" value="{{secondary_search_heavy}}" hidden>
                                        </div>
                                    </div>
                                    
                                    <!-- V Selector -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b class="alpha-beta-chain-select">TRAV Gene:</b>
                                            <b class="gamma-delta-chain-select" hidden>TRGV Gene:</b>
                                        </div>
                                        <div class="col">
                                            <div class="alpha-beta-chain-select">
                                                <select class="selectpicker form-control-filter-query alpha-beta-chain-select" name="filter-query-first-v-selectpicker" id="filter-query-first-v-selectpicker" data-width="100%" title="Any TRAV (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRA.V.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRA.V.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRA.V.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="gamma-delta-chain-select" hidden>
                                                <select class="selectpicker form-control-filter-query gamma-delta-chain-select" name="filter-query-first-v-selectpicker" id="filter-query-first-v-selectpicker" data-width="100%" title="Any TRGV (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRG.V.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRG.V.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRG.V.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- J Selector -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b class="alpha-beta-chain-select">TRAJ Gene:</b>
                                            <b class="gamma-delta-chain-select" hidden>TRGJ Gene:</b>
                                        </div>
                                        <div class="col">
                                            <div class="alpha-beta-chain-select">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-first-j-selectpicker" id="filter-query-first-j-selectpicker" data-width="100%" title="Any TRAJ (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRA.J.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRA.J.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRA.J.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="gamma-delta-chain-select" hidden>
                                                <select class="selectpicker form-control-filter-query" name="filter-query-first-j-selectpicker" id="filter-query-first-j-selectpicker" data-width="100%" title="Any TRGJ (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRG.J.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRG.J.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRG.J.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col">
                            <div class="section-border">
                                <div class="alpha-beta-chain-select section-border-label">
                                    <b class="alpha-beta-chain-select">Beta Chain</b>
                                    <b class="gamma-delta-chain-select" hidden>Delta Chain</b>
                                </div>
                                <div id="second-chain">
                                    <!-- Include/Exclude null Values -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b>Missing Values:</b>
                                        </div>
                                        <div class="col missing-radio">
                                            <label>
                                                <input type="radio" id="missing-values-2-include" name="missing-values-2" value="true" checked>  Include
                                            </label>
                                        </div>
                                        <div class="col missing-radio">
                                            <label>
                                                <input type="radio" id="missing-values-2-exclude" name="missing-values-2" value="false">  Exclude
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <!-- CDR3 Junction -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b>CDR3 Junction:</b>
                                        </div>
                                        <div class="col">
                                            <input type="search" class="form-control alpha-beta-chain-select" id="cdr3-2" aria-describedby="search" placeholder="Ex: CASSQDGY" value="{{secondary_search_heavy}}">
                                            <input type="search" class="form-control gamma-delta-chain-select" id="cdr3-2" aria-describedby="search" placeholder="Ex: CASSQDGY" value="{{secondary_search_heavy}}" hidden>
                                        </div>
                                    </div>

                                    <!-- V Selector -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b class="alpha-beta-chain-select">TRBV Gene:</b>
                                            <b class="gamma-delta-chain-select" hidden>TRDV Gene:</b>
                                        </div>
                                        <div class="col">
                                            <div class="alpha-beta-chain-select">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-second-v-selectpicker" id="filter-query-second-v-selectpicker" data-width="100%" title="Any TRBV (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRB.V.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRB.V.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRB.V.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="gamma-delta-chain-select" hidden>
                                                <select class="selectpicker form-control-filter-query" name="filter-query-second-v-selectpicker" id="filter-query-second-v-selectpicker" data-width="100%" title="Any TRDV (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRD.V.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRD.V.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRD.V.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- J Selector -->
                                    <div class="row">
                                        <div class="col-md-4 label-center-end label-left">
                                            <b class="alpha-beta-chain-select">TRBJ Gene:</b>
                                            <b class="gamma-delta-chain-select" hidden>TRDJ Gene:</b>
                                        </div>
                                        <div class="col">
                                            <div class="alpha-beta-chain-select">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-second-j-selectpicker" id="filter-query-second-j-selectpicker" data-width="100%" title="Any TRBJ (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRB.J.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRB.J.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRB.J.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="gamma-delta-chain-select" hidden>
                                                <select class="selectpicker form-control-filter-query gamma-delta-chain-select" name="filter-query-second-j-selectpicker" id="filter-query-second-j-selectpicker" data-width="100%" title="Any TRDJ (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        {{#each tr_names.TRD.J.subgroup}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        {{#each tr_names.TRD.J.gene}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        {{#each tr_names.TRD.J.allele}}
                                                            <option value={{this}}>{{this}}</option>
                                                        {{/each}}
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>

            <!-- <div class="col-md-6"></div> -->

            <div class="col-md-1">          
                <div class="row airrkb-button-container">
                    <button type="button" class="btn btn-save btn-block btn-glow" id="filter-query-apply">Search <i class="fas fa-search"></i></button>
                    <button type="button" class="btn btn-cancel btn-block" id="filter-query-clear">Clear</button>
                    <button type="button" class="btn btn-search btn-block" id="filter-query-apply-airrkb-example">Example <i class="fas fa-solid fa-dice" disabled></i></button>
                </div>
            </div>

        </div>
    </form>
</div>
