<!--
- AirrKB Filter View
-->
<!-- *** add radio buttons for speciess (ALL, HUMAN, MOUSE) -->
<div class="navbar-tool" id="filter-query">
    <form>
        <div class="row" >
            <div class="col-md-6" >
                <div class="section-border" id="receptor-search">
                    <div class="section-border-label" style="font-size: 1.5em;"><b>Receptor Search</b></div>
                    <!-- RECEPTOR SELECTOR -->
                    <div class="row">
                        <div class="input-group">
                            <div class="col-md-2 label-center-end label-left">
                                <b>Receptor type:</b>
                            </div>
        
                            <div class="col">
                                <select class="selectpicker form-control form-control-filter-query" name="filter-query-chain-selectpicker" id="filter-query-chain-selectpicker">
                                    <option value="alpha-beta" selected>Alpha-Beta T Cell Receptor (αβTCR)</option>
                                    <option value="gamma-delta">Gamma-Delta T Cell Receptor (γδTCR)</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- SPECIES SELCTOR -->
                    <div class="row row-space">
                        <div class="col-md-2 label-center-end label-left">
                            <b>Host species:</b>
                        </div>
    
                        <div class="col">
                            <select class="selectpicker form-control form-control-filter-query" name="filter-query-species-selectpicker" id="filter-query-species-selectpicker">                                        
                                <option value="NCBITAXON:9606" selected>Human</option>
                                <option value="NCBITAXON:10090">Mouse</option>
                                <option value="any">Any</option>
                            </select>
                        </div>
                    </div>


                    <!-- CHAIN SELECTOR -->
                    <div class="row row-space">
                        <!-- <div class="input-group"> -->
                            <div class="col-md-6">
                                <div class="section-border">
                                    <div class="alpha-beta-chain-select section-border-label">
                                        <b class="alpha-beta-chain-select">Alpha Chain</b>
                                        <b class="gamma-delta-chain-select" hidden>Gamma Chain</b>
                                    </div>

                                    <div id="first-chain">
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b>Missing Values:</b>
                                            </div>
                                            <div class="col missing-radio">
                                                <label>
                                                    <input type="radio" id="missing-values-1-include" name="missing-values-1" value="true" checked>  Include
                                                </label>
                                            </div>
                                            <div class="col missing-radio">
                                                <label>
                                                    <input type="radio" id="missing-values-1-exclude" name="missing-values-1" value="false">  Exclude
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b>CDR3 Junction:</b>
                                            </div>
                                            <div class="col">
                                                <input type="search" class="form-control alpha-beta-chain-select" id="cdr3-1" aria-describedby="search" placeholder="Ex: CAASANSGTYQRW" value="{{secondary_search_heavy}}">
                                                <input type="search" class="form-control gamma-delta-chain-select" id="cdr3-1" aria-describedby="search" placeholder="Ex: CAASANSGTYQRW" value="{{secondary_search_heavy}}" hidden>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b class="alpha-beta-chain-select">TRAV Gene:</b>
                                                <b class="gamma-delta-chain-select" hidden>TRGV Gene:</b>
                                            </div>
                                            <div class="col">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-first-v-selectpicker" id="filter-query-first-v-selectpicker" data-width="100%" title="Any TRAV (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        <option value="TRAV1">TRAV1</option>
                                                        <option value="TRAV2">TRAV2</option>
                                                        <option value="TRAV3">TRAV3</option>
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        <option value="TRAV1-1">TRAV1-1</option>
                                                        <option value="TRAV1-11">TRAV1-11</option>
                                                        <option value="TRAV1-10">TRAV1-10</option>
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        <option value="TRAV1-1*01">TRAV1-1*01</option>
                                                        <option value="TRAV1-1*011">TRAV1-1*011</option>
                                                        <option value="TRAV1-1*02">TRAV1-1*02</option>
                                                        <option value="TRAV1-1*020">TRAV1-1*020</option>
                                                        <option value="TRAV1-1*1">TRAV1-1*1</option>
                                                        <option value="TRAV1-1*10">TRAV1-1*10</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b class="alpha-beta-chain-select">TRAJ Gene:</b>
                                                <b class="gamma-delta-chain-select" hidden>TRGJ Gene:</b>
                                            </div>
                                            <div class="col">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-first-j-selectpicker" id="filter-query-first-j-selectpicker" data-width="100%" title="Any TRAJ (or specify)" data-live-search="true" data-actions-box="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        <option value="1">TRAJ1</option>
                                                        <option value="2">TRAJ2</option>
                                                        <option value="3">TRAJ3</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="section-border">
                                    <div class="alpha-beta-chain-select section-border-label">
                                        <b class="alpha-beta-chain-select">Beta Chain</b>
                                        <b class="gamma-delta-chain-select" hidden>Delta Chain</b>
                                    </div>

                                    <div id="second-chain">
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b>Missing Values:</b>
                                            </div>
                                            <div class="col missing-radio">
                                                <label>
                                                    <input type="radio" id="missing-values-2-include" name="missing-values-2" value="true" checked>  Include
                                                </label>
                                            </div>
                                            <div class="col missing-radio">
                                                <label>
                                                    <input type="radio" id="missing-values-2-exclude" name="missing-values-2" value="false">  Exclude
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b>CDR3 Junction:</b>
                                            </div>
                                            <div class="col">
                                                <input type="search" class="form-control alpha-beta-chain-select" id="cdr3-2" aria-describedby="search" placeholder="Ex: CASSQDGY" value="{{secondary_search_heavy}}">
                                                <input type="search" class="form-control gamma-delta-chain-select" id="cdr3-2" aria-describedby="search" placeholder="Ex: CASSQDGY" value="{{secondary_search_heavy}}" hidden>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b class="alpha-beta-chain-select">TRBV Gene:</b>
                                                <b class="gamma-delta-chain-select" hidden>TRDV Gene:</b>
                                            </div>
                                            <div class="col">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-second-v-selectpicker" id="filter-query-second-v-selectpicker" data-width="100%" title="Any TRBV (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        <option value="TRBV1">TRBV1</option>
                                                        <option value="TRBV2">TRBV2</option>
                                                        <option value="TRBV3">TRBV3</option>
                                                    </optgroup>
                                                    <optgroup label="Gene">
                                                        <option value="TRBV1-1">TRBV1-1</option>
                                                        <option value="TRBV1-11">TRBV1-11</option>
                                                        <option value="TRBV1-10">TRBV1-10</option>
                                                    </optgroup>
                                                    <optgroup label="Allele">
                                                        <option value="TRBV1-1*01">TRBV1-1*01</option>
                                                        <option value="TRBV1-1*011">TRBV1-1*011</option>
                                                        <option value="TRBV1-1*02">TRBV1-1*02</option>
                                                        <option value="TRBV1-1*020">TRBV1-1*020</option>
                                                        <option value="TRBV1-1*1">TRBV1-1*1</option>
                                                        <option value="TRBV1-1*10">TRBV1-1*10</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-4 label-center-end label-left">
                                                <b class="alpha-beta-chain-select">TRBJ Gene:</b>
                                                <b class="gamma-delta-chain-select" hidden>TRDJ Gene:</b>
                                            </div>

                                            <div class="col">
                                                <select class="selectpicker form-control-filter-query" name="filter-query-second-j-selectpicker" id="filter-query-second-j-selectpicker" data-width="100%" title="Any TRBJ (or specify)" data-live-search="true">
                                                    <optgroup label="All">
                                                        <option value="any" selected>Any</option>
                                                    </optgroup>
                                                    <optgroup label="Family">
                                                        <option value="TRBJ1">TRBJ1</option>
                                                        <option value="TRBJ2">TRBJ2</option>
                                                        <option value="TRBJ3">TRBJ3</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-6"></div> -->

            <div class="col-md-1">          
                <div class="row airrkb-button-container">
                    <button type="button" class="btn btn-save btn-block btn-glow" id="filter-query-apply">Search <i class="fas fa-search"></i></button>
                    <button type="button" class="btn btn-cancel btn-block" id="filter-query-clear">Clear</button>
                    <button type="button" class="btn btn-search btn-block" id="filter-query-apply-airrkb-example">Example <i class="fas fa-solid fa-dice" disabled></i></button>
                </div>
            </div>

        </div>
    </form>
</div>
