<!--
- Generic Filter View
-->

<div class="navbar-tool" id="filter-query">
    <form>
        
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-search btn-block h-100" id="filter-query-apply">Search <i class="fas fa-search"></i></button>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="input-group col-md-5">
                        <input type="search" class="form-control general-buttons-margin-right" id="filter-query-text-search" aria-describedby="search" placeholder="Full Text Search" value="{{full_text_search}}">
                    </div>

                    <div class="input-group col-md-7">

                        {{#each filters}}
                        <div class="filter-option">
                            <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle-times" name="{{field}}" type="button" id="filter-query-active-filter" aria-haspopup="true" aria-expanded="false">
                                {{title}}
                                <a class="remove-filter"><i class="fas fa-times-circle" name="{{field}}"></i></a>
                            </button>
                            </div>
                        </div>

                        <div class="filter-value">
                        {{#each ../base}}
                            {{#ifEquals title ../title}}
                                {{#if values}}
                                <select class="form-control" id="filter-query-text" title="{{title}}">
                                    <option>null</option>
                                    {{#each values}}
                                    <option {{#ifEquals this ../../../../value}}selected{{/ifEquals}}>{{this}}</option>
                                    {{/each}}
                                </select>
                                {{else}}
                                    {{#if objects}}
                                    <select class="form-control" id="filter-query-text" title="{{title}}">
                                        <option id="null">null</option>
                                        {{#each objects}}
                                        <option {{#ifEquals this.id ../../../../../object}}selected{{/ifEquals}} id="{{this.id}}">{{this.label}} ({{this.id}})</option>
                                        {{/each}}
                                    </select>
                                    {{else}}
                                    <input type="text" class="form-control" id="filter-query-text" title="{{title}}" value="{{../value}}">
                                    {{/if}}
                                {{/if}}
                            {{/ifEquals}}
                        {{/each}}
                        </div>
                        {{/each}}

                        <div class="filter-option">
                            <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="filter-query-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" {{#if airrkb_search}}hidden{{/if}}>
                                Filter On
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {{#each base}}
                                <button class="dropdown-item" type="button" id="filter-query-select" name="{{this.field}}" title="{{this.title}}">
                                    {{this.title}}
                                </button>
                                {{/each}}
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item disabled" type="button">
                                    Add Custom Filter...
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{#if secondary_model}}
                <div class="row secondary-filter">
                    <div class="input-group col-md-5">
                        <!-- {{#if airrkb_search}}
                        <button type="button" class="btn btn-search btn-glow" id="filter-query-apply-airrkb-example">Rand CDR3 <i class="fas fa-solid fa-dice" disabled></i></button>
                        {{/if}} -->
                        <select class="col-md-2 selectpicker form-control form-control-filter-query" name="filter-query-chain-selectpicker" id="filter-query-chain-selectpicker">
                            <option value="filter-secondary-text-search" selected>CDR3 AA Junction</option>
                            <option value="alpha-beta">TR α/β</option>
                            <option value="gamma-delta">TR γ/δ</option>
                            <option value="ig">IG</option>
                        </select>
                        <div class="col">
                            <div class="row">
                                <input type="search" class="col-md-12 form-control filter-secondary-text-search-chain-select general-buttons-margin-right" id="filter-secondary-text-search" aria-describedby="search" placeholder="CDR3 Junction AA Sequence Search" value="{{secondary_search}}">
                                <input type="search" class="col-md-3 form-control alpha-beta-chain-select" id="alpha-v" aria-describedby="search" placeholder="αV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control alpha-beta-chain-select" id="alpha-cdr3" aria-describedby="search" placeholder="α CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control alpha-beta-chain-select general-buttons-margin-right" id="alpha-j" aria-describedby="search" placeholder="αJ gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control gamma-delta-chain-select" id="gamma-v" aria-describedby="search" placeholder="γV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control gamma-delta-chain-select" id="gamma-cdr3" aria-describedby="search" placeholder="γ CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control gamma-delta-chain-select general-buttons-margin-right" id="gamma-j" aria-describedby="search" placeholder="γJ gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control ig-chain-select" id="heavy-v" aria-describedby="search" placeholder="HV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control ig-chain-select" id="heavy-cdr3" aria-describedby="search" placeholder="H CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control ig-chain-select general-buttons-margin-right" id="heavy-j" aria-describedby="search" placeholder="HJ gene" value="{{secondary_search_heavy}}" hidden>
                            </div>
                            <div class="row">
                                <input type="search" class="col-md-3 form-control alpha-beta-chain-select" id="beta-v" aria-describedby="search" placeholder="βV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control alpha-beta-chain-select" id="beta-cdr3" aria-describedby="search" placeholder="β CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control alpha-beta-chain-select general-buttons-margin-right" id="beta-j" aria-describedby="search" placeholder="βJ gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control gamma-delta-chain-select" id="delta-v" aria-describedby="search" placeholder="δV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control gamma-delta-chain-select" id="delta-cdr3" aria-describedby="search" placeholder="δ CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control gamma-delta-chain-select general-buttons-margin-right" id="delta-j" aria-describedby="search" placeholder="δJ gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control ig-chain-select" id="kappa-v" aria-describedby="search" placeholder="κV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control ig-chain-select" id="kappa-cdr3" aria-describedby="search" placeholder="κ CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control ig-chain-select general-buttons-margin-right" id="kappa-j" aria-describedby="search" placeholder="κJ gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control ig-chain-select" id="lamda-v" aria-describedby="search" placeholder="λV gene" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-6 form-control ig-chain-select" id="lamda-cdr3" aria-describedby="search" placeholder="λ CDR3 Junc AA" value="{{secondary_search_heavy}}" hidden>
                                <input type="search" class="col-md-3 form-control ig-chain-select general-buttons-margin-right" id="lamda-j" aria-describedby="search" placeholder="λJ gene" value="{{secondary_search_heavy}}" hidden>
                            </div>
                        </div>
                        {{#unless airrkb_search}}
                        <button type="button" class="btn btn-search" id="filter-query-nav-to-akc">Search in AKC Data <i class="fas fa-search"></i></button>
                        {{/unless}}
                        
                    </div>

                    <!-- <div class="input-group col-md-1">
                    </div> -->

                    <div class="input-group col-md-7">
                        <div class="filter-option">
                            <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="filter-secondary-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" {{#if airrkb_search}}hidden{{/if}}>
                                Filter On
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {{#each secondary}}
                                <button class="dropdown-item" type="button" id="filter-secondary-select" name="{{this.field}}" title="{{this.title}}">
                                    {{this.title}}
                                </button>
                                {{/each}}
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item disabled" type="button">
                                    Add Custom Filter...
                                </button>
                            </div>
                            </div>
                        </div>

                        {{#each secondary_filters}}
                        <div class="filter-option">
                            <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle-times" name="{{field}}" type="button" id="filter-secondary-active-filter" aria-haspopup="true" aria-expanded="false">
                                {{title}}
                                <a class="remove-filter"><i class="fas fa-times-circle" name="{{field}}"></i></a>
                            </button>
                            </div>
                        </div>

                        <div class="filter-value">
                            {{#each ../secondary}}
                                {{#ifEquals title ../title}}
                                    {{#if values}}
                                    <select class="form-control" id="filter-secondary-text" title="{{title}}">
                                        <option>null</option>
                                        {{#each values}}
                                        <option {{#ifEquals this ../../../../value}}selected{{/ifEquals}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                    {{else}}
                                        {{#if objects}}
                                        <select class="form-control" id="filter-secondary-text" title="{{title}}">
                                            <option id="null">null</option>
                                            {{#each objects}}
                                            <option {{#ifEquals this.id ../../../../../object}}selected{{/ifEquals}} id="{{this.id}}">{{this.label}} ({{this.id}})</option>
                                            {{/each}}
                                        </select>
                                        {{else}}
                                        <input type="text" class="form-control" id="filter-secondary-text" title="{{title}}" value="{{../../../../value}}">
                                        {{/if}}
                                    {{/if}}
                                {{/ifEquals}}
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </form>
</div>
