<!--
- Generic Filter View
-->

<div class="navbar-tool" id="filter-query">
    <form>
        <div class="row">
            <div class="input-group col-md-5">
                <input type="search" class="form-control general-buttons-margin-right" id="filter-query-text-search" aria-describedby="search" placeholder="Full Text Search" value="{{full_text_search}}">
                <button type="button" class="btn btn-search" id="filter-query-apply">Search <i class="fas fa-search"></i></button>
            </div>

            <div class="input-group col-md-7">

                {{#each filters}}
                <div class="filter-option">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle-times" name="{{field}}" type="button" id="filter-query-active-filter" aria-haspopup="true" aria-expanded="false">
                        {{title}}
                        <a class="remove-filter"><i class="fas fa-times-circle" name="{{field}}"></i></a>
                      </button>
                    </div>
                </div>

                <div class="filter-value">
                {{#each ../base}}
                    {{#ifEquals title ../title}}
                        {{#if values}}
                        <select class="form-control" id="filter-query-text" title="{{title}}">
                            <option>null</option>
                            {{#each values}}
                            <option {{#ifEquals this ../../../../value}}selected{{/ifEquals}}>{{this}}</option>
                            {{/each}}
                        </select>
                        {{else}}
                            {{#if objects}}
                            <select class="form-control" id="filter-query-text" title="{{title}}">
                                <option id="null">null</option>
                                {{#each objects}}
                                <option {{#ifEquals this.id ../../../../../object}}selected{{/ifEquals}} id="{{this.id}}">{{this.label}} ({{this.id}})</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <input type="text" class="form-control" id="filter-query-text" title="{{title}}" value="{{../../../../value}}">
                            {{/if}}
                        {{/if}}
                    {{/ifEquals}}
                {{/each}}
                </div>
                {{/each}}

                <div class="filter-option">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="filter-query-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                        Filter On
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {{#each base}}
                        <button class="dropdown-item" type="button" id="filter-query-select" name="{{this.field}}" title="{{this.title}}">
                            {{this.title}}
                        </button>
                        {{/each}}
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item disabled" type="button">
                            Add Custom Filter...
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if secondary_model}}
        <div class="row secondary-filter">
            <div class="input-group col-md-4">
                <input type="search" class="form-control" id="filter-secondary-text-search" aria-describedby="search" placeholder="CDR3/Junction AA Sequence Search" value="{{secondary_search}}">
            </div>

            <div class="input-group col-md-1">
            </div>

            <div class="input-group col-md-7">
                <div class="filter-option">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="filter-secondary-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                        Filter On
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {{#each secondary}}
                        <button class="dropdown-item" type="button" id="filter-secondary-select" name="{{this.field}}" title="{{this.title}}">
                            {{this.title}}
                        </button>
                        {{/each}}
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item disabled" type="button">
                            Add Custom Filter...
                        </button>
                      </div>
                    </div>
                </div>

                {{#each secondary_filters}}
                <div class="filter-option">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle-times" name="{{field}}" type="button" id="filter-secondary-active-filter" aria-haspopup="true" aria-expanded="false">
                        {{title}}
                        <a class="remove-filter"><i class="fas fa-times-circle" name="{{field}}"></i></a>
                      </button>
                    </div>
                </div>

                <div class="filter-value">
                    {{#each ../secondary}}
                        {{#ifEquals title ../title}}
                            {{#if values}}
                            <select class="form-control" id="filter-secondary-text" title="{{title}}">
                                <option>null</option>
                                {{#each values}}
                                <option {{#ifEquals this ../../../../value}}selected{{/ifEquals}}>{{this}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                                {{#if objects}}
                                <select class="form-control" id="filter-secondary-text" title="{{title}}">
                                    <option id="null">null</option>
                                    {{#each objects}}
                                    <option {{#ifEquals this.id ../../../../../object}}selected{{/ifEquals}} id="{{this.id}}">{{this.label}} ({{this.id}})</option>
                                    {{/each}}
                                </select>
                                {{else}}
                                <input type="text" class="form-control" id="filter-secondary-text" title="{{title}}" value="{{../../../../value}}">
                                {{/if}}
                            {{/if}}
                        {{/ifEquals}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </form>
</div>
