<!-- Modal -->
<div class="modal fade" id="modal-message" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-message-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title" id="modal-message-label">{{header}}</h4>
            </div>
            <div class="modal-body">
                {{{body}}}
            </div>
            <div class="modal-footer">

                {{#if successStyle}}
                    <button
                        type="button"
                        id="confirmation-button"
                        class="btn btn-success btn-block"
                        data-dismiss="modal"
                    >
                        Ok
                    </button>
                {{else}}
                    {{#if errorStyle}}
                        <button
                            type="button"
                            id="confirmation-button"
                            class="btn btn-danger btn-block"
                            data-dismiss="modal"
                        >
                            Ok
                        </button>
                    {{else}}
                        <button
                            type="button"
                            id="confirmation-button"
                            class="btn btn-primary btn-block"
                            data-dismiss="modal"
                        >
                            Ok
                        </button>
                    {{/if}}
                {{/if}}

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
