<!-- Modal -->
<div class="modal fade" id="modal-message" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-message-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-label">{{header}}</h4>
            </div>
            <div class="modal-body">
                {{{body}}}
            </div>
            <div class="modal-footer">
                {{#if cancelText}}
                    <button type="button" id="{{cancelID}}" class="{{cancelClass}}" data-dismiss="modal">{{cancelText}}</button>
                {{/if}}
                {{#if confirmText}}
                    <button type="button" id="{{confirmID}}" class="{{confirmClass}}" data-dismiss="modal">{{confirmText}}</button>
                {{/if}}
                {{#if serverError}}
                    <button type="button" id="server-error" class="btn btn-report" data-dismiss="modal">Send Error Feedback</button>
                {{/if}}
            </div>
            {{#if serverError}}
            <div class="modal-footer">
                    <p>Send this information to the VDJServer Administrator with the Send Error Feedback button.</p>
                    <code>{{{serverErrorBody}}}</code>
            </div>
            {{/if}}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
