<!-- Modal -->
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="modal-message-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title" id="modal-message-label">{{header}}</h4>
            </div>
            <div class="modal-body">
                    {{{body}}}

                <div class="add-chart-steps">
                    <button class="btn chart-step chart-step-active">Choose Chart Type</button>
                    <button class="btn chart-step chart-step-inactive">Select Variables</button>
                    <button class="btn chart-step chart-step-inactive">Preview Chart</button>
                    <button class="btn chart-step chart-step-inactive">Create Chart</button>
                </div>

                <div class="row add-chart-module no-gutters">
                    <div class="col-md-3 chart-types">
                        <a id="chart-type-bar" class="chart-type">
                            <div class="chart-type active">
                                Bar
                            </div>
                        </a>
                        <a id="chart-type-line" class="chart-type">
                            <div>
                                Line
                            </div>
                        </a>
                        <a id="chart-type-pie" class="chart-type">
                            <div>
                                Pie
                            </div>
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div class="row chart-options">
                            <!-- Swap out these options depending on what chart type is chosen -->
                            <!-- <a href="#"> -->
                                <div class="col-md">
                                    Chart Option 1
                                </div>
                            <!-- </a> -->
                            <!-- <a href="#"> -->
                                <div class="col-md">
                                    Chart Option 2
                                </div>
                            <!-- </a>
                            <a href="#"> -->
                                <div class="col-md">
                                    Chart Option 3
                                </div>
                            <!-- </a>
                            <a href="#"> -->
                                <div class="col-md">
                                    Chart Option 4
                                </div>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>

                <!-- "Select Variables" will need to go in a different view, just starting the code -->
                Select Variables
                <div class="row add-vars-module no-gutters">
                    <form class="col-md">
                        <div class="form-group">
                            <label for="chart-title" class= col-form-label">Chart title</label>
                            <input type="text" name="chart-title" id="chart-title" class="form-control">
                        </div>

                        <div class="add-chart-section">Data</div>
                        <div class="form-group row">
                            <label for="chart-x-axis" class="col-md col-form-label">X-Axis</label>
                            <div class="col-md-9">
                                <input type="text" name="chart-x-axis" id="chart-x-axis" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="chart-y-axis" class="col-md col-form-label">Y-Axis</label>
                            <div class="col-md-9">
                                <input type="text" name="chart-y-axis" id="chart-y-axis" class="form-control">
                            </div>
                        </div>

                        <div class="add-chart-section">Design</div>
                        <div class="chart-labels">
                            <span class="add-chart-subsection">Labels</span>
                            <div class="custom-control custom-radio custom-control-inline">
                              <div class="form-check">
                                  <input type="radio" id="chart-labels-yes" name="chart-labels-yes" class="custom-control-input" checked>
                                  <label class="custom-control-label" for="chart-labels-yes">Yes</label>
                              </div>
                             </div>
                             <div class="custom-control custom-radio custom-control-inline">
                              <div class="form-check">
                                  <input type="radio" id="chart-labels-no" name="chart-labels-no" class="custom-control-input">
                                  <label class="custom-control-label" for="chart-labels-no">No</label>
                              </div>
                            </div>
                        </div>
                        <div class="gridlines">
                            <span class="add-chart-subsection">Gridlines</span>
                            <div class="custom-control custom-radio custom-control-inline">
                              <div class="form-check">
                                  <input type="radio" id="chart-labels-yes" name="chart-labels-yes" class="custom-control-input" checked>
                                  <label class="custom-control-label" for="chart-labels-yes">Yes</label>
                              </div>
                             </div>
                             <div class="custom-control custom-radio custom-control-inline">
                              <div class="form-check">
                                  <input type="radio" id="chart-labels-no" name="chart-labels-no" class="custom-control-input">
                                  <label class="custom-control-label" for="chart-labels-no">No</label>
                              </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-7 edit-preview-chart">
                        <div class="preview-chart-display">
                            Preview chart
                        </div>
                    </div
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">{{cancelText}}</button>
                <button type="button" class="btn btn-save" data-dismiss="modal">{{confirmText}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
