<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="form-group col-md-3 pull-right">
        <input id="searchAll" type="text" class="form-control pull-right" placeholder="Search">
      </div>
    </div>
    <table id="community" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>
            SRA Study
          </th>
          <th>
            PubMed ID
          </th>
          <th>
            Organism
          </th>
          <th>
            Ig/TCR
          </th>
          <th>
            Study Type
          </th>
          <th>
            Description
          </th>
          <th>
            Experiments
          </th>
          <th>
            Runs
          </th>
          <th>
            SRA Submission
          </th>
          <th>
            Notes
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each community}}
        <tr>
          <td>
            {{#if this.url}}
            <a href="{{this.url}}">{{sraStudy}}</a>
            {{else}}
              {{sraStudy}}
            {{/if}}
          </td>
          <td>
            {{pubMedId}}
          </td>
          <td>
            {{organism}}
          </td>
          <td>
            {{receptor}}
          </td>
          <td>
            {{study}}
          </td>
          <td>
            {{description}}
          </td>
          <td>
            {{experiments}}
          </td>
          <td>
            {{runs}}
          </td>
          <td>
            {{sraSubmission}}
          </td>
          <td>
            {{notes}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
