<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          {{!-- Make sure not to render until we have data... --}}
          {{#if communityData.value.title}}
          <table class='display' id='community-project' cellspacing="0" width="100%">
              <thead>
                <th>
                </th>
                <th>
                </th>
              </thead>
              <tbody>
                  <tr>
                      <td><strong>Title</strong></td>
                      <td>
                        {{#if communityData.value.title}}
                          {{communityData.value.title}}
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>
                  <tr>
                      <td><strong>BioProject Type</strong></td>
                      <td>
                        {{#if communityData.value.bioProjectType}}
                          {{communityData.value.bioProjectType}}
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>

                  <tr>
                      <td><strong>SRA Abstract</strong></td>
                      <td>
                        {{#if communityData.value.abstract}}
                          {{communityData.value.abstract}}
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>

                  <tr>
                      <td><strong>Paper</strong></td>
                      <td>
                        {{#if communityData.value.paper}}
                          <a href="{{communityData.value.paper}}" target="_blank">{{communityData.value.paper}}</a>
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>

                  <tr>
                      <td><strong>SRA Study</strong></td>
                      <td>
                        {{#if communityData.value.studyId}}
                          {{communityData.value.studyId}}
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>

                  <tr>
                      <td><strong>BioProject</strong></td>
                      <td>
                        {{#if communityData.value.bioProject.id}}
                          <a href="{{communityData.value.bioProject.url}}" target="_blank">{{communityData.value.bioProject.id}}</a>
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>

                  <tr>
                      <td><strong>Organism</strong></td>
                      <td>
                        {{#if communityData.value.organism}}
                          {{communityData.value.organism}}
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>

                  <tr>
                      <td><strong>VDJServer processing</strong</td>
                      <td>
                        {{#if communityData.value.vdjServerProcessing}}
                          {{{communityData.value.vdjServerProcessing}}}
                        {{else}}
                          N/A
                        {{/if}}
                      </td>
                  </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td><td></td>
                </tr>
              </tfoot>
          </table>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <input id="community-project-search" type="text" class="form-control pull-right" placeholder="Search">
        </div>
        <table class='display' id='community-project-experiments' cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>
                  <strong>SRA Experiment</strong>
                </th>
                <th>
                  <strong>Biosample</strong>
                </th>
                <th>
                  <strong>Sample Description</strong>
                </th>
                <th>
                  <strong>SRA Run</strong>
                </th>
                <th>
                  <strong>Layout</strong>
                </th>
                <th>
                  <strong>Platform</strong>
                </th>
                <th>
                  <strong>Read Count</strong>
                </th>
                <th>
                  <strong>Sequence Length</strong>
                </th>
                <th>
                  <strong>fastq Extracted from SRA</strong>
                </th>
                <th>
                  <strong>QC Filtered Output</strong>
                </th>
                <th>
                  <strong>IgBlast Output</strong>
                </th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
              </tr>
            </tfoot>
            <tbody>
            {{#each communityData.value.experimentProjects}}
              <tr>
                <td>
                  <a href="{{this.sraExperiment.url}}" target="_blank">{{this.sraExperiment.id}}</a>
                </td>
                <td>
                  {{#if this.biosample}}
                    {{this.biosample}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.sampleDescription}}
                    {{this.sampleDescription}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  <a href="{{this.sraRun.url}}" target="_blank">{{this.sraRun.id}}</a>
                </td>
                <td>
                  {{#if this.layout}}
                    {{this.layout}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.platform}}
                    {{this.platform}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.readCount}}
                    {{this.readCount}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.sequenceLength}}
                    {{this.sequenceLength}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.fastqSRA}}
                    {{this.fastqSRA}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.qcFilteredOutput}}
                    {{this.qcFilteredOutput}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
                <td>
                  {{#if this.igBlastOutput}}
                  {{#each this.igBlastOutput}}
                    <li>
                      <a class="download-file" href="#" data-bypass=true data-filename="{{this}}" data-uuid="{{../../../communityData.uuid}}">{{this}}</a>
                    </li>
                  {{/each}}
                  {{else}}
                    N/A
                  {{/if}}
                </td>
              </tr>
            {{/each}}
            </tbody>
        </table>
        {{/if}}
      </div>
    </div>
</div>
