<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            {{#if communityDatas}}
            <div class="form-group col-md-3 pull-right">
                <input id="community-search" type="text" class="form-control pull-right" placeholder="Search">
            </div>
            <table id="community" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            SRA Study
                        </th>
                        <th>
                            PubMed ID
                        </th>
                        <th>
                            Organism
                        </th>
                        <th>
                            Ig/TCR
                        </th>
                        <th>
                            Study Type
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Experiments
                        </th>
                        <th>
                            Runs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each communityDatas}}
                        <tr>
                            <td>
                              {{#if value.studyId}}
                                <a href="community/{{uuid}}">{{value.studyId}}</a>
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.pubMedId}}
                                {{value.pubMedId}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.organism}}
                                {{value.organism}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.receptor}}
                                {{value.receptor}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.study}}
                                {{value.study}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.title}}
                                {{value.title}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.experiments}}
                                {{value.experiments}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                            <td>
                              {{#if value.runs}}
                                {{value.runs}}
                              {{else}}
                                N/A
                              {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                </tfoot>
            </table>
            {{/if}}
        </div>
    </div>
</div>
