{{> presto-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-12">

            <input
              class="job-form-item barcode-or-umi"
              name="barcode-or-umi"
              type="radio"
              value="barcode"
              checked
            > Barcode
            <input
              class="job-form-item barcode-or-umi"
              name="barcode-or-umi"
              type="radio"
              value="UMI"
            > UMI



            <div id="presto-barcode-umi">
            </div>
        </div>
    </div>

{{> presto-base-view-bottom}}
