{{> presto-base-view-top}}

    <div class="row row-with-spacer">

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Output File Prefix
                                </td>
                                <td>
                                    <input
                                        class="job-form-item"
                                        name="output-file-prefix"
                                        placeholder="text"
                                        type="text"
                                    >
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    This module prepends a prefix onto the output filename.
                </div>
            </div>
        </div>

    </div>

{{> presto-base-view-bottom}}
