{{> presto-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-12">
            Sequence Type
            &nbsp;
            <select
                class="job-form-item"
                name="sequence-file-types"
            >
                <option value="454">454</option>
                <option value="genbank">Genbank</option>
                <option value="illumina">Illumina</option>
                <option value="imgt">IMGT</option>
                <option value="sra">SRA</option>
            </select>
        </div>
    </div>

{{> presto-base-view-bottom}}
