{{> presto-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-6">

            Minimum Length
            &nbsp;
            <input
              class="job-form-item"
              name="minimum-length"
              type="number"
              value="250"
              step="1"
              min="0"
              pattern="\d+"
            >
        </div>
        <div class="col-md-6">
            This module removes reads with a length below the minimum threshold provided.
        </div>
    </div>

    <div class="row row-with-spacer">
        <div class="col-md-6">

            Minimum Quality
            &nbsp;
            <input
              class="job-form-item"
              name="minimum-quality"
              type="number"
              value="20"
              step="1"
              min="0"
              pattern="\d+"
            >
        </div>
        <div class="col-md-6">
            This module removes reads containing nucleotides with a quality score below the threshold provided.
        </div>
    </div>

{{> presto-base-view-bottom}}
