<div class="row">
    <div class="col-sm-12">

        {{#unless jobs}}

            <div class="alert alert-info">
                You will need to launch a job in order to to see output here.
                <br>
                <br>
                You can launch jobs and upload files on the <a href="project/{{projectUuid}}">"Upload and Browse Project Data"</a> page.
            </div>

        {{else}}
            <div class="text-center">
                <ul class="pagination">

                    <li class="job-pagination-previous">
                        <a
                            href="#"
                            data-bypass=true
                        >
                            &laquo;
                        </a>
                    </li>

                    {{#each paginationSets}}
                        <li class="job-pagination-wrapper job-pagination-wrapper-{{this}}">
                            <a
                                class="job-pagination"
                                href="#"
                                data-bypass=true
                                data-id="{{this}}"
                            >
                                {{this}}
                            </a>
                        </li>
                    {{/each}}

                    <li class="job-pagination-next">
                        <a
                            href="#"
                            data-bypass=true
                        >
                            &raquo;
                        </a>
                    </li>

                </ul>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Status</th>
                            <th>Submit Time</th>
                            <th>End Time</th>
                            <th>App</th>
                            <th>Creator</th>
                            <th>View Analyses</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each jobs}}
                            <tr>
                                <td>{{name}}</td>
                                <td>
                                    <div id="job-status-{{id}}">
                                        {{#IsJobFrozen this}}
                                            Job Failed
                                        {{else}}
                                            {{status}}
                                        {{/IsJobFrozen}}
                                    </div>
                                </td>
                                <td>
                                    {{#if submitTime}}
                                        {{FormatAgaveDate submitTime}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#IsJobFrozen this}}
                                        Job Failed

                                    {{else}}
                                        {{#if endTime}}
                                            {{FormatAgaveDate endTime}}
                                        {{/if}}
                                    {{/IsJobFrozen}}

                                </td>
                                <td>{{appId}}</td>
                                <td>{{parameters.Creator}}</td>
                                <td>
                <div class="btn-group">
                    <button
                        id="job-action-button"
                        class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        Job Actions
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <ul
                        class="dropdown-menu"
                        role="menu"
                    >
                        <li class="job-actions">
                            <a
                                class="rename-job"
                                href="#"
                                data-bypass=true
                                data-id="{{id}}"
                            >
                                Rename Job
                            </a>
                        </li>

                        <li class="job-actions">
                            <a
                                class="job-history"
                                href="#"
                                data-bypass=true
                                data-id="{{id}}"
                            >
                                Show Job History
                            </a>
                        </li>

                        <li class="job-actions">
                            <a
                                class="job-to-project-data"
                                href="#"
                                data-bypass=true
                                data-id="{{id}}"
                            >
                                Show in Project Data
                            </a>
                        </li>

                        <li class="job-actions">
                            <a
                                class="archive-job"
                                href="#"
                                data-bypass=true
                                data-id="{{id}}"
                            >
                                Archive Job
                            </a>
                        </li>
                    </ul>

                </div>

                                </td>
                                <td>
                                    {{#IsJobFrozen this}}
                                        <button type="button" class="btn btn-danger view-config" data-jobid={{id}}>Job Failed - View Config File</button>
                                    {{else}}
                                        {{#JobSuccessCheck this}}
                                            <a href="project/{{../../../projectUuid}}/jobs/{{id}}" class="disabled">
                                                <button type="button" class="btn btn-primary">View Output</button>
                                            </a>
                                        {{else}}
                                            {{#if submitTime}}
                                                <button type="button" class="btn btn-warning" disabled="disabled">In Progress</button>
                                            {{else}}
                                                <button type="button" class="btn btn-warning" disabled="disabled">Job Information Unavailable</button>
                                            {{/if}}
                                        {{/JobSuccessCheck}}
                                    {{/IsJobFrozen}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <ul class="pagination">

                    <li class="job-pagination-previous">
                        <a
                            href="#"
                            data-bypass=true
                        >
                            &laquo;
                        </a>
                    </li>

                    {{#each paginationSets}}
                        <li class="job-pagination-wrapper job-pagination-wrapper-{{this}}">
                            <a
                                class="job-pagination"
                                href="#"
                                data-bypass=true
                                data-id="{{this}}"
                            >
                                {{this}}
                            </a>
                        </li>
                    {{/each}}

                    <li class="job-pagination-next">
                        <a
                            href="#"
                            data-bypass=true
                        >
                            &raquo;
                        </a>
                    </li>

                </ul>
            </div>

        {{/unless}}
    </div>
</div>

<section id="project-job-history"></section>
