<div class="row">
    <div class="col-md-5 table-responsive">
        <table class="project-details">
            <tbody>
                <tr>
                    <td>
                        <strong>Job Name:</strong>
                    </td>
                    <td>
                        {{jobDetail.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>App:</strong>
                    </td>
                    <td>
                        {{jobDetail.appId}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Date:</strong>
                    </td>
                    <td>
                        {{FormatAgaveDate jobDetail.submitTime}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>
                <div class="alert alert-primary">
                    Job Output Files
                </div>
            </h2>
        </div>

        <div class="col-md-12 table-responsive text-center">
            <table class="table table-bordered table-headings">
                <thead>
                    <tr>
                        <th class="text-center">
                            Name
                        </th>
                        <th class="text-center">
                            Size
                        </th>
                        <th class="text-center">
                            Availability
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each projectFiles}}
                        <tr class="text-center">
                            <td>
                                <button class="btn btn-default download-file" data-bypass=true data-filename="{{uuid}}">
                                {{#if this.description}}
                                    {{this.description}}
                                {{else}}
                                    {{value.name}}
                                {{/if}}
                                </button>
                            </td>

                            <td>
                                {{GetHumanReadableFileSize value.length}}
                            </td>

                            <td>
                                {{#if value.showInProjectData}}
                                <button type="button" class="btn btn-warning switch-project-data" data-filename="{{uuid}}">Remove from Project Data Area</button>
                                {{else}}
                                <button type="button" class="btn btn-primary switch-project-data" data-filename="{{uuid}}">Make Available in Project Data Area</button>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{#each analysisCharts}}
        <div id="analysis-charts-{{this.groupId}}">
        </div>
    {{/each}}

    <div class="row">
        <div class="col-md-12">
            <h2>
                <div class="alert alert-vdj-red">
                    Log Files
                </div>
            </h2>
        </div>

        <div class="col-md-12 table-responsive text-center">
            <table class="table table-bordered table-headings">
                <thead>
                    <tr>
                        <th class="text-center">
                            Name
                        </th>
                        <th class="text-center">
                            Size
                        </th>
                        <th class="text-center">
                            Display
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each logFiles}}
                        <tr class="text-center">
                            <td>
                                <button class="btn btn-default download-file" data-bypass=true data-filename="{{uuid}}">
                                {{#if this.description}}
                                    {{this.description}}
                                {{else}}
                                    {{value.name}}
                                {{/if}}
                                </button>
                            </td>

                            <td>
                                {{GetHumanReadableFileSize value.length}}
                            </td>
                            <td>
                                <button class="btn btn-default hide-log hidden" data-id="{{uuid}}">
                                    Hide Log
                                </button>
                                <button class="btn btn-default show-log" data-id="{{uuid}}">
                                    Show Log
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="analyses">
	<div class="alert alert-danger alert-message chart-warning" style="display:none;"></div>
</div>
