body {
    padding-top: 50px;
    overflow: hidden;

    //width: 1200px;
    //margin: auto 110px;
    //max-width: 100%;
    overflow: auto;
    background:url("../images/illustration-final.png") no-repeat 127px -20px;
}
