@import 'sass-bootstrap/lib/bootstrap';

.drag-and-drop-box {
    @extend .jumbotron;

    border-style: dashed;
    border-color: #eeeeee;
    text-align: center;
    background-color: #ffffff;
    margin-color: #ffffff;
}


.drag-and-drop-box .background-icon {
    position: absolute;
    opacity: 0.2;
    font-size: 100px;
    color: #919191;
    left: 50%;
    margin-left: -50px;
}

.table-without-border {
    @extend .table;

    thead>tr>th,
    tbody>tr>th,
    tfoot>tr>th,
    thead>tr>td,
    tbody>tr>td,
    tfoot>tr>td {
        border-top: none;
    }
}
