.drag-and-drop-box {
    @extend .jumbotron;

    //max-width: 40%;
    border-style: dashed;
    border-color: #eeeeee;
    text-align: center;
    background-color: #ffffff;
    margin-color: #ffffff;
}


.drag-and-drop-box .background-icon {
    position: absolute;
    opacity: 0.2;
    font-size: 100px;
    color: #919191;
    left: 50%;
    margin-left: -50px;
}

.file-transfer {
    border-style: solid;
    border-color: #eeeeee;
}

.footer-inner {
    overflow: hidden;
}

.job-pending {
    @extend .alert;
    @extend .alert-warning;

    height: 15%;
    width: 20%;
    word-wrap: break-word;
    bottom: -25%;
    //margin-bottom: 40px;
    //margin-bottom: 10px;
    //padding-bottom: 30px;
    position: relative;
    //position: fixed;
    //overflow: hidden;
    display: inline-block;
    float: left;
    table {
        margin-bottom: 0px;
    }
}
