.row-with-spacer {
    @extend .row;

    margin-top: 20px;
}

.main-content {
    @extend .container;
    padding: 40px 15px;
}

.sidebar {
    border-right: 1px solid;
    border-color: $sidebarColor;
    overflow: visible;
    height: 100%;
}
