/*    They were adapted from an external css file in: http://getbootstrap.com/examples/starter-template/
*/

body {
    padding-top: 50px;
    width: 1200px;
    margin: auto 110px;
    max-width: 100%;
    overflow: auto;
    background:url("../images/illustration-final.png") no-repeat 127px -20px;

}

.navbar {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    height:75px;
    z-index: 2;
    
}

.navbar-content {
    @extend .container;
}

.navbar-header {
    @extend .navbar-header;
}

.navbar-three-bar-control {
    @extend .navbar-toggle;
}

.navbar-nav{
   margin:10px auto;

}

.navbar-blur{
   @extend .navbar;
   @extend .navbar-fixed-top;
   @extend .navbar-inverse;   
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
   z-index:-1;
}
.navbar-vdj-logo {
    @extend .navbar-brand;
    padding: 0px;
}

.navbar-vdj-logo > img{
    width: 125px;

}


.navbar-items {
    @extend .navbar-collapse;
    @extend .collapse;
}

.no-user{
    padding: 0px 20px;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 0.08px;
    font-size:1.2em;
    color: rgb(148, 71, 63);
}

.main-content {
    @extend .container;
    padding: 40px 15px;
}

form{
    @extend .form-control;
}
