<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJML
            </div>
        </h2>

        <p>
            VDJML documentation is available <a href="/vdjml/index.html" target="_blank" data-bypass=true>here</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJPipe
            </div>
        </h2>

        <p>
            VDJPipe documentation is available <a href="/vdjpipe/index.html" target="_blank">here</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJServer Software
            </div>
        </h2>

        <p>
            VDJServer software projects are available at <a href="https://bitbucket.org/vdjserver/" target="_blank">https://bitbucket.org/vdjserver</a>.
        </p>
    </div>
</div>
