<div class="row">
    <div class="col-md-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="add-username">Username</label>
                    <input type="text" id="add-username" class="form-control" placeholder="Enter username...">
            </div>
            <button type="submit" class="btn btn-success">Add user to project</button>
        </form>
    </div>
</div>

<div class="row-with-spacer">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                    <tr>
                        <td>
                            {{this.username}}
                        </td>
                        <td>
                            {{#ManageUsersShouldDisableDelete this}}
                                <button class="btn btn-danger remove-user-from-project" data-id="{{username}}" disabled="disabled">Delete</button>
                            {{else}}
                                <button class="btn btn-danger remove-user-from-project" data-id="{{username}}">Delete</button>
                            {{/ManageUsersShouldDisableDelete}}
                        </td>
                    </tr>
                {{/users}}
            </tbody>
        </table>
    </div>
</div>
