<!--
- Community Charts View
-->

<!-- How to handle dynamically adding/removing charts? -->
<div class="row">
    <!-- General Information about the charts here -->
</div>

<div class="row" id="community-charts-display">
    <div id="chart-1-region" class="col"></div>
    <div id="chart-2-region" class="col"></div>
    <div id="chart-3-region" class="col"></div>
</div>

<div class="row chart-actions">
    <div class="ml-auto mr-3">
        <button type="button" class="btn btn-new" id="add-new-chart">Add a Chart <i class="fas fa-plus"></i></button>
    </div>
</div>
