<div id="community-charts-table-header">
    <div class="row general-table-row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row general-border-top">
                <div class="col-md-2"><b>{{header1}}</b></div>
                <div class="col-md-2"><b>{{header2}}</b></div>
                <div class="col-md-2"><b>{{header3}}</b></div>
                <div class="col-md-2"><b>{{header4}}</b></div>
                <div class="col-md-2"><b>{{header5}}</b></div>
                <div class="col-md-1"><b>{{header6}}</b></div>
                <div class="col-md-1"><b>Actions</b></div>
            </div>
        </div>
    </div>
    <div class="community-charts-table-body">
    </div>
</div>