<div class="community-data-table">
    <div class="row community-data-table-actions">
        <div class="input-group offset-md-8 col-md-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="pagination-page-size">Rows per Page:</label>
          </div>
          <select class="custom-select custom-select-webkit-fix" id="pagination-page-size">
              <option>1</option>
              <option>5</option>
              <option selected>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>All</option>
          </select>
        </div>
    </div>

    <div id="community-subjects-table"></div>

    <!-- Generalize page row so we can use elsewhere, or specific to the study data table?? -->
    <!-- May be easier to update if it is own view -->
    <div class="row community-data-table-footer">
        <div class="col community-data-table-caption">
            <!-- needs customization -->
            Showing #-# of {{num_repertoires}} subjects
        </div>
        <div class="col-md-4 project-buttons-right">
            <button type="button" class="btn btn-pagination" id="pagination-previous-page">Previous Page</button>
            <button type="button" class="btn btn-pagination project-buttons-margin-left" id="pagination-next-page">Next Page</button>
        </div>
    </div>
</div>
