<!--
- Community Query View
-->

<div class="community-filter" id="community-filter">
    <form>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" id="community-text-search" aria-describedby="search" placeholder="Full Text Search" value="{{full_text_search}}">
            </div>

            {{#each filters}}
            <div class="col-md-2">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle-times" name="{{this.field}}" type="button" id="community-active-filter" aria-haspopup="true" aria-expanded="false">
                    {{this.title}}
                  </button>
                </div>
            </div>

            <div class="col-md-2">
                <input type="text" class="form-control" id="community-filter-text" placeholder="Value">
            </div>
            {{/each}}

            <div class="col-md-2">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="community-filter-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    Filter Studies On
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" id="community-filter-select" name="study.study_id" title="Study ID">
                        Study ID
                    </button>
                    <button class="dropdown-item" type="button" id="community-filter-select" name="subject.sex" title="Subject Sex">
                        Subject Sex
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item disabled" type="button">
                        Add Custom Filter...
                    </button>
                  </div>
                </div>
            </div>

            {{#if filters}}
            <div class="col-md-2">
                <button type="button" class="btn btn-darkgray" id="community-filter-apply">Apply Filter<i class="fas fa-filter" aria-hidden="true"></i></button>
            </div>
            {{/if}}

        </div>
    </form>
</div>

<div class="row community-actions">
    <div class="dropdown">
<!--      <button class="btn btn-primary dropdown-toggle" type="button" id="community-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
-->      <button class="btn btn-primary dropdown-toggle" type="button" id="community-sort-button" aria-haspopup="true" aria-expanded="false">
        Sort Studies By
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" id="community-sort-select" name="study.study_title">
            {{#ifEquals current_sort "study.study_title"}}<span class="fas fa-check"></span>{{/ifEquals}}
            Study Title
        </button>
        <button class="dropdown-item" type="button">
            {{#ifEquals current_sort "newest"}}<span class="fas fa-check"></span>{{/ifEquals}}
            Newest
        </button>
        <button class="dropdown-item" type="button">
            {{#ifEquals current_sort "oldest"}}<span class="fas fa-check"></span>{{/ifEquals}}
            Oldest
        </button>
        <button class="dropdown-item" type="button" id="community-sort-select" name="num_repertoires">
            {{#ifEquals current_sort "num_repertoires"}}<span class="fas fa-check"></span>{{/ifEquals}}
            Number of Repertoires
        </button>
        <button class="dropdown-item" type="button">
            {{#ifEquals current_sort "repository"}}<span class="fas fa-check"></span>{{/ifEquals}}
            ADC Repository
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item disabled" type="button">
            Add Custom Sort...
        </button>
      </div>
    </div>

    <div class="col-md-3">
        <a download class="btn btn-download" href="#">Download <i class="fas fa-download" aria-hidden="true"></i></a>
    </div>
</div>
