<div class="row general-table-row ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row general-border-top">
            <div class="col-md-2 text-data">{{body1}}</div>
            <div class="col-md-2 text-data">{{body2}}</div>
            <div class="col-md-2 text-data">{{body3}}</div>
            <div class="col-md-2 text-data">{{body4}}</div>
            <div class="col-md-2 text-data">{{body5}}</div>
            <div class="col-md-1 text-data">{{body6}}</div>
            <div class="col-md-1 general-buttons-right">
                <button type="button" class="btn btn-sm btn-create view-table" name="{{cid}}">View</button>
                <button type="button" class="btn btn-sm btn-light hide-table" name="{{cid}}" hidden>Hide</button>
            </div>
        </div>
    </div>
    <!-- uncomment below for easier debugging -->
    <!-- <div class="col-md-1">{{tags}}</div> -->

</div>