<!--
- Community Stats View
-->

<div class="row community-statistics">
    <div class="col-md-2">
        <h3>Filter Results</h3>
    </div>
    <div class="col-md-2">
        <h3><a class="badge badge-pill badge-stats">{{num_studies}} Studies</a></h3>
    </div>
    <div class="col-md-2">
        <h3><a class="badge badge-pill badge-stats">{{num_reps}} Repertoires</a></h3>
    </div>
    <div class="col-md-2">
        <h3><a class="badge badge-pill badge-stats">{{num_repos}} ADC Repositories</a></h3>
    </div>
</div>
