<!--
- Community Stats View
-->
<div class="navbar-tool" id="community-statistics">

    <div class="row align-items-center">
        <div class="col-md-12 general-buttons-right">
            <div class="row gx-5 gy-5 d-flex align-items-center">
                <div class="col-md-3 stats-headers d-flex justify-content-end">
                    ADC Repositories:
                </div>
                <div class="col-md-3 stats-headers d-flex justify-content-start">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-info badge-stats" id="stats-adc">
                            <span class="badge badge-stats" id="stats-adc">
                            {{num_repos}} </span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 stats-headers p-3 d-flex justify-content-end">Studies:</div>
                <div class="col-md-3 stats-headers d-flex justify-content-start"><span class="badge badge-stats" id="stats-studies"> {{num_studies}} </span></div>
            </div>

            <div class="row d-flex align-items-center">
                <div class="col-md-3 stats-headers p-3 d-flex justify-content-end">Repertoires:</div>
                <div class="col-md-3 stats-headers d-flex justify-content-start"><span class="badge badge-stats" id="stats-reps"> {{num_repertoires}} </span></div>
                <div class="col-md-3 stats-headers d-flex justify-content-end">Rearrangements:</div>
                <div class="col-md-3 stats-headers d-flex justify-content-start"><span class="badge badge-stats" id="stats-reps"> {{num_rearrangements}} </span></div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-3 stats-headers p-3 d-flex justify-content-end">Clones:</div>
                <div class="col-md-3 stats-headers d-flex justify-content-start"><span class="badge badge-stats" id="stats-reps"> {{num_clones}} </span></div>
                <div class="col-md-3 stats-headers d-flex justify-content-end">Receptors:</div>
                <div class="col-md-3 stats-headers d-flex justify-content-start"><span class="badge badge-stats" id="stats-reps"> {{num_receptors}} </span></div>
            </div>
        </div>
        </div>
    </div>

</div>
