<!--
- Community Query View
-->

<div class="community-filter" id="community-filter">
    <form>
        <div class="row">
            <div class="input-group col-md-3">
                <input type="search" class="form-control" id="community-text-search" aria-describedby="search" placeholder="Full Text Search" value="{{full_text_search}}">
            </div>

            <div class="apply-filter">
                <button type="button" class="btn btn-search" id="community-filter-apply">Search <i class="fas fa-search"></i></button>
            </div>

            {{#each filters}}
            <div class="filter-option">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle-times" name="{{this.field}}" type="button" id="community-active-filter" aria-haspopup="true" aria-expanded="false">
                    {{this.title}}
                    <a class="remove-filter"><i class="fas fa-times-circle"></i></a>
                  </button>
                </div>
            </div>

            <div class="filter-value">
                {{#ifEquals title "Study ID"}}
                    <input type="text" class="form-control" id="community-filter-text" placeholder="{{this.title}}" value="{{this.value}}">
                {{/ifEquals}}

                {{#ifEquals title "Subject Sex"}}
                    <select class="form-control" id="community-filter-sex">
                        <option>Choose...</option>
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                {{/ifEquals}}
            </div>

            <!-- <div class="filter-operator">
                <select class="form-control" id="exampleFormControlSelect2">
                  <option>AND</option>
                  <option>OR</option>
                  <option>CONTAINS</option>
                  <option>NOT EQUAL</option>
                </select>
            </div> -->
            {{/each}}

            <div class="filter-option">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="community-filter-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    Filter On
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" id="community-filter-select" name="study.study_id" title="Study ID">
                        Study ID
                    </button>
                    <button class="dropdown-item" type="button" id="community-filter-select" name="subject.sex" title="Subject Sex">
                        Subject Sex
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item disabled" type="button">
                        Add Custom Filter...
                    </button>
                  </div>
                </div>
            </div>


            {{#if filters}}
            <!-- <div class="reset-filter">
                <button type="button" class="btn btn-cancel" id="community-filter-reset">Reset</button>
            </div> -->
            {{/if}}

        </div>
    </form>
</div>
