<!--
- Community Charts View
-->

<!-- How to handle dynamically adding/removing charts? -->
<div class="row">
    <!-- General Information about the charts here -->
</div>

<div class="row" id="community-charts-display">
    <div id="chart-1-region" class="col"></div>
    <div id="chart-2-region" class="col add-chart">
        <span>Add a Chart <i class="fas fa-plus"></i></span>
    </div>
    <div id="chart-3-region" class="col add-chart">
        <span>Add a Chart <i class="fas fa-plus"></i></span>
    </div>
</div>

<div class="row chart-actions">
    <!-- <div class="col-md-8 results-stats">
        <span class="stats">Results Summary: </span>
        <div class="stats-badges">
            <span class="badge badge-pill badge-stats" id="stats-studies">
                {{num_studies}} Studies
            </span>

            <span class="badge badge-pill badge-stats" id="stats-reps">
                {{num_reps}} Repertoires
            </span>

            <span class="badge badge-pill badge-stats" id="stats-adc">
                {{num_repos}} ADC Repositories
            </span>
        </div>
    </div> -->
    <div class="ml-auto mr-3">
        <button type="button" class="btn btn-new">Add a Chart <i class="fas fa-plus"></i></button>
    </div>
</div>
