    <div class="row community-data-table-footer align-items-center">
        <div class="col community-data-table-caption">
            <span>Showing {{firstPageRecord}}-{{lastPageRecord}} of {{numRepertoires}} Repertoires</span>
        </div>

        <div class="col-md-4 general-buttons-right">
            <div class="btn-group btn-group-sm" role="group" aria-label="Button group">
                <button type="button" class="btn btn-pagination general-buttons-margin-left" id="pagination-previous-page" {{#if firstPage}}disabled{{/if}}>Previous Page</button>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Button group">
                <button type="button" class="btn btn-pagination general-buttons-margin-left" id="pagination-next-page" {{#if lastPage}}disabled{{/if}}>Next Page</button>
            </div>
        </div>
    </div>

