<!--
- Community Charts View
-->

<!-- How to handle dynamically adding/removing charts? -->
<div class="row">
    <!-- General Information about the charts here -->
</div>

<div class="row" id="community-charts-display">
    <div id="chart-1-region" class="col-md-4"></div>
    <div id="chart-2-region" class="col-md-4"></div>
    <div id="chart-3-region" class="col-md-4"></div>
</div>

<div class="row" id="cmmunity-charts-table-display">
    <div id="chart-table-region" class="col"></div>
</div>
