            <div class="row community-data-table-row">
                <div class="col-md-2">
                    {{repertoire.value.repertoire_name}}
                </div>
                <div class="col-md-2">
                    {{subject.subject_id}}
                </div>
                <div class="col-md-2">
                    {{sample_id}}
                </div>
                <div class="col-md-2">
                    {{tissue}}
                </div>
                <div class="col-md-2">
                    {{disease_state_sample}}
                </div>
                <div class="col-md-2">
                    {{cell_subset}}
                </div>
                <!-- <div>Diagnosis Data</div> -->
            </div>

            <!-- Details attach after each repertoire row -->
