            <div class="row community-data-table-row">
                <div class="col-md-1">
                    {{repertoire.value.repertoire_name}}
                </div>
                <div class="col-md-3">
                    {{repertoire_id}}
                </div>
                <div class="col-md-2">
                    {{subject.subject_id}}
                </div>
                <div class="col-md-2">
                    {{sample.0.sample_id}}
                </div>
                <div class="col-md-2">
                    {{sample.0.cell_phenotype}}
                </div>
                <div class="col-md-2">
                    {{sample.0.tissue.id}}
                </div>
                <!-- <div>Diagnosis Data</div> -->
            </div>

            <!-- Details attach after each repertoire row -->
