<td colspan="7">
    <div>
        <h1>Subject Details</h1>
        <table class="table subject-details">
            <thead>
                <tr>
                    <th>Species</th>
                    <th>Age Min</th>
                    <th>Age Max</th>
                    <th>Age Unit</th>
                    <th>Sex</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{subject.species.label}}</td>
                    <td>{{subject.age_min}}</td>
                    <td>{{subject.age_max}}</td>
                    <td>{{subject.age_unit.abel}}</td>
                    <td>{{subject.sex}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</td>
