            <div class="row repertoire-row">
                <div class="col-md-1 repertoire-name">
                    {{repertoire.value.repertoire_name}}
                </div>
                <div class="col-md-3 repertoire-id">
                    {{repertoire_id}}
                </div>
                <div class="col-md-2 subject">
                    {{subject.subject_id}}
                </div>
                <div class="col-md-2 sample">
                    {{sample.0.sample_id}}
                </div>
                <div class="col-md-2 cell">
                    {{sample.0.cell_phenotype}}
                </div>
                <div class="col-md-2 tissue">
                    {{sample.0.tissue.id}}
                </div>
                <!-- <div>Diagnosis Data</div> -->
            </div>

            <!-- Details attach after each repertoire row -->
            <div id="repertoire-details">
            </div>
