        <div class="community-repertoires-table">
            <div class="row community-data-table-header">
              <div class="sort asc col-md-2"><b>Name</b></div>
              <div class="sort no-sort col-md-2"><b>Subject ID</b></div>
              <div class="sort no-sort col-md-2"><b>Sample ID</b></div>
              <div class="sort no-sort col-md-2"><b>Tissue</b></div>
              <div class="sort no-sort col-md-2"><b>Disease State</b></div>
	      <div class="sort no-sort col-md-2"><b>Cell Subset</b></div>
            </div>
        </div>
