        <thead>
            <tr>
                <th><input type="checkbox" class="select-all-repertoire"></th>
                <th class="sort asc">Name </th>
                <th class="sort no-sort">UUID </th>
                <th class="sort no-sort">Subject </th>
                <th class="sort no-sort">Sample(s) </th>
                <th class="sort no-sort">Cell Subset </th>
                <th class="sort no-sort">Tissue </th>
                <!-- <th class="sort no-sort">Diagnosis </th> -->
            </tr>
        </thead>
        <tbody>
        </tbody>
