        <div>
            <div class="row">
              <div class="col-md-1 sort asc"><b>Name</b></div>
              <div class="col-md-3 sort no-sort"><b>UUID</b></div>
              <div class="col-md-2 sort no-sort"><b>Subject</b></div>
              <div class="col-md-2 sort no-sort"><b>Sample(s)</b></div>
              <div class="col-md-2 sort no-sort"><b>Cell Subset</b></div>
	      <div class="col-md-2 sort no-sort"><b>Tissue</b></div>
                <!-- <div class="sort no-sort">Diagnosis </div> -->
            </div>
        </div>
        <div>
        </div>
