<h3 class="community-badges">
    <!-- Need to add conditionals depending on project type -->
    <!-- We could also put the logos here instead of text -->
    {{#if is_vdjserver}}
    <a class="badge badge-pill badge-vdjserver community-project-type">
        <img src="./dist/images/logo_nobackground_border.png" class="vdjserver" alt="VDJServer">VDJServer
    </a>
    {{/if}}

    {{#each repo_titles}}
    <a class="badge badge-pill badge-adc community-project-type">
        {{this}}
    </a>
    {{/each}}

    <!-- Need image for 10XGenomics -->
    {{#if is_10x_genomics}}
    <a class="badge badge-pill badge-10x community-project-type">
        <img src="./dist/images/genomics-logo.png" class="genomics" alt="10X Genomics">10X Genomics</a>
    {{/if}}
</h3>
<div class="community-project-header">
    <h2 class="community-project-title"><a href="#">{{study.value.study_title}}</a></h2>

    <!-- Badges for study type -->
    <h4 class="community-badges">
        {{#if contains_ig}}
            <a class="badge badge-pill badge-locus">IG</a>
        {{/if}}
        {{#if contains_tcr}}
            <a class="badge badge-pill badge-locus">TCR</a>
        {{/if}}
        {{#if contains_single_cell}}
            <a class="badge badge-pill badge-cell">Single Cell</a>
        {{/if}}
        {{#if contains_paired_chain}}
            <a class="badge badge-pill badge-cell">Paired Chain</a>
        {{/if}}
    </h4>

    <div class="row">
        <div class="col community-metadata">
            {{#if study.value.study_id}}
                <p>
                    <span class="details">Study ID:</span> {{study.value.study_id}}
                </p>
            {{/if}}

            {{#if study.value.study_type.label}}
                <p>
                    <span class="details">Study Type:</span> {{study.value.study_type.label}}
                </p>
            {{/if}}
            {{#if study.value.inclusion_exclusion_criteria}}
                <p class="inclusion">
                    <span class="details">Inclusion/Exclusion Criteria:</span> {{study.value.inclusion_exclusion_criteria}}
                </p>
                <p class="inclusion-full no-display">
                    <span class="details">Inclusion/Exclusion Criteria:</span>
                    {{#truncate_75}}
                        {{study.value.inclusion_exclusion_criteria}}
                    {{/truncate_75}}
                </p>
            {{/if}}
            <!-- {{#if study.value.keywords_study}}
                <p><span class="details">Study Keywords:</span> {{study.value.keywords_study}}</p>
            {{/if}} -->
        </div>
        <div class="col community-metadata">
            {{#if study.value.pub_ids}}
                <p>
                    <span class="details">Publication(s):</span>
                    <!-- What is the URL format for the pub IDs?
                    - Research Gate: {{study.value.pub_ids}}
                    - PubMed: https://pubmed.ncbi.nlm.nih.gov/{{pub_id}}
                    -->
                    <a href="{{study.value.pub_ids}}">
                        {{study.value.pub_ids}}
                    </a>
                </p>
            {{/if}}
            {{#if study.value.grants}}
                <p class="grants">
                    <span class="details">Grants:</span>
                    {{#truncate_75}}
                        {{study.value.grants}}
                    {{/truncate_75}}
                </p>
                <p class="grants-full no-display">
                    <span class="details">Grants:</span>
                    {{study.value.grants}}
                </p>
            {{/if}}
        </div>
        <div class="col community-metadata">
            {{#if study.value.lab_address}}
                <p>
                    <span class="details">Lab Address:</span> {{study.value.lab_address}}
                </p>
            {{/if}}
            {{#if study.value.collected_by}}
                <p>
                    <span class="details">Data Collector:</span> {{study.value.collected_by}}
                </p>
            {{/if}}
            {{#if study.value.submitted_by}}
                <p>
                    <span class="details">Data Submitter:</span> {{study.value.submitted_by}}
                </p>
            {{/if}}

            {{#if study.value.lab_name}}
                <p>
                    <span class="details">PI:</span> {{study.value.lab_name}}
                </p>
            {{/if}}
        </div>
    </div>

    <!-- Study Description is truncated by default-->
    <p class="community-study-desc">
        {{#truncate}}
            {{{study.value.study_description}}}
        {{/truncate}}
        <a class="study-desc-more">Read More</a>
        <a class="study-desc-collapse no-display">Collapse</a>
    </p>

    <!-- If "Read More" is clicked, show full study description -->
    <p class="community-study-desc-full no-display">
        {{study.value.study_description}}
        <a class="study-desc-collapse">Collapse</a>
    </p>
</div>

<div class="community-summary-stats row">
    <a class="community-repertoires col">
        {{num_repertoires}} of ### {{num_total_repertoires}} Repertoires <i class="fas fa-vial"></i>
    </a>
    <a class="community-subjects col">
        {{num_subjects}} of # Subjects <i class="fas fa-users"></i>
    </a>
    <a class="community-clones col">
        XXX,XXX of ###,### Clones <i class="fas fa-sitemap"></i>
    </a>
    <a class="community-rearrangements col-4">
        XXX,XXX,XXX of ###,###,### Rearrangements <i class="fas fa-stream"></i>
    </a>
</div>

<!-- Eventually, these should each become their own views -->
<!-- We'll assume the data are shown as tables or table-like,
     thus the pagination controls can be shared by all -->
<div class="community-repertoires-metadata community-table no-display">
    <div class="table-actions">
        <form class="form-inline">
            <label for="repertoire-rows">Rows per page:</label>
            <select class="form-control repertoire-rows">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>All</option>
            </select>
        </form>
    </div>

    <div id="community-study-data-table"></div>

    <div class="row table-footer">
        <div class="table-caption">
            <!-- needs customization -->
            Showing #-# of {{num_repertoires}} repertoires
        </div>
        <div class="ml-auto pagination">
            <div id="study-pagination"></div>
        </div>
    </div>
</div>
    <!-- Olivia: I imagine these sections having the same table style as repertoires -->
<div class="community-subjects-metadata community-table no-display">
    <h1>Community Subjects Data</h1>
</div>
<div class="community-clones-metadata community-table no-display">
    <h1>Community Clones Data</h1>
</div>
<div class="community-rearrangements-metadata community-table no-display">
    <h1>Community Rearrangements Data</h1>
</div>
