<div class="row">
    <div class="col-md-10">
    <h2>{{study.value.study_title}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
    {{study.value.study_description}}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    {{num_repertoires}} Repertoires
    </div>
    <div class="col-md-2">
    {{num_subjects}} Subjects
    </div>
    <div class="col-md-2">
    {{num_samples}} Samples
    </div>
</div>

<!--
<tr><td class="title" colspan=4>{{study.value.study_title}}</td></tr>
<tr><td class="title" colspan=4>{{study.name}}</a></td></tr>
<tr>
    <td class="desc" colspan=4>{{study.value.study_description}}</td>
</tr>
<tr>
    <td class="created">{{id}}</td>
    <td class="created">{{num_subjects}}</td>
    <td class="type">{{study.value.study_type.label}}</td>
</tr>
-->
