            <tr class="subject-row">
                <td class="subject">
                    Subject ID: {{value.subject_id}}
                </td>
                <td class="sex">
		    Sex/Species: {{value.sex}} {{species_display}}
                </td>
                <td class="cell">
		    Race/Ethnicity: {{value.race}} {{value.ethnicity}}
                </td>
                <td class="tissue">
                    Age: {{age_display}}
                </td>
                <!-- <td>Diagnosis Data</td> -->
            </tr>

            <!-- Details attach after each subject row -->
            <tr id="subject-details">
            </tr>
