            <div class="row community-data-table-row align-items-center">
                <div class="col-md-2 text-truncate" title="{{value.subject_id}}">
                    <button type="button" class="btn btn-sm btn-create px-1 py-0 my-1" name="{{uuid}}" id="community-subject-copy-uuid" title="Copy Subject UUID to Clipboard">
                        <i class="fa fa-fw fa-clipboard" aria-hidden="true"></i>
                    </button>
                    {{value.subject_id}}
                </div>
                <div class="col-md-2 text-truncate" title="{{sex_species}}">
                    {{sex_species}}
                </div>
                <div class="col-md-2 text-truncate" title="{{race_ethnicity}}">
                    {{race_ethnicity}}
                </div>
                <div class="col-md-2 text-truncate" title="{{age_display}}">
                    {{age_display}}
                </div>
                <div class="col-md-4 text-truncate" title="{{diagnoses}}">
                    {{diagnoses}}
                </div>
            </div>

            <!-- Details attach after each subject row -->
