          <div class="community-subjects-table">
            <div class="row community-data-table-header">
              <div class="sort asc col-md-2"><b>Subject ID</b></div>
              <div class="sort no-sort col-md-2"><b>Sex/Species</b></div>
              <div class="sort no-sort col-md-2"><b>Race/Ethnicity</b></div>
              <div class="sort no-sort col-md-2"><b>Age</b></div>
              <div class="sort no-sort col-md-4"><b>Disease Diagnosis (Study Group Description)</b></div>
                <!-- <div class="sort no-sort">Diagnosis </div> -->
            </div>
          </div>
