<div class="project-single-form-buttons row">
    <div class="col-md-3">
        <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> Change your password.
        </div>
    </div>

    <div class="col-md-8 project-buttons-right">
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-cancel project-buttons-margin-right" id="user-profile">
                    Cancel
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-save" id="change-password-submit">
                    Change Password
                </button>
            </div>
    </div>
</div>

<div class="container justify-content-center">
  <form method="post" class="form-horizontal needs-validation" role="form" id="change-password-form" novalidate>
    <h2 class="form-section">Change Password</h2>

    <div class="form-group" id="password-container">
        <label for="password" class="col-sm-4 control-label">Current Password</label>
        <div class="col-sm-4">
            <input autofocus type="password" placeholder="Enter your current password" name="password" id="password" class="form-control" required>
            <div class="invalid-feedback">
            Please enter your current password.
            </div>
        </div>
    </div>

    <div class="form-group" id="newPassword-container">
        <label for="newPassword" class="col-sm-4 control-label">New Password</label>
        <div class="col-sm-4">
            <input type="password" placeholder="Choose a new password" name="newPassword" id="newPassword" class="form-control">
            <div class="invalid-feedback">
            Please re-enter your new password. It must be at least 5 characters, cannot match the current password, and the new passwords must match.
            </div>
        </div>
    </div>

    <div class="form-group" id="passwordCheck-container">
        <label for="password" class="col-sm-4 control-label">Verify New Password</label>
        <div class="col-sm-4">
            <input type="password" placeholder="Verify new password" name="passwordCheck" id="passwordCheck" class="form-control" required minlength="8">
            <div class="invalid-feedback">
            Please re-enter your new password. It must be at least 5 characters, cannot match the current password, and the new passwords must match.
            </div>
        </div>
    </div>
  </form>
</div>
