<div class="container">
    <div class="col-md-12">
        <div class="public-view">

            <div class="alert alert-info">
                <i class="fa fa-lock"></i> Forgot your password? Email a password reset code to recover your account.
            </div>

            <form id="send-reset-form" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="row justify-content-between">
                        <div class="col-sm-5">
                            <input type="text" placeholder="Username" name="username" id="reset-username" class="form-control">
                        </div>
                        <div class="col-sm-7">
                            <input type="submit" value="Send Reset Password Email" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </form>

                <hr>

            <div class="alert alert-info">
                <i class="fa fa-lock"></i> Have a password reset code? Choose a new password.
            </div>

            <form id="reset-password-form" method="post" class="form-horizontal" role="form">
                <div class="form-group" id="uuid-container">
                    <label for="uuid" class="col-sm-2 control-label">Reset code</label>
                    <div class="col-sm-5">
                        <input type="text" placeholder="Password reset code" name="reset-code" id="reset-code" class="form-control" value="{{reset_code}}">
                    </div>
                </div>

                <div class="form-group" id="username-container">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-5">
                        <input type="text" placeholder="Verify your username" name="username" id="verify-username" class="form-control" value="{{username}}">
                    </div>
                </div>

                <div class="form-group" id="newPassword-container">
                    <label for="newPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-5">
                        <input type="password" placeholder="Choose a new password" name="newPassword" id="newPassword" class="form-control">
                    </div>
                </div>

                <div class="form-group" id="passwordCheck-container">
                    <label for="password" class="col-sm-2 control-label">Verify</label>
                    <div class="col-sm-5">
                        <input type="password" placeholder="Verify new password" name="passwordCheck" id="passwordCheck" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="submit" value="Reset password" class="btn btn-success btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
