<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="public-view">

                <div id="verification-content">
                    <div class="alert alert-info">
                        <i class="fa fa-user"></i> Verifying your VDJServer account...
                    </div>

                    <div class="row-with-spacer">
                        <div class="col-md-12">
                            <div id="loading-view" class="text-center">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
