<!-- FASTA/QUAL pairs-->
<form method="post" role="form" id="project-files-form_{{uuid}}" class="project-files-form" name="files">
 {{#if quality}}
 <div class="row general-table-row general-border-top">
    <div class="col-md-11">
        <div class="row align-items-center">
            <div class="col-md-3 text-data">
                <a data-bypass="true" href="" class="underline-on-hover" id="project-file-download">{{read.name}}</a>
            </div>
            <div class="col-md-2 text-data">{{FormatDateTime read_extra.lastUpdated}}</div>
            <div class="col-md-2 text-data">{{GetHumanReadableFileSize read.size}}</div>
            <div class="col-md-2 text-data">{{read_extra.fileTypeName}}</div>
            <div class="col-md-2">
                <input class="form-control form-control-file" type="text" name="tags" id="project-file-read-tags" value="{{read.tags}}">
            </div>
            <div class="col-md-1 text-data">Read</div>
        </div>
        <div class="row general-table-internal-row align-items-center">
            <div class="col-md-3 text-data">
                <a data-bypass="true" href="" class="underline-on-hover" id="project-file-download">{{quality.name}}</a>
            </div>
            <div class="col-md-2 text-data">{{FormatDateTime quality_extra.lastUpdated}}</div>
            <div class="col-md-2 text-data">{{GetHumanReadableFileSize quality.size}}</div>
            <div class="col-md-2 text-data">{{quality_extra.fileTypeName}}</div>
            <div class="col-md-2">
                <input class="form-control form-control-file" type="text" name="tags" id="project-file-quality-tags" value="{{quality.tags}}">
            </div>
            <div class="col-md-1 text-data">Quality</div>
        </div>
    </div>
    <div class="col-md-1 general-buttons-right project-files-split-button">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-delete" title="Unpair files" id="project-file-unpair">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
 </div>
 {{else}}
    <!-- FASTQ pairs-->
    {{#if forward}}
    <div class="row general-table-row general-border-top">
        <div class="col-md-11">
            <div class="row align-items-center">
                <div class="col-md-3 text-data">
                    <a data-bypass="true" href="" class="underline-on-hover" id="project-file-download">{{forward.name}}</a>
                </div>
                <div class="col-md-2 text-data">{{FormatDateTime forward_extra.lastUpdated}}</div>
                <div class="col-md-2 text-data">{{GetHumanReadableFileSize forward.size}}</div>
                <div class="col-md-2 text-data">{{forward_extra.fileTypeName}}</div>
                <div class="col-md-2">
                    <input class="form-control form-control-file" type="text" name="tags" id="project-file-forward-tags" value="{{forward.tags}}">
                </div>
                <div class="col-md-1 text-data">Forward</div>
            </div>
            <div class="row general-table-internal-row align-items-center">
                <div class="col-md-3 text-data">
                    <a data-bypass="true" href="" class="underline-on-hover" id="project-file-download">{{reverse.name}}</a>
                </div>
                <div class="col-md-2 text-data">{{FormatDateTime reverse_extra.lastUpdated}}</div>
                <div class="col-md-2 text-data">{{GetHumanReadableFileSize reverse.size}}</div>
                <div class="col-md-2 text-data">{{reverse_extra.fileTypeName}}</div>
                <div class="col-md-2">
                    <input class="form-control form-control-file" type="text" name="tags" id="project-file-reverse-tags" value="{{reverse.tags}}">
                </div>
                <div class="col-md-1 text-data">Reverse</div>
            </div>
        </div>
        <div class="col-md-1 general-buttons-right project-files-split-button">
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-delete" title="Unpair files" id="project-file-unpair">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    {{else}}
    <!-- non paired files -->
    <div class="row general-table-row general-border-top" draggable="true">
        <div class="col-md-11">
            <div class="row align-items-center">
                <div class="col-md-3 text-data">
                    <a data-bypass="true" href="" class="underline-on-hover" id="project-file-download">{{value.name}}</a>
                </div>
                <div class="col-md-2 text-data">{{FormatDateTime lastUpdated}}</div>
                <div class="col-md-2 text-data">{{GetHumanReadableFileSize value.size}}</div>
                <div class="col-md-2">
                    <select class="form-control value-select" name="fileType" id="project-file-type">
                        {{#each fileTypes}}
                            <option {{#ifEquals this ../value.fileType}}selected{{/ifEquals}} value="{{this}}">
                                {{#with (lookup ../fileTypeNames @index)}} {{this}} {{/with}}
                            </option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-file" type="text" name="tags" id="project-file-tags" value="{{value.tags}}">
                </div>
                <div class="col-md-1">
                    <select class="form-control value-select" name="readDirection" id="project-file-read-direction">
                        <option></option>
                        {{#each readDirections}}
                            <option {{#ifEquals this ../value.readDirection}}selected{{/ifEquals}}>{{this}}</option>
                        {{/each}}
                        <option {{#unless value.readDirection}}selected{{/unless}}>null</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-1 general-buttons-right">
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-delete" title="Delete file" id="project-file-delete">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
    {{/if}}
 {{/if}}
</form>
