<div class="project-files-table">
    <div class="row general-table-row general-border-top">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-3"><b>Name</b></div>
                <div class="col-md-2"><b>Date</b></div>
                <div class="col-md-2"><b>Size</b></div>
                <div class="col-md-2"><b>Type</b></div>
                <div class="col-md-2"><b>Tags</b></div>
                <div class="col-md-1"><b>Direction</b></div>
            </div>
        </div>
        <div class="col-md-1 general-buttons-right"><b>Actions</b></div>
    </div>
    <div class="project-files-detail-table">
    </div>
</div>
