<!-- Modal -->
<div class="modal fade" id="modal-message" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-message-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-label">Pair Read Files</h4>
            </div>
            <div class="modal-body">
                <p>What type of files are to be paired?</p>
                <div class="custom-control custom-radio">
                  <input type="radio" id="select-paired-end-files" name="customRadio" class="custom-control-input" checked>
                  <label class="custom-control-label" for="select-paired-end-files">Paired-end FASTQ read files</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="select-read-quality-files" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="select-read-quality-files">FASTA read files and quality score files</label>
                </div>

                <br>

<form class="" id="paired-end-files-form">
  <p>Files will be matched with identical prefix (PPPP) and suffix (SSSS) around the user-specified anchor string.</p>
  <div class="form-group form-row">
    <label for="forward-read-anchor" class="col-sm-2 col-form-label text-right">PPPP</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="forward-read-anchor" value="{{forward_guess}}">
    </div>
    <label for="forward-read-anchor" class="col-sm-1 col-form-label text-left">SSSS</label>
    <label for="forward-read-anchor" class="offset-sm-1 col-sm-4 col-form-label text-left">Forward Read File</label>
  </div>
  <div class="form-group form-row">
    <label for="reverse-read-anchor" class="col-sm-2 col-form-label text-right">PPPP</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="reverse-read-anchor" value="{{reverse_guess}}">
    </div>
    <label for="reverse-read-anchor" class="col-sm-1 col-form-label text-left">SSSS</label>
    <label for="reverse-read-anchor" class="offset-sm-1 col-sm-4 col-form-label text-left">Reverse Read File</label>
  </div>
</form>

<form class="no-display" id="read-quality-files-form">
  <p>Files will be matched with the same name (XXXX) for the user-specified file extension.</p>
  <div class="form-group form-row">
    <label for="read-file-anchor" class="col-sm-2 col-form-label text-right">XXXX</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="read-file-anchor" value=".fasta">
    </div>
    <label for="read-file-anchor" class="offset-sm-1 col-sm-4 col-form-label text-left">Read File</label>
  </div>
  <div class="form-group form-row">
    <label for="quality-file-anchor" class="col-sm-2 col-form-label text-right">XXXX</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="quality-file-anchor" value=".qual">
    </div>
    <label for="quality-file-anchor" class="offset-sm-1 col-sm-4 col-form-label text-left">Quality File</label>
  </div>
</form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" id="perform-pairing-button" class="btn btn-create" data-dismiss="modal">Perform pairing</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
