// colors
$red: #993333;
$darkGray: #919191;

$vdjLogoGreen: #558a74;

//$projectMenuLightColor: #63c3d9;

// Dark blue
$projectMenuLightColor: #184450;

// Green
//$projectMenuLightColor: #699886;
$projectMenuTextColor: #ffffff;

$projectSubmenuColor: #f3f3f3;
$projectSubmenuTextColor: #484848;
$projectFileListingsAlternateColor: #f2f2f2;
$projectNavbarBorderColor: #6e3a34;
$projectNavbarButtonColor: #7d362f;

$boxShadowColor: #767676;

$projectListBorderColor: #575757;
