// colors
$red: #993333;
$darkGray: #919191;

$vdjLogoGreen: #558a74;

$projectMenuLightColor: #66cccc;
$projectSubmenuColor: #f1eff0;
$projectSubmenuTextColor: #2c2c2c;
$projectFileListingsAlternateColor: #f2f2f2;

$sidebarColor: #4d4d4d;

$boxShadowColor: #767676;
