// colors
$red: #993333;
$darkGray: #919191;

$vdjLogoGreen: #558a74;

$projectMenuLightColor: #63c3d9;
$projectSubmenuColor: #f3f3f3;
$projectSubmenuTextColor: #484848;
$projectFileListingsAlternateColor: #f2f2f2;

$boxShadowColor: #767676;
