<div id="navigation"></div>
    <div class="container">
        <div id="intro"></div>
        <table class="table table-responsive">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Projects</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Tasks</th>
                </tr>
            </thead>
            <tbody id="main">
            </tbody>
        </table>
    </div>
