    <div class="form-group">
        <label class="col-sm-2 control-label">Progress</label>
        <div class="col-sm-5">
            <div class="progress file-upload-progress-wrapper">
                <div class="progress-bar progress-striped active {{fileUniqueIdentifier}}">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-2">
            <div id="file-upload-notifications-{{fileUniqueIdentifier}}" class="alert alert-info hidden"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-2">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button id="start-upload-button-{{fileUniqueIdentifier}}" class="btn btn-primary upload-button user-selectable submit-upload-button">
                        Start
                    </button>
                </div>

                <div class="btn-group">
                    <button id="cancel-upload-button-{{fileUniqueIdentifier}}" class="btn btn-danger upload-button cancel-upload-button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
