<ul class="projects-list">
    <li class="projects-list-vdj-logo-wrapper">
        <a href="/project">
            <img
                class="projects-list-vdj-logo"
                src="../images/Final-Logo-Clean-cropped.png"
            >
        </a>
    </li>

    <li class="project-create-menu">
        <a class="" href="/project/create">
            CREATE NEW +
        </a>
    </li>

    {{#projects}}
        <li id="project-{{uuid}}-menu" class="project-menu" data-id="{{uuid}}">
            <a href="/project/{{uuid}}" id="project-{{uuid}}" data-id="{{uuid}}">
                {{value.name}}
                <div
                    id="project-{{uuid}}-notification"
                    class="project-menu-notification"
                >
                </div>
            </a>
        </li>

        <li class="project-submenu hidden {{uuid}}-section-4">
            <a href="/project/{{uuid}}/settings" class="">
                Project Settings
            </a>
        </li>

        <li class="project-submenu hidden {{uuid}}-section-5">
            <a href="/project/{{uuid}}/users" class="manage-users" data-id="{{uuid}}">
                Project Users
            </a>
        </li>

        <li class="project-submenu hidden {{uuid}}-section-1">
            <a href="/project/{{uuid}}" class="">
                Upload and Browse Project Data
            </a>
        </li>

        <li class="project-submenu hidden {{uuid}}-section-3">
            <a href="/project/{{uuid}}/associations/qual" class="" data-id="{{uuid}}">
                Link .fasta/.qual Files
            </a>
        </li>

        <!-- DISABLED -->
        <!--
        <li class="project-submenu hidden {{uuid}}-section-2">
            <a href="/project/{{uuid}}/associations/paired-reads" class="" data-id="{{uuid}}">
                Paired Read Associations
            </a>
        </li>
        -->

        <li class="project-submenu hidden {{uuid}}-section-6">
            <a href="/project/{{uuid}}/jobs" class="select-analyses" data-id="{{uuid}}">
                View Analyses and Results
            </a>
        </li>
    {{/projects}}
</ul>
