<ul class="projects-list">
    <li class="projects-list-vdj-logo-wrapper">
        <a href="/project">
            <img
                class="projects-list-vdj-logo"
                src="../images/Final-Logo-Clean-cropped.png"
            >
        </a>
    </li>

    <li class="project-create-menu">
        <a class="" href="/project/create">
            CREATE NEW +
        </a>
    </li>

    {{#projects}}
        <li id="project-{{uuid}}-menu" class="project-menu">
            <a href="/project/{{uuid}}" id="project-{{uuid}}" data-id="{{uuid}}">
                {{value.name}}
                <div
                    id="project-{{uuid}}-notification"
                    class="project-menu-notification"
                >
                </div>
            </a>
        </li>

        <li class="project-submenu hidden">
            <a href="/project/{{uuid}}/settings" class="">
                Settings
            </a>
        </li>

        <li class="project-submenu hidden">
            <a href="/project/{{uuid}}/users" class="manage-users" data-id="{{uuid}}">
                Manage Users
            </a>
        </li>

        <li class="project-submenu hidden">
            <a href="/project/{{uuid}}" class="">
                Data
            </a>
        </li>

        <li class="project-submenu hidden">
            <a href="/project/{{uuid}}/associations/qual" class="" data-id="{{uuid}}">
                .fasta/.qual Associations
            </a>
        </li>
<!--
        <li class="project-submenu hidden">
            <a href="/project/{{uuid}}/associations/paired-reads" class="" data-id="{{uuid}}">
                Paired Read Associations
            </a>
        </li>
-->
        <li class="project-submenu hidden">
            <a href="/project/{{uuid}}/jobs" class="select-analyses" data-id="{{uuid}}">
                Analyses
            </a>
        </li>
    {{/projects}}
</ul>
