<div class="add-rep-steps">
    <button class="btn rep-step add-repertoire {{#ifEquals active_step 'repertoire'}}rep-step-active {{else}}rep-step-inactive{{/ifEquals}}" id="repertoire-step">Repertoire</button>

    <button class="btn rep-step add-subject {{#ifEquals active_step 'subject'}}rep-step-active {{else}}rep-step-inactive{{/ifEquals}}" id="subject-step">Subject</button>

    <button class="btn rep-step add-diagnosis {{#ifEquals active_step 'diagnosis'}}rep-step-active {{else}}rep-step-inactive{{/ifEquals}}" id="diagnosis-step">Diagnosis</button>

    <button class="btn rep-step add-sample {{#ifEquals active_step 'sample'}}rep-step-active {{else}}rep-step-inactive{{/ifEquals}}" id="sample-step">Sample</button>

    <button class="btn rep-step add-cell {{#ifEquals active_step 'cell'}}rep-step-active {{else}}rep-step-inactive{{/ifEquals}}" id="cell-step">Cell Processing</button>

    <button class="btn rep-step add-nucleic {{#ifEquals active_step 'nucleic'}}rep-step-active {{else}}rep-step-inactive{{/ifEquals}}" id="nucleic-step">Nucleic Acid Processing</button>
</div>
