<div class="row general-button-bar">
    <div class="col">
        <div class="btn-group " role="group" aria-label="Button group">
            <button type="button" class="btn btn-primary general-buttons-margin-right" id="project-repertoires-details-summary">
                {{#if detailsMode}}Summary{{/if}}
                {{#unless detailsMode}}Details{{/unless}}
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-repertoires-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-repertoires-sort-select" name="repertoire_name">
                    {{#ifEquals current_sort "repertoire_name"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Repertoire Name
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-sort-select" name="subject_id">
                    {{#ifEquals current_sort "subject_id"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Subject ID
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-sort-select" name="sample_id">
                    {{#ifEquals current_sort "sample_id"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Sample ID
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-sort-select" name="tissue">
                    {{#ifEquals current_sort "tissue"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Tissue
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-sort-select" name="disease_state_sample">
                    {{#ifEquals current_sort "disease_state_sample"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Disease State
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-sort-select" name="cell_subset">
                    {{#ifEquals current_sort "cell_subset"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Cell Subset
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled" type="button">
                    Add Custom Sort...
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Import/Export
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-repertoires-import">
                    Import AIRR Repertoire Metadata
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-export">
                    Export AIRR Repertoire Metadata
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled" type="button" id="project-samples-import">
                    Import Sample Table
                </button>
                <button class="dropdown-item disabled" type="button" id="project-samples-export">
                    Export Sample Table
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-repertoires-templates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Templates
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-repertoires-show-templates" name="name">
                    Show Templates
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-hide-templates" name="name" hidden>
                    Hide Templates
                </button>
                <button class="dropdown-item" type="button" id="project-repertoires-new-template" name="name">
                    New Blank Template
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" id="project-repertoires-template-name" name="newest">
                    Apply NAME Template to samples
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-repertoires-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Repertoire
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-repertoires-new-sample" name="name">
                    New Blank Repertoire
                </button>
                <div class="dropdown-divider" width="10%">templates</div>
                <button class="dropdown-item" type="button" id="project-repertoires-" name="newest">
                    New Sample from Template NAME
                </button>
              </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 general-buttons-right">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-cancel" id="project-repertoires-revert-changes" {{#unless has_edits}}disabled{{/unless}}>Revert Repertoire Changes</button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save general-buttons-margin-left" id="project-repertoires-save-changes" {{#unless has_edits}}disabled{{/unless}}>Save Repertoire Changes</button>
        </div>
    </div>
</div>
