<div id="project-repertoires-summary" class="row general-table-row general-border-top">
    <div class="col">
        <div class="row align-items-center">
            <div class="col-md-8">
                <label for="repertoire_name"><b>Name:</b></label>
                {{#unless edit_mode}}
                    &nbsp; {{value.repertoire_name}}
                {{/unless}}

                {{#if edit_mode}}
                    <input type="text" name="repertoire_name" id="repertoire_name" class="form-control" placeholder="{{value.repertoire_name}}" value="{{value.repertoire_name}}" readonly>
                {{/if}}
            </div>

            <div class="col-md-4 general-buttons-right">
                <div class="btn-group" role="group" aria-label="Button group">
                    <button type="button" class="btn btn-edit general-buttons-margin-left" name="{{uuid}}" id="project-repertoire-edit">Edit</button>
                </div>

                <div class="btn-group" role="group" aria-label="Button group">
                    <button type="button" class="btn btn-delete general-buttons-margin-left" name="{{uuid}}" id="project-repertoire-delete">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </div>
            </div>
        </div>

        <div class="row general-table-internal-row align-items-center">
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-dark btn-sm" data-bypass=true id="project-repertoire-subject-uuid" title="Copy subject uuid to clipboard">
                    <i class="fas fa-user-alt"></i>
                </button>
                <b>Subject ID:</b> {{subject.subject_id}}
            </div>
            <div class="col-md-3">
                <b>Sex/Species:</b> {{subject.sex}}/{{species_display}}
            </div>
            <div class="col-md-3">
                <b>Race/Ethnicity:</b> {{subject.race}} {{subject.ethnicity}}
            </div>
            <div class="col-md-2">
                <b>Age:</b> {{age_display}}
            </div>
        </div>

        <div id="project-sample-list"></div>

    </div>
</div>

