<div>
    <table class="table">
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Status</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Job ID</th>
                <th>Owner</th>
                <th>View Analyses</th>
            </tr>
        </thead>
        <tbody>
            {{#each jobs}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{status}}</td>
                    <td>{{FormatAgaveDate submitTime}}</td>
                    <td>{{FormatAgaveDate endTime}}</td>
                    <td>{{id}}</td>
                    <td>{{owner}}</td>
                    <td>
                        {{#JobSuccessCheck this}}
                            <a href="project/{{../../projectUuid}}/jobs/{{id}}" class="disabled">
                                <button type="button" class="btn btn-primary">View Output</button>
                            </a>
                        {{else}}
                            <button type="button" class="btn btn-danger" disabled="disabled">Analysis Unavailable</button>
                        {{/JobSuccessCheck}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
