<div class="form-group">
    <div class="col-lg-5 col-lg-offset-2">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <strong>IgBlast Options</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Organism
                        &nbsp;
                        <select class="" name="species">
                            <option value="human">Human</option>
                            <option value="mouse">Mouse</option>
                        </select>
                    </div>
                </div>

{{!--
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Germline Database
                        &nbsp;
                        <input class="" name="" value="F+ORF+in-frame P" readonly>
                    </div>
                </div>
--}}

                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Sequence Type
                        &nbsp;
                        <select class="" name="sequence-type" id="sequence-type">
                            <option value="Ig">Ig</option>
                            <option value="TCR">TCR</option>
                        </select>
                    </div>
                </div>

                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        V Domain Delineation System
                        &nbsp;
                        <select class="" name="domain-system" id="domain-system">
                            <option value="imgt">IMGT</option>
                            <option value="kabat">Kabat</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
