<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Input Files</h3>
    </div>
    <div class="panel-body">
        {{#each selectedFileListings}}
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <strong>{{this.value.name}}</strong>
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="close remove-file-from-job" id="{{this.uuid}}" aria-hidden="true">&times;</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Read Direction: {{GetHumanReadableReadDirection this.value}}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        {{/each}}
    </div>
</div>
