<div class="modal fade" id="job-modal" tabindex="-1" role="dialog" aria-labelledby="job-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="job-modal-label">Job Submission</h4>
            </div>
            <form method="post" class="form-horizontal" id="job-form" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="jobName" class="control-label col-lg-2">Job Name</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="job-name" name="job-name" placeholder="Job Name">
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="fileList" class="control-label col-lg-2">Selected Read Level Files</label>
                        <div class="col-lg-3">
                            {{#each selectedFileListings}}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{this.value.name}}" disabled>
                                            <span class="input-group-addon remove-file-from-job" id="{{this.uuid}}">&times;</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="col-lg-7 help-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    * Fasta files must be linked to qual files using the "Qual Associations" section.
                                </div>
                            </div>
                            <div class="row row-with-spacer">
                                <div class="col-sm-12">
                                    * Paired files must be linked using the "Paired Read Associations" section.
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div id="job-staging-subview"></div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4">
                            <div id="job-submit-loading-view" class="text-center"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button
                            class="btn btn-default job-submit-button"
                            type="button"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button>

                        <input
                            id="submit-job"
                            class="btn btn-success job-submit-button"
                            type="submit"
                            value="Launch Job"
                        >
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
