<div class="job-pending">

    <table class="table-without-border table-condensed">
        <tbody>
            <tr>
                <td><strong>Job</strong></td>
                <td>jobName</td>
            </tr>
            <tr>
                <td><strong>Project</strong></td>
                <td>projName</td>
            </tr>
            <tr>
                <td><strong>Action</strong></td>
                <td>action</td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td>status</td>
            </tr>
        </tbody>
    </table>

</div>
