<div class="job-pending">

    <table class="table-without-border table-condensed">
        <tbody>
            <tr>
                <td><strong>Job</strong></td>
                <td>{{jobName}}</td>
            </tr>
            <tr>
                <td><strong>Project</strong></td>
                <td>{{projectName}}</td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td>{{jobStatus}}</td>
            </tr>
        </tbody>
    </table>

</div>
