<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-headings">
            <thead>
                <tr>
                    <th class="text-center">
                        <input name="select-all-files-checkbox" type="checkbox" value="{{uuid}}" class="selected-files">
                    </th>
                    <th class="text-center">
                        Name
                    </th>
                    <th class="text-center">
                        Size
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each outputFiles}}
                    <tr class="text-center">
                        <td>
                            <input name="file-checkbox" type="checkbox" class="selected-files">
                        </td>
                        <td>
                            <a class="download-file" href="#" data-bypass=true>{{name}}</a>
                        </td>
                        <td>
                            {{GetHumanReadableFileSize length}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
