<div class="modal fade" id="workflow-modal" tabindex="-1" role="dialog" aria-labelledby="job-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="job-modal-label">Workflow Editor</h4>
            </div>
            <form method="post" class="form-horizontal" id="workflow-form" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="workflowName" class="control-label col-lg-2">Workflow Name</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="workflow-name" name="workflow-name" placeholder="Workflow Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="col-sm-offset-1">
                                <div class="form-group">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#" data-bypass=true class="workflow-options" data-id="predefined">Predefined</a></li>
                                        <li><a href="#" data-bypass=true class="workflow-options" data-id="filters">Filters</a></li>
                                        <li><a href="#" data-bypass=true class="workflow-options" data-id="stats">Stats</a></li>
                                        <li><a href="#" data-bypass=true class="workflow-options" data-id="output">Output</a></li>
                                        <li><a href="#" data-bypass=true class="workflow-options" data-id="misc">Misc</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-offset-1">
                                <div id="workflow-options-predefined-list" class="workflow-options-list" style="display: none;">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="merge_paired">
                                            <i class="fa fa-plus"></i> Merge Paired Reads
                                        </button>
                                        <p class="help-block">
                                            Merge forward and reverse reads.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="eMID_map">
                                            <i class="fa fa-plus"></i> Match External Molecular Identifier
                                        </button>
                                        <p class="help-block">
                                            Identify which of the given short sequences best matches external molecular identifier located in read description line.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="match">
                                            <i class="fa fa-plus"></i> Match Sequence Element
                                        </button>
                                        <p class="help-block">
                                            Find one or many sequence features in relationship to each other positionally, by strict or fuzzy matching, or by alignment.
                                        </p>
                                        <hr>
                                    </div>
                                </div>

                                <div id="workflow-options-filters-list" class="workflow-options-list" style="display: none;">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="find_intersection">
                                            <i class="fa fa-plus"></i> Find Sequences Present in Multiple Groups
                                        </button>
                                        <p class="help-block">
                                            Output sequence reads present in multiple sets.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="character_filter">
                                            <i class="fa fa-plus"></i> Nucleotide Filter
                                        </button>
                                        <p class="help-block">
                                            Discard reads with non-allowed characters.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="length_filter">
                                            <i class="fa fa-plus"></i> Length Filter
                                        </button>
                                        <p class="help-block">
                                            Discard reads with length outside of the range [min, max].
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="homopolymer_filter">
                                            <i class="fa fa-plus"></i> Homopolymer Filter
                                        </button>
                                        <p class="help-block">
                                            Discard reads that contain a homopolymer longer than a specified length.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="min_quality_filter">
                                            <i class="fa fa-plus"></i> Minimal Quality Filter
                                        </button>
                                        <p class="help-block">
                                            Discard reads that contain a quality score lower than a specified minimum.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="average_quality_filter">
                                            <i class="fa fa-plus"></i> Minimal Average Quality Filter
                                        </button>
                                        <p class="help-block">
                                            Discard reads with average quality score lower than a specified minimum.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="min_quality_window_filter">
                                            <i class="fa fa-plus"></i> Minimal Quality Window Filter
                                        </button>
                                        <p class="help-block">
                                            Find longest subsequence with every quality score greater than a specified minimum; discard reads where the found subsequence is shorter than a specified length.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="average_quality_window_filter">
                                            <i class="fa fa-plus"></i> Average Quality Window Filter
                                        </button>
                                        <p class="help-block">
                                            Find the longest subsequence with average quality score greater than a specified minimum; discard reads where the interval found is shorter than a specified length.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="ambiguous_window_filter">
                                            <i class="fa fa-plus"></i> Ambiguous Nucleotide Window Filter
                                        </button>
                                        <p class="help-block">
                                            Find the longest subsequence with no more than a specified number of ambiguous base calls.  Discard reads where the found subsequence is shorter than a specified length.
                                        </p>
                                        <hr>
                                    </div>
                                </div>

                                <div id="workflow-options-stats-list" class="workflow-options-list" style="display: none;">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="quality_stats">
                                            <i class="fa fa-plus"></i> Read Quality Statistics
                                        </button>
                                        <p class="help-block">
                                            Generate quality score distributions for each position, as well as histograms for read length and average read quality.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="composition_stats">
                                            <i class="fa fa-plus"></i> Base Composition Statistics
                                        </button>
                                        <p class="help-block">
                                            Calculate relative abundances of the four nucleotides and ambiguous calls.
                                        </p>
                                        <hr>
                                    </div>
                                </div>

                                <div id="workflow-options-output-list" class="workflow-options-list" style="display: none;">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="write_value">
                                            <i class="fa fa-plus"></i> Write Values
                                        </button>
                                        <p class="help-block">
                                            Write specified values for each read in CSV format, possibly into multiple files.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="write_sequence">
                                            <i class="fa fa-plus"></i> Write Sequences
                                        </button>
                                        <p class="help-block">
                                            Write each read in FASTA or FASTQ format, possibly into multiple files.
                                        </p>
                                        <hr>
                                    </div>
                                </div>

                                <div id="workflow-options-misc-list" class="workflow-options-list" style="display: none;">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="find_unique">
                                            <i class="fa fa-plus"></i> Find Unique Sequences
                                        </button>
                                        <p class="help-block">
                                            Identify unique sequences.
                                        </p>
                                        <hr>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default job-parameter" data-parametertype="histogram">
                                            <i class="fa fa-plus"></i> Histogram
                                        </button>
                                        <!--
                                        <p class="help-block">
                                            Computes the average quality at each position in the read.
                                        </p>
                                        -->
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul id="vdj-pipe-configuration" class="list-unstyled">
                            </ul>
                            <div id="vdj-pipe-configuration-placeholder" class="jumbotron-dashed-box">
                                <h2>Select a workflow step.</h2>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" id="workflow-cancel" class="btn btn-default">Cancel</button>
                        <input type="submit" id="workflow-save" class="btn btn-success" id="save-workflow" value="Save Workflow">
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
