<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{#if isEditable}}
                        <i class="fa fa-bars"></i>
                        &nbsp;
                    {{/if}}

                    Write Values

                    {{#if isEditable}}
                        &nbsp;
                        <span class="label label-danger remove-job-parameter">&times;</span>
                    {{/if}}

                    <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                </div>
            </div>

            {{#if isEditable}}
            {{else}}
                <fieldset disabled>
            {{/if}}
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Output Path
                        &nbsp;
                        <input
                            class="job-form-item"
                            name="{{inputCount}}-{{parameterType}}-out-path"
                            placeholder="text"
                            type="text"
                            value="{{options.out_path}}"
                        >
                    </div>
                </div>
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Names
                        &nbsp;
                        <input
                            class="job-form-item"
                            name="{{inputCount}}-{{parameterType}}-names"
                            placeholder="comma separated text"
                            type="text"
                            value="{{options.names}}"
                        >
                    </div>
                </div>
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Unset Value
                        &nbsp;
                        <input
                            class="job-form-item"
                            name="{{inputCount}}-{{parameterType}}-unset-value"
                            placeholder="text"
                            type="text"
                            value="{{options.unset_value}}"
                        >
                    </div>
                </div>
            {{#if isEditable}}
            {{else}}
                </fieldset>
            {{/if}}

        </div>
    </div>
</li>
