<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{#if isEditable}}
                        <i class="fa fa-bars"></i>
                        &nbsp;
                    {{/if}}

                    Histogram

                    {{#if isEditable}}
                        &nbsp;
                        <span class="label label-danger remove-job-parameter">&times;</span>
                    {{/if}}
                </div>
            </div>

            {{#if isEditable}}
            {{else}}
                <fieldset disabled>
            {{/if}}
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Name
                        &nbsp;
                        <input
                            class="job-form-item"
                            name="{{inputCount}}-{{parameterType}}-name"
                            placeholder="text"
                            type="text"
                            value="{{options.name}}"
                        >
                    </div>
                </div>
            {{#if isEditable}}
            {{else}}
                </fieldset>
            {{/if}}

        </div>
    </div>
</li>
