<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{#if isEditable}}
                        <i class="fa fa-bars"></i>
                        &nbsp;
                    {{/if}}

                    Minimal Average Quality Filter

                    {{#if isEditable}}
                        &nbsp;
                        <span class="label label-danger remove-job-parameter">&times;</span>
                    {{/if}}
                </div>
            </div>

            <div class="row row-with-spacer">
                <div class="col-md-12">
                    <input
                        class="job-form-item"
                        name="{{inputCount}}-{{parameterType}}"
                        placeholder="float"
                        type="number"
                        value="{{options}}"
                        step="0.01"
                    >
                </div>
            </div>

        </div>
    </div>
</li>
