<div class="row row-with-spacer">
    <div class="col-md-12" style="border: 1px solid #000000;">
        {{fileName}}
        &nbsp;
        <span class="label label-danger remove-match-sequence-element">&times;</span>

        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-path" type="text" value="{{fileName}}" hidden>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Sequences Column
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-column-name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Position Start/End
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-position" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        Position Before/After
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-position-before-after" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Sequence File
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-sequence-file" type="text">

                    </td>
                </tr>
                <tr>
                    <td>
                        Required
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-required" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        Minimum Score
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-minimum-score" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        Allow Gaps
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-allow-gaps" type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td>
                        Minimum Match Length
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-minimum-match-length" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        Value Name
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-value-name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Score Name
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-score-name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Identity Name
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-identity-name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Cut Upper
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-cut-upper" type="number">
                    </td>
                </tr>
                <tr>
                    <td>
                        Cut Lower
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{fileName}}-cut-lower" type="number">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
