<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-bars"></i>
                    &nbsp;
                    {{parameterName}}
                    &nbsp;
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}" type="checkbox">
                    &nbsp;
                    <span class="label label-danger remove-job-parameter">&times;</span>
                </div>
            </div>
        </div>
    </div>
</li>
