<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-bars"></i>
                    &nbsp;
                    Find Unique Sequences
                    &nbsp;
                    <span class="label label-danger remove-job-parameter">&times;</span>

                    <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Min Length
                    &nbsp;
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-min">
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default filter-button" id="ignore-ends-button">Ignore Ends</button>
                        <button type="button" class="btn btn-default filter-button" id="fraction-match-button">Fraction Match</button>
                    </div>
                </div>
            </div>
            <div class="row row-with-spacer fraction-match filter-param hidden">
                <div class="col-md-12">
                    Fraction Match
                    &nbsp;
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-fraction-match">
                </div>
            </div>
            <div class="row row-with-spacer ignore-ends filter-param hidden">
                <div class="col-md-12">
                    Ignore Ends
                    &nbsp;
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-ignore-ends">
                </div>
            </div>

        </div>
    </div>
</li>
