<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>
                
                Minimal Quality Window Filter
                <span class="label label-danger remove-job-parameter">&times;</span>
                <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                <br>
                <br>
                Min Quality <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-min-quality" data-type="number" value="" placeholder="Minimal quality score">
                <br>
                <br>
                Min Interval Length <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-min-length" data-type="number" value="" placeholder="Minimal interval length">
            </h4>
        </div>
    </div>
</li>
