<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>

                Find Unique Sequences
                <span class="label label-danger remove-job-parameter">&times;</span>
            </h4>
            <ul class="vdjpipe-list">
                <li>
                    Min Length
                    <br>
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-min">
                </li>
                <li>
                    <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default filter-button" id="ignore-ends-button">Ignore Ends</button>
                        <button type="button" class="btn btn-default filter-button" id="fraction-match-button">Fraction Match</button>
                    </div>
                </li>
                <li class="ignore-ends filter-param hidden">
                    Ignore Ends
                    <br>
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-ignore-ends">
                </li>
                <li class="fraction-match filter-param hidden">
                    Fraction Match
                    <br>
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-fraction-match">
                </li>
            </ul>
        </div>
    </div>
</li>
