<div class="form-group">
    <label for="workflowList" class="control-label col-lg-2">Workflows</label>
    <div class="col-lg-6">
        <div class="input-group">
            <select class="form-control" id="select-workflow">
                <option value="">Select a workflow</option>
                <option disabled>-- Complete Workflows --</option>
                {{#each workflows}}
                    {{#if this.complete}}
                        <option value="{{this.uuid}}" data-name="{{value.workflowName}}" data-type="custom-workflow">{{value.workflowName}}</option>
                    {{/if}}
                {{/each}}
                <option disabled>-- Single Functions --</option>
                {{#each workflows}}
                    {{#if this.single}}
                        <option value="{{this.uuid}}" data-name="{{value.workflowName}}" data-type="custom-workflow">{{value.workflowName}}</option>
                    {{/if}}
                {{/each}}
            </select>
            <div class="input-group-btn">
                <a href="#" data-bypass=true id="save-workflow" class="btn btn-md btn-success hidden"><i class="fa fa-check"></i>&nbsp;Save</a>
                <a href="#" data-bypass=true id="create-workflow" class="btn btn-md btn-primary hidden"><i class="fa fa-plus"></i>&nbsp;Create</a>
                <a href="#" data-bypass=true id="edit-workflow" class="btn btn-md btn-warning hidden"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                <a href="#" data-bypass=true id="delete-workflow" class="btn btn-md btn-default btn-outline-danger hidden"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
        <p class="help-block">
            * Default values have been chosen for pipeline steps
        </p>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-8">
        <ul id="workflow-staging-area" class="list-unstyled"></ul>
    </div>
</div>
