<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>
                
                Length Filter
                <span class="label label-danger remove-job-parameter">&times;</span>
                <input class="job-form-item hidden" name="{{inputCount}}-{{parameterType}}">
                <br>
                <br>
                Min <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-min" data-type="number" min=0 value=0>
                <br>
                <br>
                Max <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-max" data-type="number" min=0>
            </h4>
        </div>
    </div>
</li>
