<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>

                Ambiguous Nucleotide Window Filter
                <span class="label label-danger remove-job-parameter">&times;</span>
                <br>
                <br>
                Min Length <input class="job-form-item" name="{{inputName}}-min" data-originalname="{{originalName}}" data-type="text" value="">
                <br>
                <br>
                Max Ambiguous <input class="job-form-item" name="{{inputName}}-max-ambiguous" data-originalname="{{originalName}}" data-type="text" value="">
            </h4>
        </div>
    </div>
</li>
