<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>
                
                Average Quality Window Filter
                <span class="label label-danger remove-job-parameter">&times;</span>
                <br>
                <br>
                Min Quality <input class="job-form-item" name="{{inputName}}-min-quality" data-originalname="{{originalName}}" data-type="text" value="" placeholder="Minimal quality score">
                <br>
                <br>
                Window Length <input class="job-form-item" name="{{inputName}}-window-length" data-originalname="{{originalName}}" data-type="text" value="" placeholder="Length for computing averages">
                <br>
                <br>
                Min Interval Length <input class="job-form-item" name="{{inputName}}-min-length" data-originalname="{{originalName}}" data-type="text" value="" placeholder="Minimal interval length">
            </h4>
        </div>
    </div>
</li>
