<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{#if isEditable}}
                        <i class="fa fa-bars"></i>
                        &nbsp;
                    {{/if}}

                    Nucleotide Filter

                    {{#if isEditable}}
                        &nbsp;
                        <span class="label label-danger remove-job-parameter">&times;</span>
                    {{/if}}
                </div>
            </div>

            {{#if isEditable}}
            {{else}}
                <fieldset disabled>
            {{/if}}
                <div class="row row-with-spacer">
                    <div class="col-md-12">
                        Allowed Characters
                        &nbsp;
                        <input
                            class="job-form-item"
                            name="{{inputCount}}-{{parameterType}}"
                            placeholder="AGCT"
                            type="text"
                            value="{{options}}"
                        >
                    </div>
                </div>
            {{#if isEditable}}
            {{else}}
                </fieldset>
            {{/if}}

            <div class="row row-with-spacer">
                <div class="col-md-12">
                    <button type="button" id="toggleCharacterLegend" class="btn btn-success btn-block">Show/Hide Character Legend</button>
                </div>
            </div>
        </div>
        <div class="row row-with-spacer">
            <div class="col-md-12 text-center">
                <table id="characterLegend" class="table hidden">
                    <thead>
                        <tr>
                            <th>Character</th>
                            <th>Nucleotides</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>R</td>
                            <td>A G</td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td>C T</td>
                        </tr>
                        <tr>
                            <td>K</td>
                            <td>G T</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>A C</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>G C</td>
                        </tr>
                        <tr>
                            <td>W</td>
                            <td>A T</td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td>C G T</td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td>A G T</td>
                        </tr>
                        <tr>
                            <td>H</td>
                            <td>A C T</td>
                        </tr>
                        <tr>
                            <td>V</td>
                            <td>A C G</td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td>A C G T</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</li>
