<div class="row row-with-spacer">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        Element

                        {{#if isEditable}}
                            &nbsp;
                            <span class="label label-danger remove-match-sequence-element">&times;</span>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row row-with-spacer">
                    <div class="col-md-12">

                        <input name="{{inputCount}}-{{parameterType}}-elements[]" type="text" value="{{elementCount}}" hidden>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        Fasta/Fastq Matching File
                                    </td>
                                    <td>
                                        <input 
                                            name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-sequence-file" 
                                            type="text"
                                            value="{{options.seq_file}}"
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CSV Sequences File
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-csv-sequences-path" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CSV Sequences Column
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-csv-sequences-column-name" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Start
                                    </td>
                                    <td>
                                        <select name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-start-position-location">
                                            <option value=""></option>
                                            <option value="before">Before</option>
                                            <option value="after">After</option>
                                        </select>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-start-position-location-sequence" type="text">
                                        <hr>
                                        Position <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-start-position" type="number" min="0" step="1" pattern="\d+">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        End
                                    </td>
                                    <td>
                                        <select name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-end-position-location">
                                            <option value=""></option>
                                            <option value="before">Before</option>
                                            <option value="after">After</option>
                                        </select>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-end-position-location-sequence" type="text">
                                        <hr>
                                        Position <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-end-position" type="number" min="0" step="1" pattern="\d+">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Required
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-required" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Minimum Score
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-minimum-score" type="number" min="0" step="1" pattern="\d+">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Allow Gaps
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-allow-gaps" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Minimum Match Length
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-minimum-match-length" type="number" min="0" step="1" pattern="\d+">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Value Name
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-value-name" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Score Name
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-score-name" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Identity Name
                                    </td>
                                    <td>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-identity-name" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Cut Upper
                                    </td>
                                    <td>
                                        <select name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-cut-upper-location">
                                            <option value=""></option>
                                            <option value="before">Before</option>
                                            <option value="after">After</option>
                                        </select>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-cut-upper-location-sequence" type="number" min="0" step="1" pattern="\d+">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Cut Lower
                                    </td>
                                    <td>
                                        <select name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-cut-lower-location">
                                            <option value=""></option>
                                            <option value="before">Before</option>
                                            <option value="after">After</option>
                                        </select>
                                        <input name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-cut-lower-location-sequence" type="number" min="0" step="1" pattern="\d+">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
