<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>
                
                {{parameterName}}
                <span class="label label-danger remove-job-parameter">&times;</span>
                <br>
                <br>
                {{inputLabel}} <input class="job-form-item" name="{{inputName}}" data-originalname="{{originalName}}" data-type="text" value="" placeholder="{{placeholderText}}">
            </h4>
        </div>
    </div>
</li>
