<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-bars"></i>
                    &nbsp;
                    Ambiguous Nucleotide Window Filter
                    &nbsp;
                    <span class="label label-danger remove-job-parameter">&times;</span>

                    <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Min Length
                    &nbsp;
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-min" data-type="number" value="0" min="0" step="1" pattern="\d+">
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Max Ambiguous
                    &nbsp;
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-max-ambiguous" data-type="number" value="0" min="0" step="1" pattern="\d+">
                </div>
            </div>
        </div>
    </div>
</li>
