<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <h4>
                <i class="fa fa-bars"></i>

                Find Unique Sequences
                <span class="label label-danger remove-job-parameter">&times;</span>
                <br>
                <br>
                Min Length <input class="job-form-item" name="{{inputName}}-min" data-originalname="{{originalName}}">
                <br>
                <br>
                Ignore Ends <input class="job-form-item" name="{{inputName}}-ignore-ends" data-originalname="{{originalName}}">
                <br>
                <br>
                Fraction Match <input class="job-form-item" name="{{inputName}}-fraction-match" data-originalname="{{originalName}}">
            </h4>
        </div>
    </div>
</li>
