<div class="row row-with-spacer">
    <div class="col-md-12" style="border: 1px solid #000000;">
        Combination Object
        &nbsp;
        <span class="label label-danger remove-match-sequence-combination-object">&times;</span>

        <input name="{{inputCount}}-{{parameterType}}-combination-objects[]" type="text" value="{{objectCount}}" hidden>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        File
                    </td>
                    <td>
                        <select name="{{inputCount}}-{{parameterType}}-{{objectCount}}-combination-object-file">
                            {{#each files}}
                                <option value={{value.name}}>{{value.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Value Name
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{objectCount}}-combination-object-value-name" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Values Column
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{objectCount}}-combination-object-values-column" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Names Column
                    </td>
                    <td>
                        <input name="{{inputCount}}-{{parameterType}}-{{objectCount}}-combination-object-names-column" type="text">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
