<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-bars"></i>
                    &nbsp;
                    Match Sequence Element
                    &nbsp;
                    <span class="label label-danger remove-job-parameter">&times;</span>

                    <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-reverse-complement" type="checkbox">
                    &nbsp;
                    Reverse Complement
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    <input class="job-form-item" name="{{inputCount}}-{{parameterType}}-trimmed" type="checkbox">
                    &nbsp;
                    Trimmed
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    <button class="btn btn-success add-element-button">Add Element</button>
                    <!--
                    &nbsp;
                    <select class="add-element-select" data-type="text">
                        {{#each files}}
                            <option value={{value.name}}>{{value.name}}</option>
                        {{/each}}
                    </select>
                    -->
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success add-element-button">Add Element</button>
                </div>
            </div>
            -->
            <div class="added-element-subviews"></div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Combination Objects
                    &nbsp;
                    <select class="add-combination-object-select" data-type="text">
                        {{#each files}}
                            <option value={{value.name}}>{{value.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success add-combination-object-button">Add Combination Object</button>
                </div>
            </div>
            <div class="added-combination-object-subviews"></div>
        </div>
    </div>
</li>
