<div id="project-analysis-tool-subview-buttons">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <div class="form-row project-analysis-row">
                <div class="form-group col-md-2">
                </div>
                
                <div class="btn-group col-md-2" role="group" aria-label="Button group">
                    <button class="btn btn-primary btn-block tool-subview-button" type="button" id="project-analyses-tool-subview-button-parameters" aria-haspopup="true" aria-expanded="false">
                        Parameters
                    </button>
                </div>
                
                <div class="btn-group col-md-2" role="group" aria-label="Button group">
                    <button class="btn btn-primary btn-block tool-subview-button" type="button" id="project-analyses-tool-subview-button-charts" aria-haspopup="true" aria-expanded="false">
                        Charts
                    </button>
                </div>
                
                <div class="btn-group col-md-2" role="group" aria-label="Button group">
                    <button class="btn btn-primary btn-block tool-subview-button" type="button" id="project-analyses-tool-subview-button-log-files" aria-haspopup="true" aria-expanded="false">
                        Log Files
                    </button>
                </div>
                
                <div class="btn-group col-md-2" role="group" aria-label="Button group">
                    <button class="btn btn-primary btn-block tool-subview-button" type="button" id="project-analyses-tool-subview-button-error-files" aria-haspopup="true" aria-expanded="false">
                        Error Files
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>