<!--
Repertoire analysis  edit/detail view
-->

<div id="project-analysis-tcr-detail">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <form method="post" role="form" id="project-analysis-tcr-form_{{uuid}}" class="project-analysis-form needs-validation" name="analysis" novalidate>
                <div class="form-row project-analysis-row align-items-center">

                    <!-- row 1 -->
                    <div class="form-group col-md-1">
                        <label><b>Actions:</b></label>
                        <div class="btn-group" role="group" aria-label="Button group">
                            <div class="dropdown">
                                <button type="button" class="btn btn-create dropdown-toggle" name="{{uuid}}" id="project-analysis-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-user-alt" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-show-summary" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Analysis Summary
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-copy-uuid">
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Copy UUID to Clipboard
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-edit" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>
                                        <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Edit Analysis
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-duplicate">
                                        <i class="fa fa-copy fa-fw image-vdj-darkblue" aria-hidden="true"></i> Duplicate Analysis
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-add-filter">
                                        <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Add Rearrangement Filter
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-delete">
                                        <i class="fa fa-trash fa-fw image-vdj-red" aria-hidden="true"></i> Delete Analysis
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>

                    <div class="form-group col-md-10">
                        <select class="selectpicker form-control value-select" name="repertoire-analysis-select" id="repertoire-analysis-select" multiple data-live-search="true" data-actions-box="true" data-selected-text-format="count" title="Please select from the following" aria-describedby="validateRepertoires">
                            <option id="test-opttion" value="test-option">test</option>
                        </select>    
                    </div>
                </div>    
                <!-- row 2 -->
                <div class="form-row project-analysis-row">
                    <div class="form-group col-md-1">
                        <i class="fa-solid fa-turn-down-right"></i>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="btn-group" role="group" aria-label="Button group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#project-analysis-tcr-vdjpipe-detail" aria-expanded="false" aria-controls="#project-analysis-tcr-vdjpipe-detail" id="project-analysis-tcr-vdjpipe" {{#unless is_complete}}disabled{{/unless}}>
                                VDJ-Pipe
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="btn-group" role="group" aria-label="Button group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#project-analysis-tcr-igblast-detail" aria-expanded="false" aria-controls="#project-analysis-tcr-igblast-detail" id="project-analysis-tcr-igblast" {{#unless is_complete}}disabled{{/unless}}>
                                IgBlast
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="btn-group" role="group" aria-label="Button group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#project-analysis-tcr-repcalc-detail" aria-expanded="false" aria-controls="#project-analysis-tcr-repcalc-detail" id="project-analysis-tcr-repcalc" {{#unless is_complete}}disabled{{/unless}}>
                                VDJ-Pipe
                            </button>
                        </div>            
                    </div>
                </div>        
                <!-- row 3 -->
            <div class="collapse" id="project-analysis-tcr-vdjpipe-detail">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <!-- row 4 -->
                <div class="collapse" id="project-analysis-tcr-igblast-detail">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <!-- row 5 -->
                <div class="collapse" id="project-analysis-tcr-repcalc-detail">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
