<div class="row general-button-bar">
    <div class="col">
        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-analyses-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="name">
                    {{#ifEquals current_sort "name"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Name
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="newest">
                    {{#ifEquals current_sort "newest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Newest
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="oldest">
                    {{#ifEquals current_sort "oldest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Oldest
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="size">
                    {{#ifEquals current_sort "size"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Size
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled" type="button">
                    Add Custom Sort...
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-analyses-templates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Templates
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-analyses-show-templates" name="name">
                    Show Templates
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-hide-templates" name="name" hidden>
                    Hide Templates
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-new-template" name="name">
                    New Blank Template
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" id="project-analyses-template-name" name="newest">
                    Create Analyses from NAME Template
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-workflow-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create Workflow Analysis
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                {{#each workflows.names}}
                  <button class="dropdown-item" type="button" id="{{this.html_id}}">
                    New {{this.name}}
                  </button>
                {{/each}}
              </div>
            </div>
          </div>
          
          <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-tool-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create Single-Tool Analysis
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                {{#each single_tools.names}}
                  <button class="dropdown-item" type="button" id="{{this.html_id}}">
                    New {{this.name}} Analysis
                  </button>
                {{/each}}
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-5 general-buttons-right">
      <div class="btn-group" role="group" aria-label="Button group">
          <button type="button" class="btn btn-cancel" id="project-analyses-revert-changes" {{#unless has_edits}}disabled{{/unless}}>Revert Analyses Changes</button>
      </div>

      <div class="btn-group" role="group" aria-label="Button group">
          <button type="button" class="btn btn-save general-buttons-margin-left" id="project-analyses-save-changes" {{#unless has_edits}}disabled{{/unless}}>Validate and Run Changes</button>
      </div>
  </div>

</div>
