<div id="project-analysis-outfiles">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <!-- <div class="form-row project-analysis-row">
                <div class="form-group col-md-2">
                    
                </div>
                
                <div class="form-group col-md-10">
                    Error, Log, and Zip Files (Coming soon)
                    <pre style="font-family: monospace; line-height: 1; white-space: pre;">
                                v .   ._, |_  .,
                            `-._\/  .  \ /    |/_
                                \\  _\, y | \//
                            _\_.___\\, \\/ -.\||
                            `7-,--.`._||  / / ,
                            /'     `-. `./ / |/_.'
                                        |    |//
                                        |_    /
                                        |-   |
                                        |   =|
                                        |    |
                    --------------------/ ,  . \--------._
                    jg
                    </pre>
                </div>
            </div> -->

            <div class="form-row project-analysis-row align-items-end">
                <div class="form-group col-md-2">
                </div>

                <div class="form-group col-md-8">
                    <label>Select File:</label>
                    <!-- <select class="selectpicker form-control value-select" id="analysis-output-select" multiple data-live-search="false" data-actions-box="true" data-selected-text-format="count" title="Please select from the following"> -->
                    <select class="selectpicker form-control value-select" id="analysis-output-select" data-live-search="true" data-actions-box="true" title="Please select from the following">
                        <optgroup label="Archive Files">
                            {{#each archive_files}}
                                <option value="{{this.description}}" id="{{this.id}}" name="archive_file" {{#if this.selected}}selected{{/if}}>{{this.description}}</option>
                            {{/each}}
                        </optgroup>
                        <optgroup label="Individual Files">
                            {{#each individual_files}}
                                <option value="{{this.name}}" id="{{this.id}}" name="individiual_file" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-cancel" id="project-analyses-view-output" disabled>View</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-create" id="project-analyses-download-output" disabled>Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>