<div id="project-analysis-outfiles">
    <div class="row general-table-row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <div class="row general-border-top">
                <div class="col-md-3"><b>Name</b></div>
                <div class="col-md-4"><b>Description</b></div>
                <div class="col-md-1"><b>Size</b></div>
                <div class="col-md-1"><b>Type</b></div>
                <div class="col-md-2"><b>Tags</b></div>
                <div class="col-md-1 general-buttons-right"><b>Actions</b></div>
            </div>
        </div>
    </div>
    <div class="project-analyses-outfiles-table">
    </div>
</div>