<!--
Repertoire analysis  edit/detail view
-->

<div id="project-analysis-tcr-detail">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <form method="post" role="form" id="project-analysis-tcr-form_{{uuid}}" class="project-analysis-form needs-validation" name="analysis" novalidate>
                <!-- title -->
                <div class="form-row project-analysis-row">
                    <div class="form-group col-md-12">
                        <b>{{workflow_mode}} Workflow</b>
                    </div>
                </div>
                <!-- row 1 -->
                <div class="form-row project-analysis-row align-items-center">
                    <div class="form-group col-md-1">
                        <label><b>Actions:</b></label>
                        <div class="btn-group" role="group" aria-label="Button group">
                            <div class="dropdown">
                                <button type="button" class="btn btn-create dropdown-toggle" name="{{uuid}}" id="project-analysis-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-user-alt" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-show-summary" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Analysis Summary
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-copy-uuid">
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Copy UUID to Clipboard
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-edit" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>
                                        <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Edit Analysis
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-duplicate">
                                        <i class="fa fa-copy fa-fw image-vdj-darkblue" aria-hidden="true"></i> Duplicate Analysis
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-add-filter">
                                        <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Add Rearrangement Filter
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-delete">
                                        <i class="fa fa-trash fa-fw image-vdj-red" aria-hidden="true"></i> Delete Analysis
                                    </button>
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="form-group col-md-11">
                        <select class="selectpicker form-control value-select" name="repertoire-analysis-select" id="repertoire-analysis-select" multiple data-live-search="true" data-actions-box="true" data-selected-text-format="count" title="Please select from the following" aria-describedby="validateRepertoires">
                            <!-- Options are generated by project-groups-list.js in templateContext()-->
                            <optgroup label="Repertoire Groups">
                                {{#each group_list}}
                                    <option value="{{this.displayName}}" id="{{this.uuid}}" {{#if this.selected}}selected{{/if}}>{{this.displayName}}</option>
                                {{/each}}
                            </optgroup>
                            <optgroup label="Repertoires">
                                {{#each rep_list}}
                                    <option value="{{this.displayName}}" id="{{this.uuid}}" {{#if this.selected}}selected{{/if}}>{{this.displayName}}</option>
                                {{/each}}
                            </optgroup>
                        </select>    
                    </div>
                </div>    
                <!-- row 2 -->
                <div class="form-row project-analysis-row">
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <!-- fa-turn-down-right is a "pro" icon for fa -->
                        <!-- <i class="fa fa-solid fa-turn-down-right fa-2x"></i> -->
                    </div>
                    {{#if showVDJPipeDiv}}
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block" id="project-analysis-tcr-vdjpipe" {{#unless is_complete}}disabled{{/unless}}>
                            VDJ-Pipe
                        </button>
                    </div>
                    {{/if}}
                    
                    {{#if showCellrangerDiv}}
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block" id="project-analysis-tcr-vdjpipe" {{#unless is_complete}}disabled{{/unless}}>
                            Cellranger
                        </button>
                    </div>
                    {{/if}}

                    {{#unless hideArrowDivs}}
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>
                    {{/unless}}
                    
                    {{#if showIgBlastDiv}}
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block" id="project-analysis-tcr-igblast" {{#unless is_complete}}disabled{{/unless}}>
                            IgBlast
                        </button>
                    </div>
                    {{else}}

                    {{#unless hideArrowDivs}}
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>
                    {{/unless}}
                    {{/if}}

                    {{#unless hideArrowDivs}}
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>
                    {{/unless}}

                    {{#if showRepCalcDiv}}
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#project-analysis-tcr-repcalc-detail" aria-expanded="false" aria-controls="#project-analysis-tcr-repcalc-detail" id="project-analysis-tcr-repcalc" {{#unless is_complete}}disabled{{/unless}}>
                            RepCalc
                        </button>    
                    </div>
                    {{/if}}
                </div>       
                 <!-- row 3  -->
            </form>
        </div>
    </div>
</div>
