<form method="post" role="form" id="project-analyses-outfiles-form_{{uuid}}" class="project-analyses-outfiles-form" name="analyses-outfiles"></form>
    <div class="row general-table-row ">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <div class="row general-border-top">
                <div class="col-md-3">{{name}}</div>
                <div class="col-md-4">{{description}}</div>
                <div class="col-md-1">N/A MB</div>
                <div class="col-md-1">{{format}}</div>
                <div class="col-md-2">{{tags}}</div>
                <div class="col-md-1 general-buttons-right">Actions</div>
            </div>
        </div>
    </div>