<div id="project-analysis-errors">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <div class="form-row project-analysis-row">
                <div class="form-group col-md-2">
                    
                </div>
                
                <div class="form-group col-md-10">
                    Woo hoo, no errors! (Because this is also coming soon)
                </div>
                
            </div>
        </div>
    </div>
</div>