<!--
Repertoire analysis  edit/detail view
-->

<div id="project-analysis-tcr-detail">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <form method="post" role="form" id="project-analysis-form_{{uuid}}" class="project-analysis-form needs-validation" name="analysis" novalidate>
                <!-- title -->
                <h3>
                <div class="form-row project-analysis-row">
                    <div class="form-group col-md-1">
                        <div class="btn-group" role="group" aria-label="Button group">
                            <div class="dropdown">
                                <button type="button" class="btn btn-create dropdown-toggle" name="{{uuid}}" id="project-analysis-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-user-alt" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-copy-uuid">
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Copy UUID to Clipboard
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-duplicate">
                                        <i class="fa fa-copy fa-fw image-vdj-darkblue" aria-hidden="true"></i> Duplicate Analysis
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-analysis-delete">
                                        <i class="fa fa-trash fa-fw image-vdj-red" aria-hidden="true"></i> Delete Analysis
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <b>{{workflow_name}}</b>
                    </div>
                    <div class="form-group col-md-3">
                        {{#ifEquals view_mode "started"}}
                            <a class="badge badge-pill badge-started">STARTED</a>
                        {{/ifEquals}}
                        {{#ifEquals view_mode "error"}}
                            <a class="badge badge-pill badge-error">ERROR</a>
                        {{/ifEquals}}
                        {{#ifEquals view_mode "finished"}}
                            <a class="badge badge-pill badge-finished">FINISHED</a>
                        {{/ifEquals}}
                    </div>
                </div>
                </h3>
                <!-- row description -->
                <div class="form-row project-analysis-row align-items-center">
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-11">
                        <label for="workflow_description">
                            
                            <b>Description:</b></label>
                        <input type="text" class="form-control form-control-analysis" id="analysis-workflow-description" name="workflow_description" placeholder="" value="{{value.workflow_description}}" {{#ifNot view_mode "edit"}}readonly{{/ifNot}}>
                    </div>
                </div>
                <!-- row 1 -->
                <div class="form-row project-analysis-row align-items-center">
                    <div class="form-group col-md-1"></div>
                    {{#ifEquals view_mode "edit"}}
                    <div class="form-group col-md-11">
                        <label><b>Select Repertoires and/or Repertoire Groups:</b></label>
                        <select class="selectpicker form-control value-select" name="repertoire-analysis-select" id="repertoire-analysis-select" multiple data-live-search="true" data-actions-box="true" data-selected-text-format="count" title="Please select from the following" aria-describedby="validateRepertoires">
                            <!-- Options are generated by project-groups-list.js in templateContext()-->
                            <optgroup label="Repertoire Groups">
                                {{#each group_list}}
                                    <option value="{{this.displayName}}" id="{{this.uuid}}" name="group" {{#if this.selected}}selected{{/if}}>{{this.displayName}}</option>
                                {{/each}}
                            </optgroup>
                            <optgroup label="Repertoires">
                                {{#each rep_list}}
                                    <option value="{{this.displayName}}" id="{{this.uuid}}" name="repertoire" {{#if this.selected}}selected{{/if}}>{{this.displayName}}</option>
                                {{/each}}
                            </optgroup>
                        </select>
                        <div id="validateRepertoires" class="invalid-feedback">
                            Cannot be blank. Please select a repertoire and/or a repertoire group.
                        </div>
                    </div>
                    {{/ifEquals}}

                    {{#ifEquals view_mode "started"}}
                    <div class="form-group col-md-11">
                        <label><b>Select Repertoires and/or Repertoire Groups:</b></label>
                    <!-- TODO: add region and subviews for list of repertoires and/or repertoire groups -->
                    </div>
                    {{/ifEquals}}

                </div>    
                <!-- row 2 -->
                <!-- divs for tools must have id as `project-analysis-`<workflow tool name>` -->
                <!-- divs for tools must have class of tool-button -->
                <div class="form-row project-analysis-row">
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <!-- fa-turn-down-right is a "pro" icon for fa -->
                        <!-- <i class="fa fa-solid fa-turn-down-right fa-2x"></i> -->
                    </div>
                    <!-- column 1 -->
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block tool-button" id="project-analysis-{{step1.html_id}}" name="{{step1.html_id}}" {{#unless is_complete}}disabled{{/unless}}>
                            {{step1.name}}
                        </button>
                    </div>

                    {{#if step2}}
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>

                    <!-- column 2 -->
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block tool-button" id="project-analysis-{{step2.html_id}}" name="{{step2.html_id}}" {{#unless is_complete}}disabled{{/unless}}>
                            {{step2.name}}
                        </button>
                    </div>
                    {{/if}}

                    {{#if step2}}
                    <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                        <i class="fa fa-long-arrow-alt-right fa-3x"></i>
                    </div>

                    <!-- column 3 -->
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary btn-block tool-button" id="project-analysis-{{step3.html_id}}" name="{{step3.html_id}}" {{#unless is_complete}}disabled{{/unless}}>
                            {{step3.name}}
                        </button>    
                    </div>
                    {{/if}}

                </div> 
                <!-- row 3 -->
                <!-- row 4  -->
                <div id="project-analysis-tool-subview-buttons"></div>

                <!-- row 5  -->
                <div id="project-analysis-parameter"></div>    
                
                </div> 
                <!-- row 6  -->
                <div id="project-analysis-completed"></div>    
            </form>
        </div>
    </div>
</div>
