<div class="row">
    {{#if canDownloadFiles}}
    {{else}}
        <div class="col-md-12">
            {{> file-downloads-unsupported}}
        </div>
    {{/if}}

    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-headings">
            <thead>
                <tr>
                    <th class="text-center">
                        Name
                    </th>
                    <th class="text-center">
                        Size
                    </th>
                    <th class="text-center">
                        Visualization
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each outputFiles}}
                    <tr class="text-center">
                        <td>
                            {{#if ../canDownloadFiles}}
                                <a class="download-file" href="#" data-bypass=true data-filename="{{name}}">{{name}}</a>
                            {{else}}
                                {{name}}
                            {{/if}}
                        </td>
                        <td>
                            {{GetHumanReadableFileSize length}}
                        </td>
                        <td>
                            {{#FileTypeHasChart this.name}}
                                <button class="btn btn-default show-chart" data-id="{{name}}">
                                    {{ChartButtonText this.name}}
                                </button>
                            {{/FileTypeHasChart}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="analyses">
    <!--
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                View Results <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="btn cdr3-histogram"><a>CDR3 Length Histogram</a></li>
                <li class="btn gene-dist-chart-btn"><a>Gene Distribution Chart</a></li>
                <li class="btn composition-chart-btn"><a>Base Composition Chart</a></li>
                <li class="btn quality-chart-btn"><a>Quality Score Chart</a></li>
                <li class="btn mean-q-hist-btn"><a>Mean Quality Score Histogram</a></li>
                <li class="btn gc-hist-btn"><a>Percentage GC Histogram</a></li>
                <li class="btn length-hist-btn"><a>Length Histogram</a></li>
                <li class="btn giant-table-btn"><a>Read Statistics</a></li>
            </ul>
        </div>
    -->

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="btn-group">
                    <button id="chart-legend" class="btn btn-default toggle-legend-btn" style="display:none;">Toggle Legend</button>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-7">
                <em>
                    <div id="chart-right-announcement"></div>
                </em>
            </div>
        </div>
    </div>

	<div class="alert alert-danger alert-message chart-warning" style="display:none;"></div>

	<div class="d3-tip"></div>

	<div id='analyses-chart' class='svg-container'>
	    <svg></svg>
	</div>
</div>
