<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-headings">
            <thead>
                <tr>
                    <th class="text-center">
                        <input name="select-all-files-checkbox" type="checkbox" value="{{uuid}}" class="selected-files">
                    </th>
                    <th class="text-center">
                        Name
                    </th>
                    <th class="text-center">
                        Size
                    </th>
                    <th class="text-center">
                        Visualization
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each outputFiles}}
                    <tr class="text-center">
                        <td>
                            <input name="file-checkbox" type="checkbox" class="selected-files">
                        </td>
                        <td>
                            <a class="download-file" href="#" data-bypass=true data-filename="{{name}}">{{name}}</a>
                        </td>
                        <td>
                            {{GetHumanReadableFileSize length}}
                        </td>
                        <td>
                            {{#FileTypeHasChart this.name}}
                                <button class="btn btn-default show-chart" data-id="{{name}}">
                                    Show Chart
                                </button>
                            {{/FileTypeHasChart}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="analyses">
    <!--
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                View Results <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="btn cdr3-histogram"><a>CDR3 Length Histogram</a></li>
                <li class="btn gene-dist-chart-btn"><a>Gene Distribution Chart</a></li>
                <li class="btn composition-chart-btn"><a>Base Composition Chart</a></li>
                <li class="btn quality-chart-btn"><a>Quality Score Chart</a></li>
                <li class="btn mean-q-hist-btn"><a>Mean Quality Score Histogram</a></li>
                <li class="btn gc-hist-btn"><a>Percentage GC Histogram</a></li>
                <li class="btn length-hist-btn"><a>Length Histogram</a></li>
                <li class="btn giant-table-btn"><a>Read Statistics</a></li>
            </ul>
        </div>
    -->
    <div class="btn-group">
        <button id="chart-legend" class="btn btn-default toggle-legend-btn" style="display:none;">Toggle Legend</button>
    </div>

	<div class="alert alert-danger alert-message" style="display:none;"></div>
	<button class="btn btn-default download-btn" style="display:none;">Download Full Data</button>

	<div class="d3-tip"></div>
	<div id='analyses-chart' class='svg-container'>
	    <svg></svg>
	</div>
</div>
