<div class="alert alert-info">
    <i class="fa fa-info-circle"></i> Send us your feedback.
</div>

<form method="post" class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-12">
            <textarea autofocus placeholder="Enter feedback here" name="feedback" id="feedback" class="form-control" rows="10" value="{{userFeedbackData.feedback}}"></textarea>
      </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <input type="submit" value="Send Feedback" class="btn btn-success btn-block">
        </div>
    </div>
</form>
