@import "settings";

// Note: this is currently broken
.view-project {
    //background-color: #000;
    &:hover {
        background-color: #000;
    }
/*
    a:hover {
        background-color: #fff;
    }
    a {
        background-color: #000;
    }
*/
}

