        <form method="POST" role="form" id="editProject-form" class="needs-validation" name="editProject" novalidate>
            <div class="row">
                <div class="col-md-6 overview-summary">
                    {{#if edit_mode}}
                        <h3>Project Title</h3>
                        <input type="text" class="form-control" name="study_title" id="study_title" value="{{value.study_title}}">
                    <div class="invalid-feedback">
                        Please enter a non-blank Project/Study Title.
                    </div>
                    {{/if}}
                    <h3>Project Summary</h3>
                    {{#unless edit_mode}}
                        {{#if value.study_description}}
                            <p>
                                {{value.study_description}}
                            </p>
                        {{/if}}
                    {{/unless}}

                    {{#if edit_mode}}
                        <textarea class="form-control" name="study_description" id="description" rows="23">{{value.study_description}}</textarea>
                    {{/if}}
                </div>

                <div class="col-md-6 overview-details">
                    <div class="overview-item">
                        <span class="details">Study ID:</span>
                        {{#unless edit_mode}}
                            {{value.study_id}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control col-md-7" name="study_id" id="study_id" value="{{value.study_id}}" required>
                        {{/if}}
                    </div>
                    <div class="overview-item">
                        <span class="details">Study Type:</span>
                        {{#unless edit_mode}}
                            {{#if value.study_type.id}}
                                {{value.study_type.label}} ({{value.study_type.id}})
                            {{/if}}
                        {{/unless}}

                        {{#if edit_mode}}
                        <div id="study-type-region"></div>
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Inclusion/Exclusion Criteria:</span>
                        {{#unless edit_mode}}
                            {{value.inclusion_exclusion_criteria}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <textarea class="form-control" name="inclusion_exclusion_criteria" id="criteria" rows="5" required>{{ value.inclusion_exclusion_criteria }}</textarea>
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Study Keywords:</span>
                        {{#unless edit_mode}}
                            {{#if contains_ig}}
                                <a class="badge badge-pill badge-locus">IG</a>
                            {{/if}}
                            {{#if contains_tr}}
                                <a class="badge badge-pill badge-locus">TCR</a>
                            {{/if}}
                            {{#if contains_paired_chain}}
                                <a class="badge badge-pill badge-cell">Paired Chain</a>
                            {{/if}}
                            {{#if is_10x_genomics}}
                                <a class="badge badge-pill badge-10x">10x Genomics</a>
                            {{/if}}
                        {{/unless}}

                        {{#if edit_mode}}
                            {{#each keywords_enum}}
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="form-check-input" type="checkbox" name="{{this}}" id="{{this}}" value="{{this}}" {{#contains this ../value.keywords_study}} checked {{/contains}}>
                                    <label class="form-check-label" for="{{@index}}">
                                        {{#with (lookup ../keywords_object this)}} {{this}} {{/with}}
                                    </label>
                                </div>
                            {{/each}}
                                <div class="form-check custom-control custom-checkbox">
                                    <input class="form-check-input" type="checkbox" name="is_10x_genomics" id="is_10x_genomics" value="is_10x_genomics" {{#if is_10x_genomics}} checked {{/if}}>
                                    <label class="form-check-label">
                                        10x Genomics
                                    </label>
                                </div>

                        {{/if}}
                    </div>

                    <hr>

                    <div class="overview-item">
                        <span class="details">Publications:</span>
                        {{#unless edit_mode}}
                            {{value.pub_ids}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control" name="pub_ids" id="publications" required value="{{ value.pub_ids }}">
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Grants:</span>
                        {{#unless edit_mode}}
                            {{value.grants}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <textarea class="form-control" name="grants" id="grants" rows="4" required>{{value.grants}}</textarea>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="row overview-footer">
                <div class="col-md-8 overview-summary-details">
                    <div class="overview-item">
                        <span class="details">Lab Name/Principal Investigator (PI): </span>
                        {{#unless edit_mode}}
                            {{value.lab_name}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control col-md-6" name="lab_name" id="lab_name" required value="{{ value.lab_name }}">
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Lab Address:</span>
                        {{#unless edit_mode}}
                            {{value.lab_address}}
                        {{/unless}}

                        {{#if edit_mode}}
                            <input type="text" class="form-control col-md-7" name="lab_address" id="lab_address" required value="{{ value.lab_address }}">
                        {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Data Collector Name, Email and Address:</span>
                        {{#unless edit_mode}}
                            {{value.collected_by}}
                        {{/unless}}

                    {{#if edit_mode}}
                        <input type="text" class="form-control" name="collected_by" id="collected_by" required value="{{ value.collected_by }}">
                    {{/if}}
                    </div>

                    <div class="overview-item">
                        <span class="details">Data Submitter Name, Email and Address:</span>
                        {{#unless edit_mode}}
                            {{value.submitted_by}}
                        {{/unless}}

                    {{#if edit_mode}}
                        <input type="text" class="form-control" name="submitted_by" id="submitted_by" required value="{{ value.submitted_by }}">
                    {{/if}}
                    </div>
                </div>
            </div>
        </form>
