<div class="row row-with-spacer">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span id="{{inputCount}}-barcode-title-{{elementCount}}">{{title}}</span>
                    </div>
                </div>
            </div>

            <!-- These are always set -->
            <input
                class="hidden"
                id="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-value-name"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-value-name"
                type="text"
                value="DemultiplexBarcode{{elementCount}}"
            >

            <input
                class="hidden"
                id="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-score-name"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-score-name"
                type="text"
                value="DemultiplexBarcode{{elementCount}}-score"
            >

            <input
                id="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-barcode-type"
                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-barcode-type"
                type="text"
                value="{{options.custom_type}}"
                hidden
            >

            <div class="panel-body">
                <div class="row row-with-spacer">
                    <div class="col-md-12">

                        <input
                            name="{{inputCount}}-{{parameterType}}-elements[]"
                            type="text"
                            value="{{elementCount}}"
                            hidden
                        >

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        Fasta Barcode File
                                    </td>
                                    <td>
                                        <select
                                            class="job-form-item"
                                            id="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-sequence-file"
                                            name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-sequence-file"
                                        >
                                            {{#each barcodeFiles}}
                                                <option value={{value.name}}>{{value.name}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Discard Reads Without Barcodes?
                                    </td>
                                    <td>
                                        {{#if options.required}}
                                            <input
                                                class="job-form-item"
                                                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-required"
                                                type="checkbox"
                                                checked
                                            >
                                        {{else}}
                                            <input
                                                class="job-form-item"
                                                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-required"
                                                type="checkbox"
                                            >
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Maximum Number of Mismatches
                                    </td>
                                    <td>
                                        <input
                                            class="job-form-item"
                                            name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-maximum-mismatches"
                                            type="number"
                                            value="{{options.max_mismatches}}"
                                            step="1"
                                            min="0"
                                            pattern="\d+"
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Trim Barcode
                                    </td>
                                    <td>
                                        {{#if options.custom_trim}}
                                            <input
                                                class="job-form-item"
                                                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-trim-barcode"
                                                type="checkbox"
                                                checked
                                            >
                                        {{else}}
                                            <input
                                                class="job-form-item"
                                                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-trim-barcode"
                                                type="checkbox"
                                            >
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Generate Histogram
                                    </td>
                                    <td>
                                        {{#if options.custom_histogram}}
                                            <input
                                                class="job-form-item"
                                                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-custom-histogram"
                                                type="checkbox"
                                                checked
                                            >
                                        {{else}}
                                            <input
                                                class="job-form-item"
                                                name="{{inputCount}}-{{parameterType}}-{{elementCount}}-element-custom-histogram"
                                                type="checkbox"
                                            >
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
