{{> vdjpipe-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-12">
            Min
            &nbsp;
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-min"
                placeholder="unsigned integer"
                type="number"
                value="{{options.min}}"
                step="1"
                min="0"
                pattern="\d+"
            >
        </div>
    </div>
    <div class="row row-with-spacer">
        <div class="col-md-12">
            Max
            &nbsp;
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}-max"
                placeholder="unsigned integer"
                type="number"
                value="{{options.max}}"
                step="1"
                min="0"
                pattern="\d+"
            >
        </div>
    </div>

{{> vdjpipe-base-view-bottom}}
