<li>
    <div class="panel panel-default vdj-pipe-parameter">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{#if isEditable}}
                        <i class="fa fa-bars"></i>
                        &nbsp;
                    {{/if}}

                    Ambiguous Nucleotide Window Filter

                    {{#if isEditable}}
                        &nbsp;
                        <span class="label label-danger remove-job-parameter">&times;</span>
                    {{/if}}

                    <input class="job-form-item" type="hidden" name="{{inputCount}}-{{parameterType}}">
                </div>
            </div>

            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Min Length
                    &nbsp;
                    <input
                        class="job-form-item"
                        name="{{inputCount}}-{{parameterType}}-min-length"
                        placeholder="Unsigned integer"
                        type="number"
                        value="{{options.min_length}}"
                        step="1"
                        min="0"
                        pattern="\d+"
                    >
                </div>
            </div>
            <div class="row row-with-spacer">
                <div class="col-md-12">
                    Max Ambiguous
                    &nbsp;
                    <input
                        class="job-form-item"
                        name="{{inputCount}}-{{parameterType}}-max-ambiguous"
                        placeholder="Unsigned integer"
                        type="number"
                        value="{{options.max_ambiguous}}"
                        step="1"
                        min="0"
                        pattern="\d+"
                    >
                </div>
            </div>

        </div>
    </div>
</li>
