{{> vdjpipe-base-view-top}}

    <div class="row row-with-spacer">
        <div class="col-md-12">
            Minimum Score
            &nbsp;
            <input
                class="job-form-item"
                name="{{inputCount}}-{{parameterType}}"
                placeholder="unsigned integer"
                type="number"
                value="{{options.min_score}}"
                step="1"
                min="0"
                pattern="\d+"
            >
        </div>
    </div>

{{> vdjpipe-base-view-bottom}}
