<li>
    <div class="panel panel-primary vdj-pipe-parameter">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        {{#if isOrderable}}
                            <i class="fa fa-bars"></i>
                            &nbsp;
                        {{/if}}
                    </div>

                    <div class="pull-right">
                        {{#if isRemovable}}
                            &nbsp;
                            <span class="label label-danger remove-job-parameter">&times;</span>
                        {{/if}}
                    </div>

                    <div class="text-center">
                        <strong>{{vdjpipeOptionTitle}}</strong>
                    </div>

                </div>
            </div>

        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <input
                        class="job-form-item"
                        type="hidden"
                        name="{{inputCount}}-{{parameterType}}"
                    >
                </div>
            </div>
