<div class="container home-view">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="home-science-image">
                <img src="../images/illustration-final.png">
            </div>
        </div>

        <div class="col-md-5">
            <div class="welcome-box">
                <form class="signup form-horizontal">
                    <h2>Welcome!</h2>
                    <p>
                        VDJServer is a free, scalable resource for performing immune repertoire analysis and sharing data. Manage, analyze, and archive your data through our web resource.  You can also download our open source analysis software for local use.
                    </p>

                    <div class="form-group">
                        <input autofocus class="form-control" type="text" placeholder="USERNAME" name="username" id="username">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="PASSWORD" name="password" id="password">
                    </div>

                    <div class="row">
                        <div class="col-md-6 login-button-column">
                            <input type="submit" value="LOGIN" id="home-login" class="login-button">
                        </div>
                        <div class="col-md-6 login-button-column text-center">
                            <a class="forgot-password-button" href="password-reset">Forgot password?</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 login-button-column text-center">
                            <p><a class="home-create-account" href="/account">Create Account</a></p>
                        </div>
                        <div class="col-md-6 login-button-column text-center">
                            <p><a class="home-create-account" href="feedback">Send Us Feedback</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="home-boxes">
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Upload</h2>
                    <p>
                        <img src="../images/Upload.png" />
                    </p>

                    <p>
                        Manage and archive your data leveraging our mirrored, secure, high performance datastore.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Analyze</h2>
                    <p>
                        <img src="../images/Analyze.png" />
                    </p>
                    <p>
                        Use the latest software running on powerful supercomputers to crunch data at any scale.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Publish</h2>
                    <p>
                        <img src="../images/Publish.png" />
                    </p>
                    <p>
                        Create permanent URLs to your data, analysis pipelines, and results to support journal publications.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Share</h2>
                    <p>
                        <img src="../images/Share.png" />
                    </p>
                    <p>
                        Collaborate privately with individuals or contribute your data publicly to the scientific community.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
           <div class="large-info-box uploads">
              <div class="community">
                 <h2>News & Announcements</h2>
              </div>

                <div class="left">
                   <h4> 11.19.14 - VDJServer Coming Soon!</h4>
                    <p>
                    The VDJServer team is actively working toward our first release, which will be before the end of the year.   Create projects, upload files within projects, and work together with other colleagues. Analyze data with a customizable pre-processing pipeline for filtering sequencing data and perform repertoire characterization with igBlast.  Visualize your results at each step with interactive charts.  Your data is securely stored on a powerful and scalable high performance data system, so it is accessible to you and those you share it with whenever you need it.  Analyses are run on the Lonestar supercomputer, providing resources that scale with any project. We’re just getting started, so leave us feedback at <a href="mailto:lindsay.cowell@utsouthwestern.edu?Subject=VDJServer%20Feedback">lindsay.cowell@utsouthwestern.edu</a>, and keep an eye out for updates.  In the coming months we will be adding a lot of features, interface improvements, software, and tutorials.
                    </p>
                </div>

                <div class="right">
                     <h4>About:</h4>
                    <p>
Funded by a National Institute of Allergy and Infectious Diseases research grant (#1R01A1097403), the “VDJ Server” project is led by The University of Texas Southwestern (UTSW) Medical Center in collaboration with the J. Craig Venter Institute and Yale University. The Texas Advanced Computing Center (TACC) at The University of Texas at Austin leads the cyberinfrastructure implementation, including the high performance computing (HPC) systems, storage, and software solutions.
                   </p>
                </div>
            </div>
        </div>
    </div>
</div>
