<div class="row project-samples-header">
    <div class="col" id="sample_accordion">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#editSample_collapse" aria-expanded="false" aria-controls="editSample_collapse">
                      <span class="details-title"><h1>{{num_samples}} Samples</h1></span>
                    </button>
                  </h5>
    </div>
</div>

<div class="row project-samples-buttons">
    <div class="col">
        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle project-buttons-margin-right" type="button" id="project-samples-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-samples-sort-select" name="name">
                    {{#ifEquals current_sort "name"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Name
                </button>
                <button class="dropdown-item" type="button" id="project-samples-sort-select" name="newest">
                    {{#ifEquals current_sort "newest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Newest
                </button>
                <button class="dropdown-item" type="button" id="project-samples-sort-select" name="oldest">
                    {{#ifEquals current_sort "oldest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Oldest
                </button>
                <button class="dropdown-item" type="button" id="project-samples-sort-select" name="size">
                    {{#ifEquals current_sort "size"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Size
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled" type="button">
                    Add Custom Sort...
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle project-buttons-margin-right" type="button" id="project-samples-upload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Import/Export
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-samples-upload-computer" name="name">
                    Import Sample Table
                </button>
                <button class="dropdown-item" type="button" id="project-samples-upload-dropbox" name="newest">
                    Export Sample Table
                </button>
                <button class="dropdown-item" type="button" id="project-samples-upload-dropbox" name="newest">
                    Export 10X Genomics Template
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-create" id="add-new-sample"><i class="fa fa-plus" aria-hidden="true"></i>Add Sample</button>
        </div>
    </div>

    <div class="col-md-6 project-buttons-right">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-cancel project-changes-action" id="project-samples-revert-changes" disabled>Revert Sample Changes</button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save project-changes-action" id="project-samples-save-changes" disabled>Save Sample Changes</button>
        </div>
    </div>
</div>
