<div class="row general-button-bar">
    <div class="col-md-7">
        <div class="btn-group " role="group" aria-label="Button group">
            <button type="button" class="btn btn-primary general-buttons-margin-right" id="project-groups-details-summary">
                {{#if detailsMode}}Summary{{/if}}
                {{#unless detailsMode}}Details{{/unless}}
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-groups-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="group_name">
                    {{#ifEquals current_sort "group_name"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Group Name
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="num_repertoires_decreasing">
                    {{#ifEquals current_sort "num_repertoires_decreasing"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Number of Repertoires (Decreasing)
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="num_repertoires_increasing">
                    {{#ifEquals current_sort "num_repertoires_increasing"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Number of Repertoires (Increasing)
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="last_updated">
                    {{#ifEquals current_sort "last_updated"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Last Updated
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="last_created">
                    {{#ifEquals current_sort "last_created"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Last Created
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="first_created">
                    {{#ifEquals current_sort "first_created"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    First Created
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group " role="group" aria-label="Button group">
            <div class="dropdown">
                <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-groups-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Groups
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" id="project-groups-new-group" name="project-groups-new-group">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; New Blank Repertoire Group
                    </button>
                    <button class="dropdown-item" type="button" id="project-group-create-from-field" name="project-group-create-from-field" disabled>
                        Generate Groups from Field
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 general-buttons-right">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-cancel" id="project-groups-revert-changes" {{#unless has_edits}}disabled{{/unless}}>Revert Group Changes</button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save general-buttons-margin-left" id="project-groups-save-changes" {{#unless has_edits}}disabled{{/unless}}>Validate and Save Changes</button>
        </div>
    </div>
</div>
