<div class="row general-button-bar">
    <div class="col-md-7">
        <div class="btn-group " role="group" aria-label="Button group">
            <button type="button" class="btn btn-primary general-buttons-margin-right" id="project-groups-details-summary">
                {{#if detailsMode}}Summary{{/if}}
                {{#unless detailsMode}}Details{{/unless}}
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-groups-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="subjectid">
                    {{#ifEquals current_sort "subjectid"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Group ID
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="sex">
                    {{#ifEquals current_sort "sex"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Sex
                </button>
                <button class="dropdown-item" type="button" id="project-groups-sort-select" name="age">
                    {{#ifEquals current_sort "age"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Age
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group " role="group" aria-label="Button group">
            <div class="dropdown">
                <button class="btn btn-create dropdown-toggle general-buttons-margin-right" type="button" id="project-groups-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Groups
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" id="project-groups-new-group" name="name">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; New Blank Repertoire Group
                    </button>
                    <button class="dropdown-item" type="button" id="project-group-create-from-field" name="name" disabled>
                        Generate Groups from Field
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 general-buttons-right">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-cancel" id="project-groups-revert-changes" {{#unless has_edits}}disabled{{/unless}}>Revert Group Changes</button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save general-buttons-margin-left" id="project-groups-save-changes" {{#unless has_edits}}disabled{{/unless}}>Validate and Save Changes</button>
        </div>
    </div>
</div>
