<link href="../../../styles/modules/_multiselect.css" rel="stylesheet" type="text/css">

<div id="project-groups-detail">
    <div class="row general-table-row general-border-top">
        <div class="col">
            <form method="post" role="form" id="project-repertoire-group-form_{{uuid}}" class="project-repertoire-group-form needs-validation" name="repertoire-group" novalidate>
                <div class="form-row project-repertoire-group-row align-items-center">
                    <div class="form-group col-md-1">
                        <label><b>Actions:</b></label>
                        <div class="btn-group" role="group" aria-label="Button group">
                            <div class="dropdown">
                                <button type="button" class="btn btn-create dropdown-toggle" name="{{uuid}}" id="project-repertoire-group-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-fw fa-user-alt" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-show-summary" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Repertoire Group Summary
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-copy-uuid">
                                        <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Copy UUID to Clipboard
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-edit" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>
                                        <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Edit Repertoire Group
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-duplicate">
                                        <i class="fa fa-copy fa-fw image-vdj-darkblue" aria-hidden="true"></i> Duplicate Repertoire Group
                                    </button>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-add-diagnosis">
                                        <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Add Diagnosis
                                    </button>
                                    <div class="dropdown-divider" width="10%"></div>
                                    <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-delete">
                                        <i class="fa fa-trash fa-fw image-vdj-red" aria-hidden="true"></i> Delete Repertoire Group
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="repertoire_group_id">
                            <span>
                                <!-- Tooltip -->
                                {{{FieldStar "RepertoireGroup" "repertoire_group_id"}}}
                            </span>
                            <!-- Popover -->
                            {{{FieldHelpPopover "RepertoireGroup" "repertoire_group_id"}}}
                            Repertoire Group ID:
                        </label>
                        <input type="text" class="form-control form-control-repertoire-group" name="repertoire_group_id" id="repertoire_group_id_{{uuid}}" value="{{value.repertoire_group_id}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}} aria-describedby="validationBlankID">
                        <div id="validationBlankID" class="invalid-feedback">
                            Please enter a non-blank, unique Repertoire Group ID.
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="repertoire_group_description">Repertoire Group Description</label>
                        <input type="text" class="form-control form-control-repertoire-group" name="repertoire_group_description" id="repertoire_group_description_{{uuid}}" value="{{value.repertoire_group_description}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>
                    </div>
                </div>

                <div class="form-row project-repertoire-group-row">
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-10">
                        
                        <label for="repertoires">Repertoires</label>
                        
                        <select id="repertoires_{{uuid}}" name="repertoires" data-placeholder="Select Repertoires" multiple data-multi-select>
                            <option value="repertoire1">Repertoire 1</option>
                            <option value="repertoire2">Repertoire 2</option>
                            <option value="repertoire3">Repertoire 3</option>
                            <option value="repertoire11">Repertoire 11</option>
                            <option value="repertoire12">Repertoire 12</option>
                            <option value="repertoire13">Repertoire 13</option>
                            <option value="repertoire21">Repertoire 21</option>
                            <option value="repertoire22">Repertoire 22</option>
                            <option value="repertoire23">Repertoire 23</option>
                            <option value="repertoire31">Repertoire 31</option>
                            <option value="repertoire32">Repertoire 32</option>
                            <option value="repertoire33">Repertoire 33</option>
                            <option value="repertoire41">Repertoire 41</option>
                            <option value="repertoire42">Repertoire 42</option>
                            <option value="repertoire43">Repertoire 43</option>
                            <option value="repertoire51">Repertoire 51</option>
                            <option value="repertoire52">Repertoire 52</option>
                            <option value="repertoire53">Repertoire 53</option>
                            <option value="repertoire61">Repertoire 61</option>
                            <option value="repertoire62">Repertoire 62</option>
                            <option value="repertoire63">Repertoire 63</option>
                            <option value="repertoire71">Repertoire 71</option>
                            <option value="repertoire72">Repertoire 72</option>
                            <option value="repertoire73">Repertoire 73</option>
                            <option value="repertoire81">Repertoire 81</option>
                            <option value="repertoire82">Repertoire 82</option>
                            <option value="repertoire83">Repertoire 83</option>
                            <option value="repertoire91">Repertoire 91</option>
                            <option value="repertoire92">Repertoire 92</option>
                            <option value="repertoire93">Repertoire 93</option>
                            <option value="repertoire01">Repertoire 01</option>
                            <option value="repertoire02">Repertoire 02</option>
                            <option value="repertoire03">Repertoire 03</option>
                        </select>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>