<div id="project-groups-summary" class="row general-table-row general-border-top align-items-center">
    <div class="col">
        <div class="row">
            <div class="col-md-5">
                <div class="btn-group" role="group" aria-label="Button group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-create btn-sm dropdown-toggle general-buttons-margin-right" name="{{uuid}}" id="project-repertoire-group-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-vials" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-show-detail">
                                <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Repertoire Group Details
                            </button>
                            <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-copy-uuid">
                                <i class="fas fa-info-circle fa-fw image-vdj-green" aria-hidden="true"></i> Copy UUID to Clipboard
                            </button>
                            <div class="dropdown-divider" width="10%"></div>
                            <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-edit">
                                <i class="fa fa-plus fa-fw image-vdj-darkblue" aria-hidden="true"></i> Edit Repertoire Group
                            </button>
                            <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-duplicate">
                                <i class="fa fa-copy fa-fw image-vdj-darkblue" aria-hidden="true"></i> Duplicate Repertoire Group
                            </button>
                            <div class="dropdown-divider" width="10%"></div>
                            <button type="button" class="dropdown-item" name="{{uuid}}" id="project-repertoire-group-delete">
                                <i class="fa fa-trash fa-fw image-vdj-red" aria-hidden="true"></i> Delete Repertoire Group
                            </button>
                        </div>
                    </div>
                </div>
                <b>Group Name:</b> {{value.repertoire_group_name}}
            </div>
            <div class="col-md-7">
                <b>Description:</b> {{value.repertoire_group_description}}
            </div>
        </div>

        <div class="row general-table-internal-row align-items-center">
            <div class="col-md-5">
                <b>Repertoire Filter:</b> {{filter_name}}
            </div>
            <div class="col-md-2">
                <b>Repertoire Count:</b> {{value.repertoires.length}}
            </div>
            <div class="col-md-5">
                <b>Rearrangement Filter:</b> {{seq_filter_name}}
            </div>
        </div>

    </div>
</div>
