        <tbody>
            <thead>
                <tr>
                    <th scope="col">User Account</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tr class="user-row">
                <td class="user-name-email">
                    <input type="text" class="form-control col-md-6" id="user-name" placeholder="Type username..." {{#if archive_mode}}disabled{{/if}}>
                    </input>
                </td>
                <td class="user-status">
                </td>
                <td class="user-actions">
                    <button type="button" class="btn btn-create" id="add-project-user" {{#if archive_mode}}disabled{{/if}}><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                </td>
            </tr>

        </tbody>
