<input
    id="file-listings-dialog"
    class="hidden"
    name="files[]"
    type="file"
    multiple
/>

{{#ifOr singleReadFileListings pairedReadFileListings}}
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-headings project-files">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input id="select-all-files-checkbox" name="select-all-files-checkbox" type="checkbox">
                        </th>
                        <th class="text-center">
                            Name
                        </th>
                        <th class="text-center">
                            Last Modified
                        </th>
                        <th class="text-center">
                            Size
                        </th>
                        <th class="text-center">
                            File Origin
                        </th>
                        <th class="text-center">
                            Type
                        </th>
                        <th class="text-center">
                            Tags
                        </th>
                        <th class="text-center">
                            Read Direction
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {{!-- Start Single Reads --}}
                    {{#each singleReadFileListings}}
                        {{#if isPlaceholder}}
                            <tr class="text-center table-row-placeholder">
                        {{else}}
                            <tr class="text-center">
                        {{/if}}
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    {{#IfJobSelectableFileType value.name value.fileType}}
                                        <input name="file-checkbox" type="checkbox" value="{{uuid}}" class="selected-files">
                                    {{else}}
                                        <input name="file-checkbox" type="checkbox" value="{{uuid}}" class="selected-files not-job-selectable">
                                    {{/IfJobSelectableFileType}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            Importing:  <i>{{value.name}}</i>
                                        </div>
                                    </div>

                                    &nbsp;

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="progress">
                                                <div class="progress-bar progress-striped active placeholder-guid-{{uuid}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {{else}}
                                    {{!--
                                        {{> project-file-list-title this}}
                                    --}}

                                    {{#if value.qualityScoreMetadataUuid}}
                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="file-listing-title-block">
                                                    <i class="fa fa-link"></i>
                                                </div>

                                                &nbsp;

                                                <div class="file-listing-title-block">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="download-file btn btn-default" data-filename="{{value.name}}" data-metadatauuid="{{uuid}}">{{value.name}}</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            {{#if this.qualModel}}
                                                                <button class="download-file btn btn-default" data-filename="{{this.qualModel.value.name}}" data-metadatauuid="{{this.qualModel.uuid}}">{{this.qualModel.value.name}}</button>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                </div>

                                                &nbsp;

                                                <button class="btn btn-danger unlink-qual" id="{{uuid}}">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button class="download-file btn btn-default" data-filename="{{value.name}}" data-metadatauuid="{{uuid}}">{{value.name}}</button>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    {{> project-file-list-last-modified this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-last-modified this.qualModel}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    {{> project-file-list-size this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-size this.qualModel}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    {{> project-file-list-origin this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-origin this.qualModel}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{#if this.qualModel}}
                                                Single-End Read-Level Data
                                            {{else}}
                                                <select
                                                    class="project-file-type"
                                                    data-fileuuid="{{uuid}}"
                                                >
                                                    {{#each ../../../fileTypes}}
                                                        <option {{ifCondSelected this ../../value.fileType}} value="{{this}}">
                                                            {{#with (lookup ../../../../fileTypeNames @index)}} {{this}} {{/with}}
                                                        </option>
                                                    {{/each}}
                                                </select>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    {{> project-file-list-tags this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-tags this.qualModel}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if isPlaceholder}}
                                {{else}}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select
                                                class="project-file-read-direction"
                                                data-fileuuid="{{uuid}}"
                                            >
                                                <option></option>
                                                {{#each ../../../readDirections}}
                                                    <option {{ifCondSelected this ../../value.readDirection}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    {{!--
                                    {{#if this.qualModel}}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <select
                                                    class="project-file-read-direction"
                                                    data-fileuuid="{{this.qualModel.uuid}}"
                                                >
                                                    <option></option>
                                                    {{#each ../../../../readDirections}}
                                                        <option {{ifCondSelected this ../../this.qualModel.value.readDirection}}>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    {{/if}}
                                    --}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                    {{!-- End Single Reads --}}

                    {{!-- Start Paired Reads --}}
                    {{#each pairedReadFileListings}}
                        <tr class="text-center">
                            <td>
                                <input name="file-checkbox" type="checkbox" value="{{this.0.uuid}}" class="selected-files">
                            </td>
                            <td>
                                {{#each this}}
                                    {{> project-file-list-title this}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-last-modified this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-last-modified this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-size this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-size this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-origin this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-origin this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                <div class="file-listing-title-block">
                                    Paired-End Read-Level Data
                                </div>

                                &nbsp;

                                <button class="btn btn-danger unlink-paired-read" id="{{this.[0].uuid}}">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                            <td>
                                {{#each this}}

                                    {{> project-file-list-tags this}}

                                    {{#if this.qualModel}}
                                        {{> project-file-list-tags this.qualModel}}
                                    {{/if}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                            <td>
                                {{#each this}}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <select
                                                class="project-file-read-direction"
                                                data-fileuuid="{{uuid}}"
                                            >
                                                <option></option>
                                                {{#each ../../../readDirections}}
                                                    <option {{ifCondSelected this ../value.readDirection}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    {{!--
                                    {{#if this.qualModel}}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <select
                                                    class="project-file-read-direction"
                                                    data-fileuuid="{{this.qualModel.uuid}}"
                                                >
                                                    <option></option>
                                                    {{#each ../../../readDirections}}
                                                        <option {{ifCondSelected this ../this.qualModel.value.readDirection}}>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                    {{/if}}
                                    --}}

                                    {{> project-file-list-spacer}}
                                {{/each}}
                            </td>
                        </tr>
                    {{/each}}
                    {{!-- End Paired Reads --}}


                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>
                <div class="alert alert-primary">
                    Job Output Files
                </div>
            </h2>
        </div>
    </div>
{{else}}
    <div id="file-container" class="row">
        <div id="drag-and-drop-box" class="jumbotron-dashed-box col-md-12">

            <div id="file-drop">
                <span class="background-icon fa fa-upload"></span>

                <h2>Let's Get Started!</h2>

                <p>
                    <h5>
                        VDJServer can process raw reads (e.g. apply quality filtering), conduct germline inference using IgBlast, and provide summary output of repertoire characteristics.
                    </h5>
                </p>
                <p>
                    <h5>
                        To begin this process, upload sequence data in fastq or fasta format. Currently accepted file types are .fastq, .fasta, .fna, .fa, .qual, .gz, .bz2, and .Z. If you upload .fasta and .qual files, you will need to specify which files are associated with each other using the “Link .fasta/.qual Files” tab on the left.
                    </h5>
                </p>
                <p>
                    <h5>
                        You can also upload your primer sequences and barcode sequences here if you wish to identify and remove them from the raw reads prior to alignment. If you upload a barcode file, VDJserver will separate and analyze your samples for you.
                    </h5>
                </p>
                <p>
                    <h5>
                        You can drag and drop to upload data or just click here
                    </h5>
                </p>
            </div>
        </div>
        <div id="file-staging"></div>
    </div>
{{/ifOr}}
