<div class="row">
    <div class="col-md-8">
        <div class="project-details-loading-view"></div>
            <table class="project-details">
                <tbody>
                    <tr>
                        <td>
                            <strong>Name:</strong>
                        </td>
                        <td>
                            {{project.value.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>VDJServer UUID:</strong>
                        </td>
                        <td>
                            {{project.uuid}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Data:</strong>
                        </td>
                        <td>
                            {{fileListingCount}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Members:</strong>
                        </td>
                        <td>
                            {{userCount}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
