/*****************************************************
Community Projects Page
*****************************************************/

.dataTables_wrapper .dataTables_filter {
    display: none;
}

.community-container {
    margin: 0% 3%;
}

.community-download {
    margin-bottom: 10%;
}

.btn-download {
    float: right;
}

#community-statistics {
    margin: 1% 0% 0.5% 0%;
}

.no-display {
    display: none;
}

/* ----------------------------------------------------------
Loading
------------------------------------------------------------*/
.loading-airr-data {
    text-align: center;
}

.loading-content {
    font-size: 2em;
    text-align: center;

    p:nth-child(3) {
        color: $vdj-medgray;
        font-size: 0.75em;
    }
}

/* ----------------------------------------------------------
Community Query
------------------------------------------------------------*/
.filter-option, .filter-value {
    margin-right: 1%;
    padding-left: 1.25%;
}

.apply-filter, .reset-filter {
    margin-right: 1%;
}

a.remove-filter {
    color: #FFFFFF;
}

.filter-operator {
    margin-right: 1%;
}

#community-filter {
    padding: 0.5% 2% 2% 2%;
    border: 2px solid rgba(184, 192, 199, 0.65);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.03);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.03);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.03);

    form {
        margin-bottom: 0%;
    }

    div {
        margin-top: 1%;
    }
}

.new-filter {
    display: flex;
    align-items: center;

    button {
        margin-right: 1em;
    }

    #save-community-filter {
        display: none;
    }
}

.sort-options-buttons {
    button {
        margin-right: 1em;
    }
}

#close-filter {
    float: right;
    display: none;
    cursor: pointer;
    margin-top: 0.5%;
}

/* ----------------------------------------------------------
Community Statistics
------------------------------------------------------------*/
#community-query-stats {
    background: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    padding: 2% 2% 0.5% 2%;
    -webkit-transition: position 2s ease-out;
  -moz-transition: position 2s ease-out;
  -o-transition: position 2s ease-out;
  transition: position 2s ease-out;
}

@include media-breakpoint-up(md) {
    .hideFilter {
        top: -18% !important;
    }
}

@include media-breakpoint-up(lg) {
    .hideFilter {
        top: -15% !important;
    }
}

@include media-breakpoint-up(xl) {
    .hideFilter {
        top: -19% !important;
    }
}

@media (min-width: 1367px) {
    .hideFilter {
        top: -21% !important;
    }

    .add-chart span {
        margin-top: 15%;
    }
}

.query-stats-border {
    border-bottom: 3px solid $vdj-darkblue;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
}

.results-stats {
    text-align: center;
}

.stats {
    margin-right: 1%;
    display: inline;
    font-size: 2em;
    font-weight: 500;
    color: $vdj-darkgray;
}

.stats-badges {
    display: inline;
}

.badge-stats {
    font-weight: normal;
    font-size: 1.10em;
    padding: 1.5%;
}

.btn-download {
    float: right;
}

/* ----------------------------------------------------------
Community Charts
------------------------------------------------------------*/
#community-charts-display {
    margin: 0em 3em;
    border: 2px solid rgba(184, 192, 199, 0.38);
    border-radius: 3px;
    padding: 2em;
    background: $vdj-lightgray;

    .highcharts-container {
        background: $vdj-lightgray;
        height: 225px;
    }
}

.add-chart {
    border: 2px dashed $vdj-medgray;
    background: $vdj-medlightgray;
    margin: 0% 2%;
    transition: 0.3s;

    span {
        font-size: 2em;
        text-align: center;
        color: $vdj-darkblue;
        margin-top: 25%;
        display: block;
    }
}

.add-chart:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.chart-actions {
    margin: 2em 3em 1em 3em;
}

/* ----------------------------------------------------------
Community Charts - Add a Chart Modal
------------------------------------------------------------*/
.add-chart-module, .add-vars-module {
    background: $vdj-lightgray;
    margin-bottom: 3%;
}

.add-chart-steps {
    margin-top: 3%;
    margin-bottom: 3%;

    .chart-step, .chart-step-active {
        background: $vdj-blue;
        color: #FFFFFF;
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 1%;
    }

    .chart-step-inactive {
        background: #b2cbd7;
    }

    .chart-step-active:hover {
        background: $vdj-blue;
    }

    .chart-step:before,
    .chart-step:after{
        content:"";
        position: absolute;
        top: 4px;
        width: 27px;
        height: 27px;
        background: inherit;
        border: inherit;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0px 4px 0px 0px;
        -webkit-border-radius: 0px 4px 0px 0px;
        -moz-border-radius: 0px 4px 0px 0px;
    }
    .chart-step:before,
    .chart-step:after {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

    .chart-step:before
     {
        left: -16px;
        background: #FFFFFF;
    }
    .chart-step:after {
        right: -13px;
        z-index: 1;
    }
}

.chart-types {
    height: 100%;

    div {
        background: $vdj-darkgray;
        padding: 13%;
        border-bottom: 1px solid $vdj-medgray;
        font-size: 1.5em;
        opacity: 0.5;
        transition: 0.3s;
        color: #FFFFFF;
    }

    div:hover, div.active {
        // background: $vdj-medlightgray;
        opacity: 1;
    }
}

.chart-options {
    margin: 3%;

    div {
        border: 1px solid $vdj-medgray;
        padding: 5%;
        margin-left: 2%;
        background: #FFFFFF;
        transition: 0.3s;
    }

    div:hover {
        opacity: 0.5;
    }
}

.add-vars-module {
    // padding: 2%;

    form {
        background: $vdj-darkgray;
        color: #FFFFFF;
        width: 60%;
        height: 100%;
        padding: 3% !important;
        margin-bottom: 0%;
    }

    .edit-preview-chart {
        padding: 2%;

        div {
            background: #FFFFFF;
            padding: 2%;
            height: 100%;
        }
    }
}

.add-chart-section {
    font-size: 1.5em;
    font-weight: bold;
}

.add-chart-subsection {
    font-size: 1.25em;
    margin-right: 5%;
}

.add-vars input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid $vdj-medlightgray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #FFFFFF;
  transition: 0.3s;
  opacity: 0.5
}

.add-vars input[type="text"]:focus, {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 3px solid #FFFFFF;
  opacity: 1;
}

/* ----------------------------------------------------------
Community Results
------------------------------------------------------------*/
// #community-results::before {
//     content: "Results";
//     margin-top: 2%;
//     font-size: 1.5em;
// }

.community-badges {
    a:first-of-type {
        margin-right: 2%;
    }
}

.community-project-type {
    float: right;
    margin-top: -1.5%;
    margin-left: 1%;
    padding: 0.75%;

    .vdjserver {
        width: 10%;
        margin-right: 5%;
    }

    .genomics {
        width: 25%;
        margin-right: 5%;
        padding: 1%;
    }
}

#community-results {
    margin: 1em 4em 4em 4em;
}

.community-project {
    margin: 4% auto;
    border: 2px solid $vdj-medgray;

    .community-project-header {
        padding: 2% 2% 0% 2%;

        h2 {
            font-size: 1.5rem;
        }

        .community-badges {
            margin-bottom: 1%;
        }
    }

    .community-summary-stats {
        background: $vdj-lightgray;
        padding: 1% 0%;
        border-top: 1.5px solid $vdj-darkgray;
        border-bottom: 1.5px solid $vdj-darkgray;
        margin: 2% 0% 0% 0%;
        text-align: center;
        font-weight: bold;

        a {
            color: #000000;
        }

        a:hover {
            color: $vdj-link;
        }
    }

    a.study-desc-more, a.study-desc-collapse {
        font-weight: bold;
    }
}

/* ----------------------------------------------------------
Community Repertoires
------------------------------------------------------------*/
.community-metadata {
    margin-bottom: 1rem;

    p {
        margin-bottom: 0.15rem;
    }
}
.community-repertoires-expand {
    float: right;
    cursor: pointer;
}

#community-repertoires {
    padding: 0% 2%;
    margin-top: 3%;
}

/* ----------------------------------------------------------
Community Pagination
------------------------------------------------------------*/
.pagination {
    // float: right;
    color: $vdj-blue;
    margin-bottom: 3%;
}
