/*****************************************************
SASS for "Create a Repertoire" page
*****************************************************/
.steps {
    text-align: center;
}

li.progress-step {
    display: inline;
    list-style-type: none;

    .step {
        padding: 1%;
    }
}

.rep-back-actions {
    float: left;
}

.rep-next-actions {
    float: right;
}

// Create A Subject
#uploadSubject, #uploadDiagnosis, #uploadSample, #uploadCell, #uploadNucleic {
    width: 0.1px; // customizing file input
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#uploadSubject + label {
	cursor: pointer; // "hand" cursor
}

#addSubject-form {
    width: 70%;
}

#age.form-control {
    width: 8%;
}
