/*****************************************************
SASS for "Create a Project" page
*****************************************************/

.required {
    color: $vdj-orange;
    font-weight: bold;
}

#project-form {
    margin: 0 auto;
    width: 80%;
}

.form-group:last-child {
    padding-bottom: 1em;
}

.projectInfo, .collectorInfo {
    border-bottom: 1.5px solid rgba($vdj-green, 0.5);
    padding: 0.5em 0em;
}

h2.form-section {
    padding: 0.5em 0em;
}

#cancel-project {
    margin-right: 3%;
}

.actions {
    width: 50%;
    margin-bottom: 5%;
}

.btn-success {
    color: $text-success;
}

.btn-light {
    color: $text-light;
}

#edit-project {
    margin-right: 3%;
}
