/*****************************************************
SASS for "Create a Repertoire" page
*****************************************************/
.steps {
    text-align: center;
}

li.progress-step {
    display: inline;
    list-style-type: none;

    .step {
        padding: 1%;
    }
}

.rep-back-actions {
    float: left;
}

.rep-next-actions {
    float: right;
}
