/*****************************************************
SASS for "Create a Project" page
*****************************************************/

.required {
    color: #cc6633;
    font-weight: bold;
}

#project-form {
    margin-left: 25%;
}

.form-group:last-child {
    padding-bottom: 1em;
}

.form-section {
    border-top: 1px solid #cccccc;
    padding: 0.5em 0em;
    width: 60%;
}
