/*****************************************************
_home.scss - Home
*****************************************************/

.navbar {
    // -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.18);
    // -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.18);
    // box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.18);
    background: $vdj-orange;
}

.bg-blue {
    background: $vdj-blue;
}

.bg-green {
    background: $vdj-green;
}

a {
    color: $vdj-link;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#main {
    padding: 2%;
}

.header {
    margin: 2em;
}

.home-science-image img {
    width: 95%;
}

.home-create-account {
    font-size: 18px;
}

.home-view {
    padding-top: 0%;
    position: relative;
}

.announcement {
    background: #cc6b4c;
    text-align: center;
    padding: 0.5em;
    border-bottom: 2px solid #e1e1e1;

    a {
        color: #ffffff;
    }

    a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
    }
}

.welcome-box {
    margin-top: 5%;
    margin-left: 10%;
}

.large-info-box {
    border-top: 1px #e3e3e3 solid;
    background: #6c757d;
    color: #e1e1e1;
    padding: 2%;
    margin-top: 3%;
}

.home-card {
    padding: 6%;
    background: #f7f7f7;
}

#create-account, #home-login {
    float: right;
    margin: 2%;
}


.forgot-password {
    float: right;
    color: $vdj-link;
}


.form-control:focus {
    border-color: $vdj-yellow;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(234, 227, 134, 0.6);
}
