/*****************************************************
SASS for Project List page
*****************************************************/

.navbar-brand img {
    width: 35%;
}

button {
    margin-bottom: 3%;
}

.tabs {
    background: #689a87;
    color: #ffffff;

    a {
        color: #ffffff;
    }

    a:hover {
        text-decoration: none;
    }
}

ul.tabs-list {
    padding: 1%;

    li {
        display: inline;
        padding: 0.5%;

        li:hover {
            background: #b7cec6;
        }
    }
}

// Project List table
th.title {
    width: 20%;
}

td.desc {
    width: 40%;
}

td.created {
    width: 5%;
}
