/*****************************************************
_project-list.scss - Project List Page
*****************************************************/

.navbar-brand {
    img {
        width: 15%;
        padding-right: 0.25em;
    }

    .brand-name {
        font-weight: bold;
        //text-transform: uppercase;
    }
}

.tabs {
    background: #689a87;
    color: #ffffff;

    a {
        color: #ffffff;
    }

    a:hover {
        text-decoration: none;
    }
}

ul.tabs-list {
    padding: 1%;

    li {
        display: inline;
        padding: 0.5%;

        li:hover {
            background: #b7cec6;
        }
    }
}

.dropdown-menu {
    z-index: 99999;
}
