/*****************************************************
SASS for Project List page
*****************************************************/

#intro {
    margin: 2em;
}

.navbar-brand img {
    width: 35%;
}

button {
    margin-bottom: 5%;
}
