/********************************************
Repertoire Summary View
********************************************/
.hide {
    visibility: hidden;
}

.no-display {
    display: none;
}

.collapse-arrow {
    margin-right: 0.25em;
}

.collapse {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.show {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

#details {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    // margin-left: 5%;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.repertoire-actions {
    float: right;
}

.repertoire-details-card {
    border-radius: 0px;
}

#repertoire-summary-header, #repertoire-expand-header {
    padding-top: 2%;
}

#repertoire-summary-sample, #repertoire-exapnd-header {
    padding-bottom: 2%;
}

//  #repertoire-summary-statistics, #repertoire-expand-statistics {
//     padding-bottom: 3%;
// }

.statistics-number, .statistics-name {
    display: block;
}

#repertoire-summary-header,
#repertoire-summary-sample,
#repertoire-summary-statistics,
#repertoire-summary-subject,
#repertoire-expand-header,
#repertoire-expand-subject,
#repertoire-expand-sample,
#repertoire-expand-file,
#repertoire-expand-statistics
 {

    margin-bottom: 0 !important;

    label {
        font-weight: 500;
    }
}

.rep-form-group {
    margin-bottom: 0 !important;
}

.form-inline input {
    margin-left: 2%;
}

/*******************************************
Expanded Repertoire (Details)
*******************************************/
.rep-details-button {
    width: 100%;
    position: relative;
    text-align: left;
}

.rep-details-button[aria-expanded="false"]:after {
    content: "\f077";
    font-family: "FontAwesome";
    float: right;
}

.rep-details-button[aria-expanded="true"]:after {
    content: "\f078";
    font-family: "FontAwesome";
    float: right;
}

.age-range {
    padding-left: 5%;
    padding-right: 5%;
}

.age_unit {
    margin-left: 8.5%;
}

.age_event {
    margin-left: 8%
}

#saveEditSubject, #saveEditDiagnosis, #saveEditSample, #saveEditCell, #saveEditCell {
    float: right;
    margin-bottom: 3%;
}

#repertoire-container {
    margin-top: 3%;
    padding: 2%;
    border: 3px solid #e1e1e1;
}

.selected-repertoire {
    background: rgba(127, 168, 189, 0.1);
}

/********************************************
Edit Repertoire
********************************************/
#editSubject-form, #editSample-form, #editDiagnosis-form, #editCell-form, #editNucleic-form {
    text-align: left;

    > div {
        margin-bottom: 1%;
    }
}
