/*****************************************************
Single Project Page
*****************************************************/
#project {
    padding: 0% 5%;
}

.jumbotron {
    padding: 2rem 2rem;
}

#project-summary {
    margin-top: 2%;

    h1 {
        margin-bottom: 2%;
    }
}

#project-detail {
    margin-top: 5%;
}

.project-metadata {
    margin-bottom: 3%;
    float: right;
}

#summary-buttons {
    margin-bottom: 2%;
}

.details {
    font-weight: bold;
}

.card {
    margin: 1%;
}

.card-active {
    background: $vdj-lightgray;
}

.card-link:hover {
        background: $vdj-lightgray;
        cursor: pointer;
}

.card-body {
    text-align: center;
}

.overview-summary {
    border-right: 1px solid rgba(225, 225, 225, 0.45);
    padding-right: 5%;
}

.overview-details {
    padding-left: 5%;
    font-size: 1.05em;
}

#edit-project {
    margin-right: 2%;
}

/********************************************
Repertoire Summary View
********************************************/
.hide {
    visibility: hidden;
}

.no-display {
    display: none;
}

.collapse {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.show {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

#details {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    // margin-left: 5%;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

/********************************************
Progress Steps
********************************************/
.selected-step {
    background: rgba(255, 255, 255, 0.4);
    padding: 2%;
}

/*******************************************
Delete a Project
*******************************************/
.delete-warning {
    color: $vdj-orange;
}

/*******************************************
User Management
*******************************************/
.user-row:hover {
    background: $vdj-lightgray;
    cursor: pointer;
}

.subtitle {
    font-size: 0.85em;
    color: $vdj-darkgray;
    font-weight: 500;
}

.btn-create {
    color: #FFFFFF !important;
}
