/*****************************************************
SASS for Single Project page
*****************************************************/
#project {
    padding: 0% 5%;
}

.jumbotron {
    padding: 2rem 2rem;
}

#summary {
    margin-bottom: 2%;
}

.details {
    font-weight: bold;
}

#project-overview {
    border-left: 1px solid rgba(225, 225, 225, 0.45);
    padding-left: 5%;
}

.card {
    margin: 1%;
}

.card-active {
    background: $vdj-lightgray;
}


.card-link:hover {
        background: $vdj-lightgray;
        cursor: pointer;
}

.card-body {
    text-align: center;
}

.sidebar-content {
    margin-top: 2%;
}

.hide {
    visibility: hidden;
}

.no-display {
    display: none;
}
