<!--
- AirrKB Charts View
-->

<!-- How to handle dynamically adding/removing charts? -->
    <!-- General Information about the charts here -->
<div class="row airrkb-welcome-banner">
    <div class="col-md-1">
        <img src="./dist/images/AKC_prime.png" height="90px" alt="AIRR Knowledge Commons">
    </div>
    <div class="col-md-10">
        <h2><p class="text-center">Welcome to AIRR Knowledge!</p></h2>
        <h3><p class="text-center">VDJServer's interface to the AIRR Knowledge Commons</p></h3>
    </div>
    <div class="col-md-1">
        <img src="./dist/images/AKC_logo_color_2.png" height="90px" alt="AIRR Knowledge Commons">
    </div>
</div>

<div class="row airrkb-charts-display">
    <!-- <div id="chart-1-region" class="col-md-4"></div> -->
    <div id="chart-region" class="col-md-12 mainView"></div>
</div>

<div class="row" id="airrkb-charts-table-display">
    <div id="chart-table-region" class="col"></div>
</div>

<!-- playing around with image cache and cytoscape view
<div class="row" id="community-charts-display">
    <div id="chart-2-region" class="col-md-6">
        <img src="/image_cache/17901e36-ad1a-4ef9-864c-7daed18aaca8.png" alt="Add a Chart" width="600" height="600">
    </div>
    <div id="chart-4-region" class="col-md-6">
        <img src="/image_cache/c0c74878-3ce0-4f1d-a896-91af28c20f3b.png" alt="Add a Chart" width="600" height="600">
    </div>
</div>
<div class="row" id="community-charts-display">
    <div id="cy2" class="col inline-chart"></div>
</div>
<div class="row" id="community-charts-display">
    <div id="cy3" class="col"></div>
    <div id="chart-6-region" class="col add-chart">
        <span>Add a Chart <i class="fas fa-plus"></i></span>
    </div>
</div>

<div class="row" id="community-charts-display">
    <div class="col inline-chart">
        <div id="chart-5-region"></div>
    </div>
</div>
-->
