<form method="post" class="form-horizontal" id="igblast-form" role="form">
    <div class="modal-body">
        <div class="form-group">
            <div class="col-lg-5 col-lg-offset-2">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <strong>IgBlast Options</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row row-with-spacer">
                            <div class="col-md-offset-1 col-md-10">
                                <div id="igblast-species-group" class="form-group">
                                    <label class="control-label">Organism</label>
                                    <select id="igblast-species" class="form-control igblast-form" name="species">
                                        <option value="">Select an Organism</option>
                                        <option value="human">Human</option>
                                        <option value="mouse">Mouse</option>
                                    </select>
                                </div>
                            </div>
                        </div>

        {{!--
                        <div class="row row-with-spacer">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Germline Database</label>
                                    <input class="form-control" name="" value="F+ORF+in-frame P" readonly>
                                </div>
                            </div>
                        </div>
        --}}

                        <div class="row row-with-spacer">
                            <div class="col-md-offset-1 col-md-10">
                                <div id="igblast-sequence-group" class="form-group">
                                    <label class="control-label">Sequence Type</label>
                                    <select class="form-control" name="sequence-type" id="sequence-type">
                                        <option value="">Select a Sequence Type</option>
                                        <option value="Ig">Ig</option>
                                        <option value="TCR">TCR</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row row-with-spacer">
                            <div class="col-md-offset-1 col-md-10">
                                <div id="igblast-domain-group" class="form-group">
                                    <label class="control-label">V Domain Delineation System</label>
                                    <select class="form-control" name="domain-system" id="domain-system">
                                        <option value="">Select a Domain System</option>
                                        <option value="imgt">IMGT</option>
                                        <option value="kabat">Kabat</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
