<div class="modal fade" id="job-modal" tabindex="-1" role="dialog" aria-labelledby="job-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="job-modal-label">Job Submission</h4>
            </div>
            <form method="post" class="form-horizontal" id="job-form" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="jobName" class="control-label col-lg-2">Job Name</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="job-name" name="job-name" placeholder="Job Name" value="{{generatedJobName}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="appName" class="control-label col-lg-2">Application</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="app-name" name="app-name" placeholder="App Name" value="{{appName}} {{appId}}" readonly>
                        </div>
                    </div>

                    <hr>

                    <div id="job-selection-subview"></div>

                </div>
            </form>

            <hr>

            <div id="job-staging-subview"></div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4">
                        <div id="job-submit-loading-view" class="text-center"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button
                        class="btn btn-default job-submit-button"
                        type="button"
                        data-dismiss="modal"
                    >
                        Cancel
                    </button>

                    <input
                        id="submit-job"
                        class="btn btn-success job-submit-button"
                        type="button"
                        value="Launch Job"
                    >

                    <button
                        id="job-submit-exit"
                        class="btn btn-default hidden"
                        type="button"
                        data-dismiss="modal"
                    >
                        Exit
                    </button>

                    <input type="button"
                        id="job-submit-status"
                        class="btn btn-info  hidden"
                        value="Show Job Status"
                        data-dismiss="modal"
                    />
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
