<div class="modal fade" id="archive-modal" tabindex="-1" role="dialog" aria-labelledby="job-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="job-modal-label">Archive Job</h4>
            </div>
            <form method="post" class="form-horizontal" id="job-form" role="form">
                <div class="modal-body">

                    <div class="form-group">
                      <label for="job-name" class="col-md-2 control-label">Job Name:</label>
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="job-name" placeholder="" readonly value="{{job.displayName}}">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="job-id" class="col-md-2 control-label">VDJServer UUID:</label>
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="job-id" readonly value="{{job.id}}">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="alert alert-danger col-md-10 col-md-offset-1">
                          Archived job data is not deleted, but it is no longer visible within View Analyses and Results.
                          Archived jobs can be made visible by turning on the setting within Project Settings, and job data can be made accessible again by unarchiving the job.
                      </div>
                    </div>

                </div>
            </form>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4">
                        <div id="archive-processing-view" class="text-center"></div>
                    </div>
                </div>

                <div class="text-center">
                    <button
                        class="btn btn-default archive-submit-button"
                        type="button"
                        data-dismiss="modal"
                    >
                        Cancel
                    </button>

                    <input
                        id="submit-archive"
                        class="btn btn-success archive-submit-button"
                        type="button"
                        value="Archive"
                    >

                    <button
                        id="archive-exit"
                        class="btn btn-success hidden"
                        type="button"
                        data-dismiss="modal"
                    >
                        Exit
                    </button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
