<div class="form-group" id="input-file-list">
    <label for="fileList" class="control-label col-lg-2">Selected Files</label>
    <div class="col-lg-3">
        {{#each selectedFileListings}}
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{this.value.name}}" disabled>
                        <span class="input-group-addon remove-file-from-job" id="{{this.uuid}}">&times;</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="col-lg-7 help-block">
        <div class="row">
            <div class="col-sm-12">
                * At least one read level file must be included.
            </div>
        </div>
        <div class="row row-with-spacer">
            <div class="col-sm-12">
                * Fasta files must be linked to qual files using the "Link .fasta/.qual Files" section.
            </div>
        </div>
        <div class="row row-with-spacer">
            <div class="col-sm-12">
                * Paired files must be linked using the "Link Paired Read Files" section.
            </div>
        </div>
    </div>
</div>
