.alert-info {
    @extend .alert;
    @extend .alert-info;
}

.alert-danger {
    @extend .alert;
    @extend .alert-danger;
}

.alert-floating {
  margin-top: 20px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.alert-primary {
    @extend .alert-info;

    background: #345B75; //$brand-primary;
    color: #ffffff;
}

.alert-vdj-red {                                                              
    @extend .alert-info;                                                      
                                                                              
    background: $projectNavbarButtonColor;                                    
    color: #ffffff;                                                           
}
