.badge-success {
    @extend .badge;

    background-color: $success;
}

.badge-warning {
    @extend .badge;

    background-color: $warning;
}

.badge-danger {
    @extend .badge;

    background-color: $danger;
}
