.form-text-align {
    padding: 6px 12px;
    display: block;
}

.checkbox-horizontal {
    @extend .form-control-static;

    display: inline-block;
    max-width: 100%;
}

.remove-job-parameter {

    font-size: 20px;
}
