.public-view {
    padding-top: $publicNavbarHeight + 20px;
}

.content {
    z-index: 0;
    padding: 20px 10px 0 30px;

    @media (max-width: $grid-float-breakpoint) {
        padding: 20px 0 0 0;
    }
}
