.navbar {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-fixed-top;
    background-color: rgba(#ffffff, 0.5);
    display: block;
    height: $publicNavbarHeight;
    z-index: 2;

}

.navbar-content {
    @extend .container;
}

.navbar-header {
    @extend .navbar-header;
}

.navbar-three-bar-control {
    @extend .navbar-toggle;
}

.navbar-nav {
   margin: 10px auto;

}

.navbar-blur {
   @extend .navbar;
   @extend .navbar-fixed-top;
   @extend .navbar-inverse;
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
   z-index: -1;
}
.navbar-vdj-logo {
    @extend .navbar-brand;
    padding: 0px;
}

.navbar-vdj-logo > img{
    width: 125px;
}

.navbar-items {
    @extend .navbar-collapse;
    @extend .collapse;
}
