    <div class="row admin-table-header align-items-center">
        <div class="col-md-8"><b>
            {{value.study_title}}
        </b></div>
        <div class="col-md-4 admin-buttons-right">
          {{#unless loaded_mode}}
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-save" id="load-repo" {{#if loaded_mode}}hidden{{/if}}>Load</button>
            </div>
          {{/unless}}
          {{#if loaded_mode}}
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-save" id="unload-repo">Unload</button>
            </div>
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-save" id="reload-repo">Reload</button>
            </div>
          {{/if}}
        </div>
    </div>

    <div class="row admin-table-row">
        <div class="col-md-4"><b>
        Collection: {{value.collection}}
        </b></div>
        <div class="col-md-2"><b>
        Should Load: {{value.shouldLoad}}
        </b></div>
        <div class="col-md-2"><b>
        Status: {{value.isLoaded}}
        </b></div>
        <div class="col-md-2"><b>
        Repertoire: {{value.repertoireMetadataLoaded}}
        </b></div>
        <div class="col-md-2"><b>
        Rearrangement: {{value.rearrangementDataLoaded}}
        </b></div>
    </div>

