<div class="row general-button-bar">
    <div class="col">
        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-analyses-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="name">
                    {{#ifEquals current_sort "name"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Name
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="newest">
                    {{#ifEquals current_sort "newest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Newest
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="oldest">
                    {{#ifEquals current_sort "oldest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Oldest
                </button>
                <button class="dropdown-item" type="button" id="project-analyses-sort-select" name="size">
                    {{#ifEquals current_sort "size"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Size
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled" type="button">
                    Add Custom Sort...
                </button>
              </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="btn-group" role="group" aria-label="Button group">
            <div class="form-input-label">
                <label for="admin-repository-query-collection">Query: </label>
                <input type="text" class="form-control" id="admin-repository-query-collection" value="{{query_db}}" readonly>
            </div>

            <div class="form-input-label">
                <label for="admin-repository-load-collection">Load: </label>
                <input type="text" class="form-control" id="admin-repository-load-collection" value="{{load_db}}" readonly>
            </div>
        </div>
    </div>


    <div class="col general-buttons-right">
        {{#if enableVDJ_mode}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save general-buttons-margin-left" id="admin-enable-adc">Enable ADC Repository</button>
        </div>
        {{/if}}
        {{#unless enableVDJ_mode}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-delete general-buttons-margin-left" id="admin-disable-adc">Disable ADC Repository</button>
        </div>
        {{/unless}}
    </div>
  </div>
</div>