<div class="row general-table-row general-border-top">
  <div class="col">
    <div class="row align-items-center">
        <div class="col-md-9"><b>
            {{value.study_title}}{{#unless inACollection}}<i> (Recently Published)</i>{{/unless}}
        </b></div>
        <div class="col-md-3 general-buttons-right">
          {{#unless loaded_mode}}
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-save" id="admin-load-repo" {{#if loaded_mode}}hidden{{/if}}>Load</button>
            </div>
          {{/unless}}
          {{#if loaded_mode}}
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-delete" id="admin-unload-repo">Unload</button>
            </div>
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="button" class="btn btn-add general-buttons-margin-left" id="admin-reload-repo">Reload</button>
            </div>
          {{/if}}
        </div>
    </div>
  {{#if show_0}}
    <div class="row general-table-internal-row align-items-center">
        <div class="col-md-2"><b>
        Collection: </b>{{collection_0}}
        </b></div>
        <div class="col-md-3"><b>
    {{#if enable_0}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save" id="admin-enableLoad_0_mode">Enable</button>
            </b>&nbsp&nbspLoad is Disabled<b>
        </div>
    {{/if}}
    {{#unless enable_0}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-delete" id="admin-disableLoad_0_mode">Disable</button>
            </b>&nbsp&nbspLoad is Enabled
        </div>
    {{/unless}}
        </b></div>
        <div class="col-md-2"><b>
        Status: </b>{{isLoaded_0}}
        </b></div>
        <div class="col-md-2"><b>
        Repertoire: </b>{{repertoireMetadataLoaded_0}}
        </b></div>
        <div class="col-md-2"><b>
        Rearrangement: </b>{{rearrangementDataLoaded_0}}
        </b></div>
    </div>
  {{/if}}
  {{#if show_1}}
    <div class="row general-table-internal-row align-items-center">
        <div class="col-md-2"><b>
        Collection: </b>{{collection_1}}
        </b></div>
        <div class="col-md-3"><b>
    {{#if enable_1}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save" id="admin-enableLoad_1_mode">Enable</button>
            </b>&nbsp&nbspLoad is Disabled<b>
        </div>
    {{/if}}
    {{#unless enable_1}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-delete" id="admin-disableLoad_1_mode">Disable</button>
            </b>&nbsp&nbspLoad is Enabled<b>
        </div>
    {{/unless}}
        </b></div>
        <div class="col-md-2"><b>
        Status: </b>{{isLoaded_1}}
        </b></div>
        <div class="col-md-2"><b>
        Repertoire: </b>{{repertoireMetadataLoaded_1}}
        </b></div>
        <div class="col-md-2"><b>
        Rearrangement: </b>{{rearrangementDataLoaded_1}}
        </b></div>
    </div>
  {{/if}}
</div>
</div>
