            <h1>{{value.study_title}}</h1>
            <div class="row summary-buttons justify-content-md-center">
                {{#each card_tabs}}
                <div class="card col-md-2 card-link {{#if this.active}}card-active{{/if}}" id="{{this.card_id}}">
                  <div class="card-body nav-link">
                    <h5 class="card-title"><i class="fa fa-flask fa-2x"></i><br />{{{this.text}}}</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
                {{/each}}
