<div class="row general-button-bar">
    <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="admin-projects-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="admin-files-sort-select" name="name">
                    {{#ifEquals current_sort "name"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Name
                </button>
                <button class="dropdown-item" type="button" id="admin-files-sort-select" name="newest">
                    {{#ifEquals current_sort "newest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Newest
                </button>
                <button class="dropdown-item" type="button" id="admin-files-sort-select" name="oldest">
                    {{#ifEquals current_sort "oldest"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Oldest
                </button>
                <button class="dropdown-item" type="button" id="admin-files-sort-select" name="size">
                    {{#ifEquals current_sort "size"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    File Size
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item disabled" type="button">
                    Add Custom Sort...
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-edit" id="admin-refresh">Refresh</button>
        </div>
    </div>

    <div class="col-md-8 general-buttons-right">
    {{#if enableVDJ_mode}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save general-buttons-margin-left" id="admin-enableVDJ">Enable VDJServer Repository</button>
        </div>
    {{/if}}
    {{#unless enableVDJ_mode}}
        <div class="btn-group align-items-center" role="group" aria-label="Button group">
            <button type="button" class="btn btn-delete general-buttons-margin-left" id="admin-disableVDJ">Disable VDJServer Repository</button>
        </div>
    {{/unless}}
    </div>
</div>
