<!--
- Admin Repository Stats View
-->

<div class="row admin-repository-statistics">
    <div class="col">
    <div class="col-md-6 ml-auto results-stats">
        <div class="stats-badges">
            <span class="badge badge-pill badge-stats" id="stats-studies">
                {{num_studies}} Studies
            </span>

            <span class="badge badge-pill badge-stats" id="stats-reps">
                {{num_reps}} Repertoires
            </span>

            <span class="badge badge-pill badge-stats" id="stats-reps">
                {{num_rearrangements}} Rearrangements
            </span>

            <span class="badge badge-pill badge-stats" id="stats-adc">
                {{num_repos}} ADC Repositories
            </span>
        </div>
    </div>
</div>

<!-- <div class="toolbar2-footer">
</div> -->
