    <div class="row">
        <div class="col">
        Project Title
        </div>
        <div class="col">
        <button type="button" class="btn btn-new" id="load-study">Load</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
        collection: {{value.collection}}
        </div>
        <div class="col">
        should load: {{value.shouldLoad}}
        </div>
        <div class="col">
        status: {{value.isLoaded}}
        </div>
        <div class="col">
        repertoire: {{value.repertoireMetadataLoaded}}
        </div>
        <div class="col">
        rearrangement: {{value.rearrangementDataLoaded}}
        </div>

    </div>
