<!--
- Subview for the repertoire expanded view with subject info
- Multi-line with subject id, sex, age, ...
- TODO: How to show the Diagnoses?
-->

<!-- <p>Subject/Diagnosis Edit Mode: {{edit_mode}}</p> -->
<div id="project-subjects-detail" class="project-subject-detail">
    <div class="row general-table-row general-border-top">
        <div class="col-md-10">
        <form method="post" role="form" id="project-subject-form" class="project-subject-form needs-validation" name="subject" novalidate>
            <div class="form-row project-subject-row">
                <div class="form-group col-md-3">
                    <label for="subject_id">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "subject_id"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "subject_id"}}}
                        Subject ID:
                    </label>
                    <input type="text" class="form-control" name="subject_id" id="subject_id" value="{{value.subject_id}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid Subject ID.
                    </div>
                </div>
<button type="button" data-toggle="popover" data-trigger="click" data-html='true' data-container="body" title="Popover <b>title</b>" data-content="Hello. <b>bold</b>.">Click</button>

                <div class="form-group col-md-2">
                    <label for="synthetic">
                        <span>
                            <!-- Tooltip-->
                        {{{FieldStar "Subject" "synthetic"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "synthetic"}}}
                        Synthetic:
                    </label>

                    <select class="custom-select" id="synthetic" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="species">
                        <span>
                            <!-- Tooltip-->
                        {{{FieldStar "Subject" "species"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "species"}}}
                        Species:
                    </label>

                    <select class="custom-select" id="species" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="1">Human</option>
                      <option value="2">Monkey</option>
                      <option value="3">Mouse</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="strain_name">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "strain_name"}}}
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "strain_name"}}}
                        </span>
                        Strain:
                    </label>
                    <select class="custom-select" id="strain_name" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="3">Not provided</option>
                      <option value="1">BALB/c</option>
                      <option value="2">C57BL/6</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="sex">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "sex"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "sex"}}}
                        Sex:
                    </label>

                    <select class="custom-select" id="sex" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="1">Female</option>
                      <option value="2">Male</option>
                    </select>
                </div>

            </div>

            <div class="form-row project-subject-row">
                <div class="form-group col-md-2">
                    <label for="age">
                        <span>
                            <!-- Tooltip-->
                        {{{FieldStar "Subject" "age"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "age"}}}
                        Age Type:
                    </label>

                    <select class="custom-select" id="age" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="point">Point</option>
                      <option value="range">Range</option>
                    </select>
                </div>

                <div class="form-group col-md-1">
                    <label for="age_min">
                        <span>
                            <!-- Tooltip-->
                        {{{FieldStar "Subject" "age_min"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "age_min"}}}
                        Min:
                    </label>

                    <input type="text" class="form-control" name="age_min" id="age_min" value="{{value.age_min}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid minimum age.
                    </div>
                </div>

                <div class="form-group col-md-1">
                    <label for="age_max">
                        <span>
                            <!-- Tooltip-->
                        {{{FieldStar "Subject" "age_max"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "age_max"}}}
                        Max:
                    </label>

                    <input type="text" class="form-control" name="age_max" id="age_max" value="{{value.age_max}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid maximum age.
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label for="age_unit">
                        <span>
                            <!-- Tooltip-->
                        {{{FieldStar "Subject" "age_unit"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "age_unit"}}}
                        Unit:
                    </label>

                    <select class="custom-select" id="age_unit" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="point">day(s)</option>
                      <option value="range">week(s)</option>
                      <option value="range">month(s)</option>
                      <option value="range">year(s)</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="age_event">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "age_event"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "age_event"}}}
                        Age Event:
                    </label>
                    <input type="text" class="form-control" name="age_event" id="age_event" placeholder="" value="{{value.age_event}}" required {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>
                    <div class="invalid-feedback">
                        Please enter a valid age event.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="race">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "race"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "race"}}}
                        Race:
                    </label>

                    <select class="custom-select" id="race" required {{#ifEquals view_mode "detail"}}disabled{{/ifEquals}}>
                      <option value="1">Not provided</option>
                      <option value="2">White</option>
                      <option value="2">Black</option>
                    </select>
                </div>

            </div>

            <div class="form-row project-subject-row">
                <div class="form-group col-md-3">
                    <label for="ancestry_population">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "ancestry_population"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "ancestry_population"}}}
                        Ancestry Population:
                    </label>
                    <input type="text" class="form-control" name="ancestry_population" id="ancestry_population" placeholder="" value="{{value.ancestry_population}}" required {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>
                    <div class="invalid-feedback">
                        Please enter a valid Ancestry Population.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="ethnicity">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "ethnicity"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "ethnicity"}}}
                        Ethnicity:
                    </label>
                    <input type="text" class="form-control" name="ethnicity" id="ethnicity" placeholder="" value="{{value.ethnicity}}" required {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>
                    <div class="invalid-feedback">
                        Please enter a valid Ethnicity.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="linked_subjects">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "linked_subjects"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "linked_subjects"}}}
                        Linked Subject:
                    </label>
                    <input type="text" class="form-control" name="linked_subjects" id="linked_subjects" placeholder="" value="{{value.linked_subjects}}" required {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>
                    <div class="invalid-feedback">
                        Please enter a valid Linked Subjects.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="link_type">
                        <span>
                            <!-- Tooltip -->
                        {{{FieldStar "Subject" "link_type"}}}
                        </span>
                        <!-- Popover -->
                        {{{FieldHelpPopover "Subject" "link_type"}}}
                        Link Type:
                    </label>
                    <input type="text" class="form-control" name="link_type" id="link_type" placeholder="" value="{{value.link_type}}" required {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>
                    <div class="invalid-feedback">
                        Please enter valid a Link Type.
                    </div>
                </div>
            </div>
        </form>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col project-buttons-right project-buttons-margin-bottom">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-edit" name="{{uuid}}" id="project-subject-edit" {{#ifEquals view_mode "edit"}}disabled{{/ifEquals}}>Edit</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col project-buttons-right project-buttons-margin-bottom">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-apply" name="{{uuid}}" id="project-subject-apply">
                            Apply Template
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col project-buttons-right project-buttons-margin-bottom">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-delete" name="{{uuid}}" id="project-subject-delete">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row general-table-row align-items-center">
        <div class="col-md-10">
        <form method="post" role="form" id="project-subject-form" class="project-subject-form needs-validation" name="subject" novalidate>
            <div class="form-row project-subject-row">
                <div class="form-group col-md-2">
                    <label>
                        <i class="far fa-diagnoses"></i> Diagnosis Entry 1:
                    </label>
                </div>

                <div class="form-group col-md-4">
                    <label for="disease_diagnosis">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Disease Diagnosis:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="disease_diagnosis" id="disease_diagnosis" value="{{value.diagnosis.0.disease_diagnosis.label}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid disease diagnosis.
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label for="disease_length">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Disease Length:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="disease_length" id="disease_length" value="{{value.diagnosis.0.disease_length}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid disease length.
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="disease_stage">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Disease Stage:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="disease_stage" id="disease_stage" value="{{value.diagnosis.0.disease_stage}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid disease stage.
                    </div>
                </div>
            </div>

            <div class="form-row project-subject-row">
                <div class="form-group col-md-3">
                    <label for="study_group_description">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Study Group Description:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="study_group_description" id="study_group_description" value="{{value.diagnosis.0.study_group_description}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid study group description.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="prior_therapies">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Prior Therapies:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="prior_therapies" id="prior_therapies" value="{{value.diagnosis.0.prior_therapies}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid prior therapies.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="immunogen">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Immunogen:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="immunogen" id="immunogen" value="{{value.diagnosis.0.immunogen}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid immunogen.
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="intervention">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Intervention:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="intervention" id="intervention" value="{{value.diagnosis.0.intervention}}" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid intervention.
                    </div>
                </div>
            </div>

            <div class="form-row project-subject-row">
                <div class="form-group col-md-12">
                    <label for="medical_history">
                        <span>
                            <!-- Tooltip -->
                        </span>
                        Medical History:
                        <!-- Popover -->
                    </label>
                    <input type="text" class="form-control" name="medical_history" id="medical_history" {{#ifEquals view_mode "detail"}}readonly{{/ifEquals}}>

                    <div class="invalid-feedback">
                        Please enter a valid medical history.
                    </div>
                </div>
            </div>


        </form>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col project-buttons-right project-buttons-margin-bottom">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-create" name="{{uuid}}" id="project-add-diagnosis"><i class="fa fa-plus"></i> Add Diagnosis</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col project-buttons-right project-buttons-margin-bottom">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <button type="button" class="btn btn-delete" name="{{uuid}}" id="project-subject-delete">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

