<div class="row general-button-bar">
    <div class="col-md-7">
        <div class="btn-group " role="group" aria-label="Button group">
            <button type="button" class="btn btn-primary general-buttons-margin-right" id="project-subjects-details-summary">
                {{#if detailsMode}}Summary{{/if}}
                {{#unless detailsMode}}Details{{/unless}}
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-subjects-sort-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-subjects-sort-select" name="subjectid">
                    {{#ifEquals current_sort "subjectid"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Subject ID
                </button>
                <button class="dropdown-item" type="button" id="project-subjects-sort-select" name="sex">
                    {{#ifEquals current_sort "sex"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Sex
                </button>
                <button class="dropdown-item" type="button" id="project-subjects-sort-select" name="age">
                    {{#ifEquals current_sort "age"}}<span class="fas fa-check"></span>{{/ifEquals}}
                    Age
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle general-buttons-margin-right" type="button" id="project-subjects-upload" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Import/Export
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" id="project-subjects-import" name="name">
                    Import Subject Table
                </button>
                <button class="dropdown-item" type="button" id="project-subjects-export" name="newest">
                    Export Subject Table
                </button>
              </div>
            </div>
        </div>

        <div class="btn-group " role="group" aria-label="Button group">
            <button type="button" class="btn btn-create general-buttons-margin-right" id="project-subjects-new-subject">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbspAdd Subject
            </button>
        </div>

    </div>

    <div class="col-md-5 general-buttons-right">
        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-cancel general-buttons-margin-left" id="project-subjects-revert-changes" {{#unless has_edits}}disabled{{/unless}}>Revert Changes</button>
        </div>

        <div class="btn-group" role="group" aria-label="Button group">
            <button type="button" class="btn btn-save general-buttons-margin-left" id="project-subjects-save-changes" {{#unless has_edits}}disabled{{/unless}}>Validate/Save Changes</button>
        </div>
    </div>
</div>
