<div id="project-subjects-summary" class="row general-table-row general-border-top align-items-center">
    <div class="col">

        <div class="row align-items-center">
            <div class="col-md-2">
                <b>Subject ID:</b> {{value.subject_id}}
            </div>
            <div class="col-md-2">
                <b>Sex/Species:</b> {{value.sex}}/{{species_display}}
            </div>
            <div class="col-md-2">
                <b>Race/Ethnicity:</b> {{value.race}} {{value.ethnicity}}
            </div>
            <div class="col-md-1">
                <b>Age:</b> {{age_display}}
            </div>
            <div class="col-md-5 general-buttons-right">
                <div class="btn-group" role="group" aria-label="Button group">
                    <button type="button" class="btn btn-edit" name="{{uuid}}" id="project-subject-edit">Edit</button>
                </div>
                <div class="btn-group" role="group" aria-label="Button group">
                    <button type="button" class="btn btn-create general-buttons-margin-left project-subjects-add-diagnosis" name="{{uuid}}" id="project-subjects-add-diagnosis">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Diagnosis
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Button group">
                    <button type="button" class="btn btn-delete general-buttons-margin-left project-subjects-delete-subject" name="{{uuid}}" id="project-subject-delete">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </div>
            </div>
        </div>

        {{#each value.diagnosis}}
        <div id="project-subjects-summary" class="row general-table-internal-row align-items-center">
            <div class="col-md-7">
                <div class="btn-group" role="group" aria-label="Button group">
                    <div class="dropdown">
                        <button class="btn btn-create btn-sm dropdown-toggle general-buttons-margin-right" type="button" id="project-subjects-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-diagnoses" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item project-subjects-duplicate-diagnosis" type="button" id="project-subjects-duplicate-diagnosis_{{@index}}" name="duplicate">
                                <i class="fa fa-copy" style="color:#4E95B8"></i> Duplicate Diagnosis
                            </button>
                        <div class="dropdown-divider" width="10%"></div>
                            <button class="dropdown-item project-subjects-delete-diagnosis" type="button" id="project-subjects-delete-diagnosis_{{@index}}" name="delete">
                                <i class="fa fa-trash" style="color:#D93C39"></i> Delete Diagnosis
                            </button>
                        </div>
                    </div>
                </div>
                <b>Study Group Description:</b> {{this.study_group_description}}
            </div>
            <div class="col-md-5">
                <b>Disease Diagnosis:</b> {{this.disease_diagnosis.label}} ({{this.disease_diagnosis.id}})
            </div>
        </div>
        {{/each}}

    </div>
</div>
