<div class="project-subjects-list">
    <div class="row project-subject-header">
        <div class="col" id="subject_accordion">
                    <h1 class="mb-0">
                        <button class="btn btn-link" id="project-subjects-header-button">
                          <span class="details-title"><h1>{{num_subjects}} Subjects</h1></span>
                        </button>
                      </h1>
        </div>
    </div>

    <div id="project-subjects"></div>
</div>

    <div id="project-samples"></div>
