<div class="welcome-box">
    <form class="signup">
        <h2>Welcome!</h2>
        <p>
            VDJServer is a free, scalable resource for performing immune repertoire analysis and sharing data. Our analysis software is open source and available for download and local use.
        </p>
    
        <input type="text" placeholder="USERNAME" name="username">
    
        <input type="password" placeholder="PASSWORD" name="password"> 
        
        <input type="submit" value="Log In" class="button-primary welcome-box-btn">
        <!-- <button type="button" class="btn btn-primary welcome-box-btn">Default</button> -->
      
        <p class="account lost-password">
            <a href="/account">Create Account</a> <a href="">[Having Problems?]</a>
        </p>
    </form>
</div>

<section class="middle-boxes">
    <div class="boxes-action boxes">
        <h2>Upload</h2>
        <p>
            <img src="../images/Upload.png" />
        </p>
    
        <p>
            Make your data accessible and secure by leveraging our mirrored, high performance datastore
        </p>
    </div>

    <div class="boxes-action boxes">
        <h2>Analyze</h2>
        <p>
            <img src="../images/Analyze.png" />
        </p>
        <p>
            Use the latest software running on powerful supercomputers to crunch data at any scale
        </p>
    </div>

    <div class="boxes-action boxes">
        <h2>Publish</h2>
        <p>
            <img src="../images/Publish.png" />
        </p>
        <p>
            Create permanent URLs to your data and analysis results to support journal publications
        </p>
    </div>

    <div class="boxes-action boxes">
        <h2>Share</h2>
        <p>
            <img src="../images/Share.png" />
        </p>
        <p>
            Collaborate privately with individuals or contribute your data publicly to the scientific community
        </p>
    </div>

</section>

<section class="bottom uploads">
    <div class="community">
        <h2>Community Information</h2>
    </div>

    <div class="left">
        <p>
            Good morning, oh in case i don't see you, good afternoon, good evening and goodnight. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. we're going for a ride on the information super highway. hey, maybe i will give you a call sometime. your number still 911? look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. excuse me, i'd like to ass you a few questions. it's because i'm green isn't it! look ma i'm road kill brain freeze. alrighty then kinda hot in these rhinos.<br /><br /> Same of similar info found on github main page.
        </p>
    </div>

    <div class="right"> 
         <h4>Uploads Per Day</h4>
        <p><img src="../images/updates-graph.png"></p>
    </div>
</section>
