<div class="container home-view">
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <div class="home-science-image">
                <img src="../images/illustration-final.png">
            </div>
        </div>

        <div class="col-md-4">
            <div class="welcome-box">
                <form class="signup form-horizontal">
                    <h2>Welcome!</h2>
                    <p>
                        VDJServer is a free, scalable resource for performing immune repertoire analysis and sharing data. Our analysis software is open source and available for download and local use.
                    </p>

                    <div class="form-group">
                        <input autofocus class="form-control" type="text" placeholder="USERNAME" name="username" id="username">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="PASSWORD" name="password" id="password">
                    </div>

                    <div class="row">
                        <div class="col-md-6 login-button-column">
                            <input type="submit" value="LOGIN" id="home-login" class="login-button">
                        </div>
                        <div class="col-md-6 login-button-column text-center">
                            <a class="forgot-password-button" href="password-reset">Forgot password?</a>
                        </div>
                        <div class="col-md-12 text-center">
                            <p><a class="home-create-account" href="/account">Create Account</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="home-boxes">
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Upload</h2>
                    <p>
                        <img src="../images/Upload.png" />
                    </p>

                    <p>
                        Make your data accessible and secure by leveraging our mirrored, high performance datastore
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Analyze</h2>
                    <p>
                        <img src="../images/Analyze.png" />
                    </p>
                    <p>
                        Use the latest software running on powerful supercomputers to crunch data at any scale
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Publish</h2>
                    <p>
                        <img src="../images/Publish.png" />
                    </p>
                    <p>
                        Create permanent URLs to your data and analysis results to support journal publications
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxes-action">
                    <h2>Share</h2>
                    <p>
                        <img src="../images/Share.png" />
                    </p>
                    <p>
                        Collaborate privately with individuals or contribute your data publicly to the scientific community
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="large-info-box uploads">
                <div class="community">
                    <h2>Community Information</h2>
                </div>

                <div class="left">
                    <p>
                        Good morning, oh in case i don't see you, good afternoon, good evening and goodnight. we got no food we got no money and our pets heads are falling off! haaaaaaarry. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter. we're going for a ride on the information super highway. hey, maybe i will give you a call sometime. your number still 911? look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. excuse me, i'd like to ass you a few questions. it's because i'm green isn't it! look ma i'm road kill brain freeze. alrighty then kinda hot in these rhinos.<br /><br /> Same of similar info found on github main page.
                    </p>
                </div>

                <div class="right">
                     <h4>Uploads Per Day</h4>
                    <p><img src="../images/updates-graph.png"></p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
           <div class="large-info-box uploads">
              <div class="community">
                 <h2>News & Announcements</h2>
              </div>

                <div class="left">
                   <h4> 5.5.14 - VDJServer Beta is Live!</h4>
                    <p>
The VDJ Server project is happy to announce its beta release at the IMMUNOLOGY 2014™ AAI Annual Meeting, May 2-6, in Pittsburgh.   Create projects, upload files within projects, and work together with other colleages. Analyze data with a customizable pre-processing pipeline for filtering sequencing data and perform repertoire characterization with igBlast.  Visualize your results at each step with interactive charts.  Your data is securely stored on a powerful and scalable high performance data system, so it is accessible to you and those you share it with whenever you need it.  Analyses are run on the Lonestar supercomputer, providing resources that scale with any project. We’re just getting started, so leave us feedback, and keep an eye out for updates.  In the coming months we will be adding a lot of features, interface improvements, software, and tutorials.
                    </p>
                </div>

                <div class="right">
                     <h4>About:</h4>
                    <p>
Funded by a National Institutes of Health (NIH) research grant (#1R01A1097403-01), the “VDJ Server” project is led by The University of Texas Southwestern (UTSW) Medical Center in collaboration with the J. Craig Venter Institute and Yale University. The Texas Advanced Computing Center (TACC) at The University of Texas at Austin leads the cyberinfrastructure implementation, including the high performance computing (HPC) systems, storage, and software solutions.
                   </p>
                </div>
            </div>
        </div>
    </div>    
</div>
