<div class="navbar" role="navigation">
    <div class="navbar-content">
        <div class="navbar-header">

            <button type="button" class="navbar-three-bar-control" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-vdj-logo" href="">VDJ Server</a>
        </div>

        <div class="navbar-items">
            <!-- NOTE: the following is straight SASS and not semantic-->
            <ul class="nav navbar-nav">
                {{#if this}}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#account/profile">Edit profile</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Projects
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#project">View projects</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Community Data
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#community">View community data</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="login-state"></div>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>
