<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJML
            </div>
        </h2>

        <p>
            VDJML documentation is available <a href="/vdjml" target="_blank" data-bypass=true>here</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJ Pipe
            </div>
        </h2>

        <p>
            VDJ Pipe documentation is available <a href="https://docs.google.com/document/d/1eqgPg7v4Uu9UnLXTAYvIDqHLMLuE74Yz_DIuRGIggq0/edit?usp=sharing" target="_blank">here</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJServer Software
            </div>
        </h2>

        <p>
            VDJServer software projects are available at <a href="https://bitbucket.org/vdjserver/" target="_blank">https://bitbucket.org/vdjserver</a>.
        </p>
    </div>
</div>
