<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJML
            </div>
        </h2>

        <p>
            VDJML documentation is available at: <a id="vdjml-link" href="#" data-bypass=true>https://vdjserver.org/vdjml</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>
            <div class="alert alert-primary">
                VDJServer Software
            </div>
        </h2>

        <p>
            VDJServer software projects are available at <a href="https://bitbucket.org/vdjserver/" target="_blank">https://bitbucket.org/vdjserver</a>.
        </p>
    </div>
</div>
