/*****************************************************
_colors.scss - Custom Colors
*****************************************************/

/* import only the necessary Bootstrap files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$vdj-green: #689A87;
$vdj-lightgreen: #71B87D;
$vdj-red: #D93C39;
$vdj-orange: #CC6B4C;
$vdj-lightorange: #F6835E;
$vdj-yellow: #EAE386;
$vdj-darkgray: #6C757D;
$vdj-medgray: #B8C0C7;
$vdj-medlightgray: #E1E1E1;
$vdj-lightgray: #F1F1F1;
$vdj-darkblue: #4E95B8;
$vdj-blue: #7FA8BD;
$vdj-link: #61B8E4;

/* ----------------------------------------------------------
Bootstrap Color Overrides
https://getbootstrap.com/docs/4.0/getting-started/theming/
------------------------------------------------------------*/
$theme-colors: (
    'delete': $vdj-red,
    'success': $vdj-lightgreen,
    'save': $vdj-lightgreen,
    'search': $vdj-blue,
    'new': $vdj-darkblue,
    'add': $vdj-darkblue,
    'create': $vdj-darkblue,
    'upload': $vdj-medlightgray,
    'edit': $vdj-yellow,
    'copy': $vdj-lightorange,
    'info': $vdj-darkblue,
    'primary': $vdj-green,
    'light': $vdj-medgray,
    'cancel': $vdj-medgray,
    'back': $vdj-medlightgray,
    'download': $vdj-lightgreen,
    'darkgray': $vdj-darkgray,

    /* ----------------------------------------------------------
    Study Badges
    ------------------------------------------------------------*/
    'locus': $vdj-green,
    'cell': $vdj-lightorange,
    'stats': $vdj-darkblue,
    'vdjserver': $vdj-orange,
    '10x': $vdj-darkblue,
    'adc': $vdj-darkgray,
);

/* ----------------------------------------------------------
Elements
------------------------------------------------------------*/
$vdj-border: #E1E1E1;
$text-white: #FFFFFF;
// $text-danger: #FFFFFF;
$text-info: #6C757D;
$text-light: #FFFFFF;
$text-success: #FFFFFF;
$text-save: #FFFFFF;
// $text-download: #FFFFFF;

/* finally, import Bootstrap to set the changes! */
@import "~bootstrap/scss/bootstrap";
