.form-input-label {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 15px 10px;
    max-width: 200px;
    // margin: 50px auto;
    text-align: right;
    // background-color: white;
    // padding: 20px;
    // border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}